[2022-05-14 15:18] rbri commented on #483
Hi @RuralHunter - this is fixed and a new snapshot available.
Will try to find some time to work on your other issues also.

[2022-05-14 15:18] #483 closed, assigned to nobody

[2022-05-15 10:20] baofeidyz opened #484 "HtmlEmphasis.getVisibleText() is null"
[code]

Can't get the visible text value (demo) for this example right now.

I am using
[code]

[2022-05-15 13:40] rbri commented on #484
Hi @baofeidyz,

have added some test cases and this works for me. I guess the problem here is the css class that makes the tag invisible for some reason. Can you please check the class and provide more details if you still think the text should be returned.

[2022-05-16 02:25] RuralHunter commented on #483
Thanks!

[2022-05-16 05:42] baofeidyz commented on #484
Hi @rbri ,
Sorry about that case, I tried to create html file to test but it dosen't work. I have to paste the url here.

[code]

Here is part of my code:

[code]

[2022-05-16 06:14] rbri commented on #484
@baofeidyz Thanks will have a look later

[2022-05-16 06:51] baofeidyz commented on #484
@rbri thanks for your help. I also want to know how to fix it myself.

Is the following code can parse html content into Page object?
[code]
It seems to just read unparsed characters, I didn't find the rule how to parse it, is there any documentation to help me figure it out?

[2022-05-16 07:17] rbri commented on #484
https://htmlunit.sourceforge.io/faq.html#HowToParseHtmlString

[2022-05-16 07:35] rbri commented on #484
had a quick look at your code - and i guess you have a different problem.
You have disabled js but the page is generated mostly at the browser side using js.
You can check the page state by

    System.out.println(page.asXml());

[2022-05-17 02:33] baofeidyz commented on #484
@rbri

I really appreciate your help!

But this FAQ URL (https://htmlunit.sourceforge.io/faq.html#HowToParseHtmlString) doesn't help me figure out my problem.

I had js enabled at first and I got the error:
[code]
Then I found this question on stackoverflow.com
[code]
So I disabled js to avoid this exception.

I try to run the code:
[code]
Then I got the xml file:
[code]
There is no text in the xm

[2022-05-17 14:01] grantwforsythe commented on #310
Hi @rbri. Apologies for the late reply. The above code is from a work-related problem so I am not sure how much I can disclose but the stack trace was very similar to @lrpowell's.
[code]
After cleaning up the code base, I was able to resolve the issue by wrapping the POST request in a try-catch block. If any exceptions were thrown, it would try making the request again which solved the problem.

[2022-05-24 17:32] rbri commented on #480
Have started some work to optionally integrate babel as preprocessor for the scrips to overcome some Rhino limitations. But this will requires some time.

[2022-05-25 23:13] sengsational commented on #480
Sounds like a great idea for how to manage the Rhino limitations.

[2022-05-27 09:15] rbri commented on #479
Have done a look at this and some refactoring already.
But this requires a major update of the current HtmlInput implementation. Will try to make this step by step during the next days and inform about the progress.

[2022-06-08 07:51] pangzhaiwei opened #485 "Can not load web page completely"
Hi, when I use htmlunit to load this url
`https://view.inews.qq.com/a/20220607A09ES500?tbkt=D&uid=`
It throw an exception, and I can not get the full web page html. the exception is below :
[code]
And the version of htmlunit which I use is 2.62.0. My test source code is below:
[code]
Has anyone encountered a similar problem?

[2022-06-12 08:39] Lumisden opened #486 "Failing to get javascript rendered web pages even when .setJavaScriptEnabled(true) is called"
I can't get htmlunit to return javascript-rendered web pages even when I ensure webClient.getOptions().setJavaScriptEnabled(true) has been called.

For example, calling .getPage() to get the NemWatch web page for live supply and demand figures for national energy (https://ausrealtimefueltype.global-roam.com/expanded) returns the following web page:

[code]

The website doesn't seem to recognise th

[2022-06-12 12:41] rbri commented on #486
Usually this is the case if some js feature required for this page is not supported. Will have a look but I'm on vacation right now. Please be a bit patient...

[2022-06-13 20:08] skyhirider commented on #442
Glad to hear, managed to hunt it down in the end? It did seem like an odd bug.

[2022-06-14 16:58] rbri commented on #310
closeClinet - this typo indicates your stack trace is from a version before i made the fix for this.
Pleae make sure you have at least version 2.49.1 in use. And of course using the latest release 2.62.0 is always preferred.

[2022-06-14 22:06] grantwforsythe commented on #310
I am currently using version `2.61.0`

[2022-06-15 09:37] rbri commented on #310
And you are still facing this issue?
Can you please add the current stack trace.

[2022-06-17 11:28] zakimatyi commented on #401
Hi there,
Unfortunately, I have the same problem,
for me, the polyfills are loading because an es-5 version of the polyfill exists too which is not a module,
but the main-es5.js won't load with the following error:
2022-06-17 14:11:40,051 [,] ERROR c.g.h.WebConsole:262 - ERROR {"fileName":"https://pxe.cz:443/en/main-es5.js","lineNumber":3}. It contains 3 lines, and the most part of the code is in

[2022-06-21 17:08] grantwforsythe commented on #310
Sorry, @rbri, I have since changed the functionality of the program and I didn't keep a record of the old stack trace. I will try to recreate the initial problem to generate some output

[2022-06-21 17:11] rbri commented on #310
@grantwforsythe no problem

[2022-06-23 16:04] trajano commented on #188
This bug in https://github.com/mozilla/rhino/issues/913 will prevent this construct which is used in Vue from working
[code]

This can be quickly verified by https://www.jdoodle.com/execute-rhino-online/

![image](https://user-images.githubusercontent.com/110627/175344301-40105dbb-cffa-4b3b-a43e-699caaa07600.png)

[2022-06-24 10:14] pangzhaiwei commented on #485
Is the website own problem? Could anyone possibly help me

[2022-07-01 10:33] Pldi23 commented on #385
We are encountering the same issue intermittently with exactly the same stacktrace (HTMLunit v.2.62.0), are there any workaround/solution?

[2022-07-01 11:24] Pldi23 commented on #385
In our case `pos = null` what is triggered the error stacktrace, the issue is flaky.

[2022-07-01 12:15] rbri commented on #385
@Pldi23

org.apache.xml.dtm.ref.dom2dtm.DOM2DTM.addNode(DOM2DTM.java:215)

looks here like this

    type = node.getNodeType();

Can you please post your stack trace.
Do you have xalan-2.7.2?

[2022-07-01 12:29] Pldi23 commented on #385
@rbri

[code]

yes, we're using xalan-2.7.2

[2022-07-01 12:31] rbri commented on #385
Ah ok, the location is

    org.apache.xml.dtm.ref.dom2dtm.DOM2DTM.nextNode(DOM2DTM.java:390)

Will think about it again - maybe we can get rid of xalan at all.
PR's are welcome....

[2022-07-01 15:53] rbri commented on #385
@Pldi23 can imagine two possible scenarios
* your code (the XPath selection) works in parallel to some js code that manipulates the dom and the xpath engine works on some dom node in an intermediate state
* there is some code that produces a corrupt dom node that leads to this error

What do you think?

[2022-07-02 14:08] rbri commented on #385
@Pldi23 can you debug the problem?

[2022-07-04 06:28] Pldi23 commented on #385
Hard to say, I'll try to debug, but the issue happens very rarely and there no obvious way how to make it more reproducible.

[2022-07-04 06:34] rbri commented on #385
I understand, but without having more info it is more or less luck to find this.
If  i can make a xalan version with some debug code inside - will you be able to use this?

[2022-07-04 06:50] Pldi23 commented on #385
Hm, sounds good, I'm not sure if we could update somehow our ci infrastructure to use it, but at least I could use it locally I guess.
(By the way, you could also try to run one of our open source tests for example this one [bitbucket-branch-source flaky test](https://github.com/jenkinsci/bitbucket-branch-source-plugin/blob/master/src/test/java/com/cloudbees/jenkins/plugins/bitbucket/Security2033T

[2022-07-04 07:34] Pldi23 commented on #385
Ok I caught it, this is what I see on a debug right now (didn't analyze it yet)
<img width="1790" alt="Screenshot 2022-07-04 at 10 25 23" src="https://user-images.githubusercontent.com/47667812/177104789-9b0f6b5c-b7df-4792-9f54-7b6f73dc68a0.png">

[2022-07-04 08:37] Pldi23 commented on #385
Just as assumption, could [there](https://github.com/HtmlUnit/htmlunit/blob/master/src/main/java/com/gargoylesoftware/htmlunit/html/HtmlRadioButtonInput.java#L180-L185) be a race condition between 2 `getByXPath` calls?

[2022-07-04 13:25] rbri commented on #385
I think not, they are processed in sequence and also the results are copied into list.

[2022-07-04 13:39] rbri commented on #385
From your screenshot it looks like some code is executed during page parsing; usually a script tag.
I still guess xalan finds an DomObject still in initialization (has no parent set).

My guess is more code like com.gargoylesoftware.htmlunit.html.DomNode.basicInsertBefore(DomNode) where the node is already attached to the dom before e.g. the parent is set.

If you like i can try to reorder some of

[2022-07-04 13:44] Pldi23 commented on #385
If you have fix idea you could also make changes in a draft PR for example and I'll build it and substitute jar locally and setup a our test for a thousands run for the night.

[2022-07-04 14:12] rbri commented on #385
a new snapshot build 2.63.0-SNAPSHOT is available - let's cross our fingers

[2022-07-05 08:26] Pldi23 commented on #385
@rbri I ran our test with a your new build 1500 times and it failed again on 1497 attempt. (As I see your fix improve the flakiness, because statistically before your fix failures happened ~ 1 per 250 attempts, but didn't solve it completely)

[2022-07-05 08:58] rbri commented on #385
@Pldi23 you mean it failed only for 3 runs out of the 1500 ones?

Let me think a bit more about this - but for a first wild guess the results are not that bad :-D

[2022-07-05 09:04] Pldi23 commented on #385
I mean it failed once in 1500 runs

[2022-07-05 09:15] rbri commented on #385
@Pldi23 and if you run it only 1496 times :-D

Will check the code - maybe i can spot more locations to improve

[2022-07-05 09:29] rbri commented on #385
@Pldi23 made another snapshot build...

[2022-07-05 09:42] Pldi23 commented on #385
@rbri Thanks, with the same name `2.63.0-SNAPSHOT` or other?

[2022-07-05 09:49] rbri commented on #385
@Pldi23 yes same name

[2022-07-05 09:59] Pldi23 commented on #385
Could you please check, (perhaps I'm paranoying ;)), but I don't see your latest commit in `2.63.0-SNAPSHOT` which I just downloaded.
<img width="1087" alt="Screenshot 2022-07-05 at 12 56 56" src="https://user-images.githubusercontent.com/47667812/177302851-645a9eb4-1bb9-471f-9be6-89ad1831fc8a.png">

[2022-07-05 10:16] rbri commented on #385
Really strange but it looks you are right.
Have updated the snapshot again - please check

[2022-07-05 10:27] Pldi23 commented on #385
Checked again, weird, but latest commit are still not there.

[2022-07-05 10:51] rbri commented on #385
I looked inside

https://oss.sonatype.org/content/repositories/snapshots/net/sourceforge/htmlunit/htmlunit/2.63.0-SNAPSHOT/

and
![image](https://user-images.githubusercontent.com/2544132/177311978-179d86c6-1552-4119-916b-adafcb210ada.png)
contains the fix.

[2022-07-05 11:03] Pldi23 commented on #385
Thank you @rbri , you are right (for some reason maven reloaded htmlunit-2.63.0-20220704.141031-4 every time). Now I get latest build and I'll get back to you after next 1500 runs :)

[2022-07-05 11:13] rbri commented on #385
for maven the -U switch helps here but who knows what all the proxies and content delivery networks out there are doing

[2022-07-05 13:21] Pldi23 commented on #385
@rbri Oh, unfortunately I'm observing a much more failures in this batch of runs, approximately 1 per 100 fails.

[2022-07-05 13:52] rbri commented on #385
@Pldi23 no idea why the results are bad based on the last change - maybe the problem depends on something else.
Found another possible reason for a broken DOM tree - you can try the new snapshot.

[2022-07-05 14:17] rbri commented on #385
@Pldi23 have reverted the DomElement changes and made a new snapshot build

[2022-07-05 17:40] rbri commented on #385
have another idea to reduce the problem.... working on it

[2022-07-06 05:07] rbri commented on #385
Good morning,
after the ci has passed i made a new snapshot build.

From your stack trace we can see the xpath call (from HtmlRadioButton) is done during the parsing of the page. Usually this is the time where the dom is in manipulation and maybe some nodes are not in a consistent state. Because of this i think using XPath inside the HtmlUnit implementation is a bad idea and i have replaced the ca

[2022-07-06 05:34] Pldi23 commented on #385
Hi @rbri , unfortunately my local night runs still fails (5 times in 1500 runs).
I see your new commit (seems promising, because I also think that the issue typical to HtmlRadioButton and does not apply to other elements, but who knows...) and morning build, I'll try that patch and rerun soonish.
Thanks for being so persistent, we appreciate it!

[2022-07-06 11:06] Pldi23 commented on #385
@rbri good news, no failures in 1500 runs with latest build 🎉🎉🎉! You're a hero of the day!

[2022-07-06 11:10] rbri commented on #385
before starting the celebration i think you have to do some more tuns to be sure - maybe it was only luck this time

[2022-07-06 11:11] Pldi23 commented on #385
Sure, I setup more runs

[2022-07-06 11:14] rbri commented on #385
btw any change in terms of performance?

[2022-07-06 11:19] Pldi23 commented on #385
Hard to measure (every test running ~8-10 sec and depends of how much load my PC currently and I don't have any tools like dynatrace connected locally) but visually looking on timing I would say performance didn't get any worse

[2022-07-06 17:06] rbri commented on #385
As always i had some hope the changes making the monster faster :-)
Still everything stable and green?

[2022-07-06 17:25] Pldi23 commented on #385
based on my code review of your changes (with my limited knowledges of your library) performance should be improved :) And yes, test is still consistently green!

[2022-07-06 17:28] rbri commented on #385
Ok time to switch of the computer and think about the next steps - do you need a release of this?

[2022-07-07 05:05] Pldi23 commented on #385
I don't want to influence your release strategy, but yes, we need the fix in the nearest release.

[2022-07-07 05:10] rbri commented on #385
There is no real fixed strategy outside making one nearly every month. Will have a look if i can make one this weekend.

[2022-07-08 07:42] rbri commented on #385
Will close this now because it seems to be fixed for at least this situation.

Please open a new one if you facing similar problems.

[2022-07-08 07:42] #385 closed, assigned to nobody

[2022-07-08 08:14] kamalakannanvkp opened #487 "Table Row data is not scrapped properly"
Hi All,  I am trying to scrap a page that has a tracking info .

When i try to access the html contents post scrapping , the row data is not in the expected string format .

**### Error :**  As you can see from below , one of the table data is not in text/string format  when scrapped, but the same request works fine when we execute the scrapped url from browser.

<tr class="h-b-e">
   <td/>
   <td

[2022-07-08 08:52] rbri commented on #487
any chance to get the urlToScrap?

[2022-07-08 08:56] rbri commented on #487
BTW

    webClient.waitForBackgroundJavaScript(Integer.MAX_VALUE);
    webClient.waitForBackgroundJavaScriptStartingBefore(10000);

are no options, you have to call this methods after getting a page to have any effect.

[2022-07-08 09:04] kamalakannanvkp commented on #487
<X> is the url to scrap
i have made changes as u suggested, but still its the same issue

[2022-07-08 09:34] kamalakannanvkp commented on #487
Heiya , any updates (i have removed the url due to some info , let me know if you havent got it so far)

[2022-07-08 09:38] rbri commented on #487
got it - will have a look if i can reproduce the problem

[2022-07-08 09:42] kamalakannanvkp commented on #487
thanks , we need to use `tracking-number` to construct xpath (that too in the same format like
**123-87654321**)
though I can scrap all messages from the site (except the **event** , which _i am more interested on_ ) .

[2022-07-08 12:43] rbri commented on #487
Looks like i can reproduce this outside of the web page.
Will try to isolate a test case out of this and then fix it. But this requires time....

(Btw. if HtmlUnit is important for your company please consider sponsoring my work https://github.com/sponsors/rbri)

[2022-07-08 12:55] kamalakannanvkp commented on #487
thanks, looking forward to the solution .

[2022-07-08 18:56] rbri commented on #487
Ok, the problem here is

* the cell value is created using a var named event
* window has an readonly event property
* based on this setting var event silently fails - this is correct for most readonly properties

But event is [Replaceable] (see https://dom.spec.whatwg.org/#window-current-event) and because of this the code of the webpage works.

Will have a look what solutions are possible here.

[2022-07-09 13:03] rbri commented on #487
Have implemented a solution, the plan is so make a release this weekend.

[2022-07-09 13:03] #487 closed, assigned to nobody

[2022-07-09 14:31] rbri commented on #83
Hi
just found this old one - i like to close this. Please open a new one if you still think the current behavior is not correct.

BTW: Hope you are fine....

[2022-07-09 14:31] #83 closed, assigned to nobody

[2022-07-09 14:37] rbri commented on #310
@grantwforsythe ?

[2022-07-09 16:29] kamalakannanvkp commented on #487
Thanks , that was too quick. Will I be able to test on Monday ?

Thanks,
Kamal.
07384032288/9159877743

[2022-07-09 17:40] rbri commented on #487
I was able to reproduce your case with the provided URL and i have done the tests again after the fix and the content was completely visible.
And the plan is still to make a release the weekend.

So from my point of view you will have a release version that does the job for you on Monday (CET).

(hopefully ;-))

[2022-07-09 18:53] kamalakannanvkp commented on #487
Amazing !  Never have I ever before loved Monday , but this time :)

Thanks,
Kamal.
07384032288/9159877743

On Sat, Jul 9, 2022, 6:40 PM RBRi ***@***.***> wrote:

[2022-07-11 09:19] gaellalire opened #488 "NPE in ComputedCSSStyleDeclaration.getLeft"
[code]
Issue is still there in 2.62.0.

I tested if parent is null to workaround the issue, worked for me but maybe not the best fix.

[code]

[2022-07-11 11:44] rbri commented on #488
Was there another issue before?

[2022-07-11 11:54] rbri commented on #488
Your code is calling offsetLeft on an element without a parent - correct?

[2022-07-11 12:08] j-shin opened #489 "Don't process anymore when calling this javascript"
The version is 2.50.0, but same issue on 2.62.0 also
This is test code
This `https://www.orami.co.id/` is using `https://cdn.seondf.com/js/v5/agent.js` javascript
When javascript engine execute `https://www.orami.co.id/` page and `https://cdn.seondf.com/js/v5/agent.js` script, the program stop
Don't occur any exception, Don't occur timeout, just stop the program then don't process next code.
In th

[2022-07-11 12:09] gaellalire commented on #488
2.60.0 is also impacted

No idea, I'm using htmlunit-driver for selenium request. I did not check what the website is producing. Here is the full stacktrace
[code]

[2022-07-11 12:13] rbri commented on #488
ah ok, will have a look

[2022-07-11 14:57] black-snow commented on #83
@rbri yeah thanks, throw it away - most probably obsolete.

I'm quite fine, yes. I hope the same goes for you! How are things going with HtmlUnit? Guess you could alway use some more helping hands? (Btw, does the GitHub sponsor thing go 100% straight into your pocket? Or does it work like ye good old app stores? :D)

[2022-07-11 15:48] rbri commented on #83
Ok, will do.

Yes outside the usual problems when getting older :-)

I think good - lot of work, some plans for version 3.0 but no time to do it as fast as i like

Of course

Not really, but the sum i got every month is at least sufficient for the discussion with my wife if she ask what i'm doing here all the time
Maybe i think different about that after my 'Steuererklärung'

[2022-07-11 16:50] rbri commented on #488
Looks so simple but i'm struggling to build a test case for this.
Have to think about this.

Can you please try with the brand new 2.63.0 release i did yesterday and check if this is still there.

[2022-07-11 21:16] black-snow commented on #83
@rbri glad to hear.

What do you think would be the best way to support this project with little spare time (one to a couple of hours / week)? Working on random issues? Working on something particular? Docs? "Moderation"?

[2022-07-12 00:07] grantwforsythe commented on #310
@rbri, apologies again for the late response. It has been a busy month.

I tried to create the problem locally but I was unsuccessful so I will try to explain the program. This is for a work-related issue so I am unable to share any source code. Perhaps, you might be successful in recreating the issue if you are so inclined.

I am navigating a website using various POST requests to download some f

[2022-07-13 08:12] gaellalire commented on #488
Still same with 2.63.0. I made a Maven project for you to reproduce.

[2022-07-13 12:14] rbri commented on #488
OK, many thanks, running your code inside the debugger provides the final hint. Now i can reproduce your case.
Will try to fix it and inform via twitter if a new snapshot is available.

[2022-07-13 16:25] rbri commented on #488
fixed, please try 2.64.0-SNAPSHOT.

[2022-07-13 16:25] #488 closed, assigned to nobody

[2022-07-14 17:43] rbri commented on #310
Hi @grantwforsythe,
thanks for all the details. Do you have a chance to debug into the code and tell me more about the exception. I really do not understand what can be null here. Or is the exception something thrown by the jetty code?
Or maybe you can send me (via private mail) the whole stack trace?

[2022-07-15 10:06] snicoll opened #490 "Selenium 4.3.0: cannot access HasInputDevice"
An upgrade to the latest Selenium release leads to the following:

[code]

[2022-07-16 10:59] rbri commented on #490
Sorry, this is a duplicate of https://github.com/SeleniumHQ/htmlunit-driver/issues/119.
Work on this has started, hopefully a beta will be available soon.

[2022-07-16 10:59] #490 closed, assigned to nobody

[2022-07-18 13:18] grantwforsythe commented on #310
It very well could be something wrong with the code I have written as I am not able to reproduce the issue. I am under NDAs so I am afraid I won't be able to go into more detail, even in private.

Thanks for all of your help. You can mark this issue as closed @rbri.

[2022-07-18 15:05] rbri commented on #310
Thanks for the feedback, feel free to open a new issue if the NPE is back again (or something else pops up)

[2022-07-18 15:05] #310 closed, assigned to rbri

[2022-07-21 07:52] gaellalire opened #491 "ReferenceError: "variableName" is not defined."
I got
[code]

But the chrome browser doesn't seem to care.

[2022-07-21 07:54] gaellalire commented on #491
You can reproduce with same example as before https://gaellalire.fr/npe/npe_test.zip

[2022-07-21 15:59] rbri commented on #491
Will have a look....

[2022-07-23 07:55] rbri commented on #491
@gaellalire
Did some analysis and there are good and bad news

good news
The problem you reported is solvable (see e.g. https://htmlunit.sourceforge.io/faq.html#javaScriptExceptions)

the bad news
Did some tests and it looks like clicking the next button does not forward to the password input. I fear this is because the page is implemented with angular and HtmlUnit has some open problem with the c

[2022-07-23 08:03] rbri commented on #83
Great question - thanks for offering some help (and by the way there is something going on in the selenium universe https://www.selenium.dev/blog/2022/test-automation-summit/)

Documentation is always a point - at the moment i try to improve the docs when answering questions (e.g. on stackoverflow) an there is no good doc to point to.
Maybe this is something you can look at - have a look at the st

[2022-07-30 16:08] black-snow commented on #425
@mauromol so a fix would be as easy as adding another exclusion? Have you tried it + would you mind filing a PR?

[2022-07-30 16:19] black-snow commented on #489
I can see it doing lots of things inside HtmlUnitRegExpProxy and I see some regex stuff happening in the JS. Could you provide an unminified, unuglyfied version of the JS?

[2022-08-01 06:30] khusanjontuychiboev opened #493 "Replace Apache Xalan with an alternative"
Hello team,

Blackduck and WhiteSource report [this](https://nvd.nist.gov/vuln/detail/CVE-2022-34169) vulnerability against Apache Xalan, which comes under htmlunit dependency. I want to know if that is planned to remove or replace Apache Xalan in future releases of the htmlunit library.

Thanks
Khusanjon

[2022-08-01 06:46] rbri commented on #493
I already had a look at this several times, but i have no real idea how to do this with reasonable effort.
If you have an idea we can discuss this.
Or if you use HtmlUnit for your business we can have a look set up some sponsoring for this dedicated task.

@black-snow - if you like you can have a look at possible xalan alternatives

[2022-08-01 07:08] rbri commented on #493
Maybe we have to have a closer look at SaxonJ-HE

[2022-08-01 21:22] black-snow commented on #493
To sum this up: Apache Xalan has long been the _go-to_ for XLST in java but is pretty much dead now and has a [CVE](https://nvd.nist.gov/vuln/detail/CVE-2022-34169) with a CVSS of 9.8 (!), that basically allows arbitrary code execution via malicious XLSTs.

I'll update the comment while investigating further.

---

[Link to Saxon](http://saxon.sourceforge.net/) "the Open source Saxon XSLT & XQuery

[2022-08-03 06:30] rbri commented on #493
Thanks for the first analysis.
Xalan is only used as XPath processor - for XSLT we use the java build in stuff.
Look at all the classes in the com.gargoylesoftware.htmlunit.html.xpath package.

If my memories are right, i did some try to use the jdk stuff also for XPath handling but i failed (maybe i'm to stupid).

But this means, there is no real need (at the moment) to use a full blown xslt engi

[2022-08-04 09:06] Cyberavater commented on #444
Hello, I'm getting this on 2.63.0

[code]

[2022-08-04 11:52] rbri commented on #444
@Cyberavater please try to use https://github.com/HtmlUnit/htmlunit-android

[2022-08-04 11:53] rbri commented on #444
@black-snow as you already have updated the readme - maybe you can place a link to the android project also.

[2022-08-04 12:49] Cyberavater commented on #444
Yes, it works nicely now, thanks!

[2022-08-04 19:36] black-snow commented on #444
sure thing, PR incoming

[2022-08-10 13:34] jpwilhelms opened #496 "form submit is cancelled if invalid element exists in form"
From htmlunit 2.43.0 and newer:

If a text input field has a parameter "maxlength" and the field contains a string of longer length, the submit is cancelled (in HtmlForm.areChildrenValid()).
Firefox 103 has a different behaviour. The form is submitted there.

[2022-08-10 19:58] rbri commented on #496
Interesting, should be easy to test and to fix.

[2022-08-14 07:57] rbri commented on #496
Progress: working on writing tests for this right now

[2022-08-15 08:34] linht12 opened #497 "java.lang.NoClassDefFoundError: org/apache/http/client/CredentialsProvider"
![image](https://user-images.githubusercontent.com/100549932/184603128-c4620eac-7349-42c2-b32e-7b7a0472a9b0.png)

java.lang.NoClassDefFoundError: org/apache/http/client/CredentialsProvider

	at com.rjgf.htmlunit.TestApplication.homePage(TestApplication.java:13)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.j

[2022-08-15 10:46] #497 closed, assigned to nobody

[2022-08-15 10:46] linht12 commented on #497
resolved

[2022-08-15 10:58] rbri commented on #497
Great - have fun using HtmlUnit.

[2022-08-15 18:34] rbri commented on #496
made a new snapshot build available but not all test are green
Please try and if you like have a look at the new tests cases - feedback and more testcases are welcome.

[2022-08-15 19:54] Lemar98 opened #498 "unable to get html code like in web page"
I just want to get a string from the ipinfo.io site, but when parsing the page using HtmlUnit, the list is returned empty for some reason, although the element code on the site shows that it is not empty. Why is this happening and how to fix it?

My java code:

        LogFactory.getFactory().setAttribute("org.apache.commons.logging.Log", "org.apache.commons.logging.impl.NoOpLog");

        java.u

[2022-08-15 20:31] rbri commented on #498
Two hints:
1. if something does not work, switching off the logging is a bad idea - maybe there are some hints in the log output about the problem
2. you have switched off js support - maybe some parts of the page are created at the client side from javascript code

[2022-08-16 05:22] rbri commented on #498
Have done some tests with you example. This will not work at the moment because some deficits of the current js support.

two reasons
* TypeError: redeclaration of formal parameter t. (https://cdn.ipinfo.io/_next/static/chunks/pages/_app-1b76d095f7792b77.js#1)
* missing ( before function parameters. (https://cdn.ipinfo.io/_next/static/chunks/8374-d56693eab3444afc.js#1)

Both log messages are point

[2022-08-16 06:36] Lemar98 commented on #498
Okey, thanks for your answer

[2022-08-16 17:39] rbri commented on #496
think this is done now - please try the latest snapshot

[2022-08-18 12:48] gaellalire commented on #491
@rbri
It was only a good news, I got it working only with ignoring javascript exception
Thank you

[2022-08-18 12:48] #491 closed, assigned to nobody

[2022-08-30 13:42] Rhaniel opened #499 "HtmlUnit doesn't load and execute javascript correctly"
I'm trying to navigate through the page and get the itens from the table wich is dynamically loaded.

When I see the page's XML the items don't exist, however when analyzing the page's code in the browser, the items are there.

My code:

      ` WebClient client = new WebClient(BrowserVersion.BEST_SUPPORTED);

        CookieManager cookieManager = client.getCookieManager();
        cookieManager.s

[2022-08-30 15:34] rbri commented on #499
Yes, there is some hope to get this solved - with some hacks i got this result

![image](https://user-images.githubusercontent.com/2544132/187479316-6a9ca177-6bc1-4172-88ba-fd160f05fe40.png)

[2022-08-30 15:35] rbri commented on #499
I like to analyze at least one problem in HtmlUnit before talking about the nasty details.
Is this ok for you or do you need a solution asap?

[2022-08-30 15:50] Rhaniel commented on #499
I found the error, but I dont'n know how to solve it. One of the JS has an error when loaded and because of that no function is loaded. Should I try to swich the JavaScriptEngine for some that ignores a function error?

Function ERROR:
` function trListaMuralProcesso_Click(_nCdProcesso, _nCdModulo, _sDsProcesso, bAbreItemAutomatico, _nCdEdital : -2147483648) {`

[2022-08-30 16:01] rbri commented on #499
Ok, i found 2 problems

1. the default parameter in the function - this is not supported by Rhino at the moment. You have to patch the code
2. and finally you have to wait some time until the js is done

            private static final String url="https://portaldecompras.firjan.com.br/portal/Mural.aspx";

            public static void main(String[] args) throws FailingHttpStatusCodeException, Ma

[2022-09-02 06:13] rbri commented on #499
@Rhaniel does the hack work for you?

[2022-09-02 06:48] rbri commented on #499
@Rhaniel sorry the encoding problem was introduced by me. Have updated my comment above and the fix code. Hope that help until the root cause is addressed in rhino.

[2022-09-02 11:50] Rhaniel commented on #499
@rbri Your code work for me. I understand the hack you used, thanks a lot for the help.

[2022-09-02 11:51] Rhaniel commented on #499
I'll close the issue and wait for updates. Thank you again

[2022-09-02 11:52] #499 closed, assigned to nobody

[2022-09-02 17:48] rbri commented on #499
Have fun using HtmlUnit - thanks for the feedback.

[2022-09-08 17:26] rbri commented on #223
As https://github.com/spring-projects/spring-framework/issues/28240 is closed i will close this also.

[2022-09-08 17:26] #223 closed, assigned to rbri

[2022-09-10 17:11] sumitsg004 commented on #493
HI @rbri , any alternative planned or being worked on?

[2022-09-14 22:42] sengsational opened #500 "Getting latest snapshot jar files without Maven"
When I go to https://oss.sonatype.org and search HtmlUnit, I find neko-htmlunit 2.63.0-SNAPSHOT, but not the 2.65.0-SNAPSHOT that I'd apparently get if I had Maven.

[2022-09-15 10:16] skyhirider opened #501 "Allowing easier overriding of window.print() behavior?"
If we want to implement our own way to handle print page requests, we need to override the Window class and inject to to whichever classes are using it.

Could this be made easier by calling the attachment handler and allowing us to define the behavior there, or implementing a print handler ?

The use case is that I would like to get the html of the page whenever print is called and save it. Custo

[2022-09-15 11:03] rbri commented on #501
I think we need another handler here - will have a look later on this.

[2022-09-15 14:17] rbri commented on #501
Have done a first impl - please have a look, suggestions are welcome.
A new snapshot build containing this is available

[2022-09-15 14:18] rbri commented on #500
I fear that is my fault - have just made a new snapshot build available - please check.

[2022-09-16 17:38] rbri commented on #493
@sumitsg004 no real plans so far, did some experiments with the xsoup code - what i really like with rolling our own is the option to share the selector implementation (in parts) with the css selector stuff.

Maybe we can implement two parsers building the AST but using same nodes for same selectors (eg.g by id) and then processing the ast on an root node.

But this is just only an idea - any help

[2022-09-17 12:18] rbri commented on #493
Next step is to try to make a xpath only xalan clone - lets see if this works

[2022-09-17 13:12] skyhirider commented on #501
I've noticed that the WebWindow the print handler is working with is not immutable. When the code working with the page gets the page response with a delay the state of the page may be different from when print was called.

I think this could either be mentioned in the javadoc - that the response needs to be pulled out first and stored as a variable - or another method could be added that pulls th

[2022-09-17 16:59] rbri commented on #493
current status: https://github.com/HtmlUnit/htmlunit-xpath

[2022-09-17 17:07] rbri commented on #501
@skyhirider many thanks for the feedback - will write some test and think about your suggestions.

Maybe we can only add some configuration methods to the interface...

[2022-09-17 20:07] skyhirider commented on #501
Thanks rbri for looking into this and glad the feedback was useful.

One option would be to implement it similar to how the attachment handler is built, two methods, one for page and one for the response. If the response returns false (default implementation) then the page handler would be triggered instead.

Thou not sure how to block the main thread until print is handled and where to add the co

[2022-09-18 07:40] rbri commented on #501
As far as i can see this is already the case because there is only one js method working on the page at the same time (there is some locking in HtmlUnit to enforce this). And because you are in a js method working on this page the page is locked and no other js method can change the page.

[2022-09-18 11:12] rbri commented on #501
Hava added some documentation and the event support. Also have changed the interface to be more closer to the spec.

[2022-09-18 13:24] skyhirider commented on #501
I've tested it and it looks good now. And the print html standard documentation you linked to in the javadoc is great, have not checked if the behavior was standardized.

When will the next version be released? Asking to see how much time I have to test it.

[2022-09-18 15:17] rbri commented on #501
Just made a new snapshot build - hope you like the latest changes.

There is no release date planned so far, i have at lease one major issue on my list - hopefully 1-2 weeks from now.

[2022-09-18 17:06] rbri commented on #489
Have done a short test with the current snapshot and it looks like the problem is gone. Maybe the site has changed.

@j-shin please check if you see the same result

[2022-09-19 14:52] sengsational opened #502 "Form submit that runs jquery"
During a set of interactions with a web site (that I do not control), I'm able to get a reference to a form and am able to select and enter data on the form, as confirmed by examination of the DOM, but I've tried several ways to submit, without joy.

There are many SO questions about how to submit a form with HtmlUnit, but I feel this question is not yet addressed because what I have discovered is

[2022-09-20 06:57] rbri commented on #493
current status: html unit switched to htmlunit-xpath

[2022-09-20 09:08] sumitsg004 commented on #493
@rbri thanks for the update.

[2022-09-20 15:12] rbri commented on #502
Hi @sengsational,

so many strange things - not sure where to start.

1. Is the page you are working with public - to give me a chance to reproduce your problem?
2. do you see any log entries before trying to submit the form?

form.getInputByName("submit").click(); should work.
Please try some wait after this like

    page = form.getInputByName("submit").click();
    webClient.waitForBackgroundJa

[2022-09-23 19:14] sengsational commented on #500
Thanks.

Found the 2.65.0 snapshot at this path location in sonatype.org:  `Snapshots/net/sourceforge/htmlunit/htmlunit/2.65.0-SNAPSHOT`

There are a lot of files under that directory path, including the following one, which is probably the one I was looking for:
https://oss.sonatype.org/service/local/repositories/snapshots/content/net/sourceforge/htmlunit/htmlunit/2.65.0-SNAPSHOT/htmlunit-2.65.0-

[2022-09-23 19:14] #500 closed, assigned to rbri

[2022-09-23 19:50] sengsational commented on #502
Thanks for taking time out to look at this one.  Although I didn't solve this using htmlunit, I'm no longer 'stuck' on this, so if you have bigger problems to work, you can safely ignore this issue.

This error came about on my desktop machine, in order to learn more about how to interact with this web site through some web site interaction code I'm trying to write for iPhone.  I was able to get i

[2022-09-25 10:52] skyhirider commented on #501
Its working fine, thanks rbri.

[2022-09-26 12:34] sengsational commented on #502
I realized I didn't try `page.getEnclosingWindow().getEnclosedPage()`, so tried that just now, after just the click and the wait.  It did not return the 'please enter your pin' page, which would match the Firefox interaction.

I have been running `.asXml()` after every interaction saving that to a file.  Then I can open that in a browser to see what the page looked like.  I did this before and aft

[2022-09-30 10:06] dijia478 opened #503 "The url of the js file will appear "\t" causing an error"
When I use WebClient to request some websites and execute website js code, when requesting js files, the url of js files will have a "\t" separator, which will cause the request for js files to fail. The url of the js file in the website is out of our control, so I think this special character should be handled with "replace()" in the code.

![image](https://user-images.githubusercontent.com/30929

[2022-09-30 10:24] rbri commented on #503
great finding, will try to fix this soon

[2022-09-30 16:45] rbri commented on #503
think i did it, please try the latest snapshot (comments on the code are also welcome)

[2022-10-03 16:56] #501 closed, assigned to rbri

[2022-10-04 13:58] #503 closed, assigned to rbri

[2022-10-05 06:12] #496 closed, assigned to rbri

[2022-10-05 06:12] #493 closed, assigned to nobody

[2022-10-10 01:06] sbabcoc commented on #187
@rbri I could take a crack at this, but guidance would be appreciated. The architecture of the project and how it percolates down to the behaviors it implements is not immediately obvious.

[2022-10-10 16:28] ShoodEver commented on #232
Hi, I see this isssue still open. is there any update please?

[2022-10-10 17:36] rbri commented on #187
@sbabcoc  sorry for being that late on this but there is far too much on my desk.
I have started to write some documentation but found some more problems. Hope i can commit something tomorrow.

[2022-10-10 18:01] sbabcoc commented on #187
I totally appreciate your workload. I use HtmlUnitDriver all the time and would like to contribute. It may take me a while to produce a pull request, and I'd like to avoid applying my changes at the wrong level of abstraction.
I haven't found any W3C Java interfaces that declare the shadow hierarchy. Do these even exist?

[2022-10-11 19:00] Xuchengen opened #505 "How to append a piece of html to the body tag"
How to append a piece of html to the body tag?
[code]

[2022-10-12 03:50] Xuchengen commented on #505
i have found the answer
[code]

[2022-10-12 05:12] rbri commented on #505
Have done a look at this, if i got you right you like to do more or less the same as body.innerHTML('<...>') does.
Setting innerHTML is implemented but the implementation is at the wrong place. will move that code a bit.

[2022-10-12 05:24] Xuchengen commented on #505
That's right. Thanks a lot for your answer. HtmlUnit is an awesome project. I'm actually using it to get web article content and also using it to get rendered text.

[2022-10-12 13:29] rbri commented on #505
@Xuchengen can you please try the latest snapshot and use DomElement.setInnerHtml(String).

[2022-10-12 13:33] Xuchengen commented on #505
Ok, no problem.

[2022-10-12 13:52] rbri commented on #187
Have written some words - more will follow (see my last commit).

No idea - i expect we can use the same classes as base classes as we have for the real dom.

Maybe you can start with ShadowRoot as subclass of DocumentFragment and DomShadowRoot as subclass of DomDocumentFragment.

[2022-10-12 13:53] rbri commented on #187
And maybe a good starting point is to write some simple basic tests

[2022-10-12 20:28] sbabcoc commented on #187
@rbri The current W3C Maven dependencies don't appear to declare the shadow DOM interfaces. Perhaps they've decided that everyone needs to just implement the specs from the official documentation instead.

[2022-10-12 22:10] sbabcoc commented on #187
My Selenium framework unit tests include a few very basic Shadow DOM tests: finding elements, reading values, clicking checkboxes, typing into fields. These should provide a good starting point. (Typing is currently non-functional on Firefox due to this years-old [issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1503860).)

[2022-10-13 01:23] sbabcoc commented on #187
For reference, the commit referred to above can be found [here](https://github.com/HtmlUnit/htmlunit/commit/a068ebe6eee60568677f81a989fa1f694b6f066e), which points to JavaDoc for the [WebDriverTestCase](https://github.com/HtmlUnit/htmlunit/commit/a068ebe6eee60568677f81a989fa1f694b6f066e) abstract class extended by the unit test classes of **HtmlUnit**.

[2022-10-13 21:13] piyush302 opened #508 "Getting different HTML page than in Chrome Browser"
Loading this page [https://www.amazon.com/s?bbn=13707&rh=n%3A283155%2Cn%3A173507%2Cn%3A173515%2Cn%3A227544%2Cn%3A13707%2Cn%3A13723&dc&qid=1665651390&rnid=13707&ref=lp_13707_nr_n_1](url)
but the response I am getting is different from what I am getting in Chrome Browser.

My Code
`

		WebClient client = new WebClient(BrowserVersion.CHROME);
		String baseUrl = "https://www.amazon.com/s?bbn=13707&rh=

[2022-10-14 18:10] rbri commented on #508
Did a short test here and it looks like most of the content is there (also in your test.txt).
You can use page.asNormalizedText() to get the (visible) content.

[2022-10-14 18:29] piyush302 commented on #508
@rbri
No test.txt only have header and footer content. Main content is missing. And also text.txt only have 3k lines but the response which I got from chrome browser have 25k lines.
You can also convert the text file to html extension to visualize the content.
Attaching screenshot
test.txt view
![Screenshot (16)](https://user-images.githubusercontent.com/54273159/195915787-0cf4cd09-a8e8-48e0-8dc6-

[2022-10-15 08:23] rbri commented on #508
@piyush302 ah sorry, i had a look at the html headers :-)

Have done a small fix to avoid the error visible in the logs. But now opening the page works without errors.
This means there is some triggering of js missing in HtmlUnit. But i fear it will be a really long way to go to figure out what goes wrong here.
It will be great if you can do that and i can help you with some tips how to nail down

[2022-10-15 11:34] piyush302 commented on #508
@rbri Sure
I have few observations .When I tried to get the same page using Selenium Chrome Driver. First time page load gave me the same response(only header and footer) when I reloaded the page I got everything.
So I tried doing same with HTMLUNIT but after page.refresh() also it didn't work.
After using driver.navigate().refresh(); in Selenium I started getting correct page.
I used this code of

[2022-10-16 09:16] #505 closed, assigned to rbri

[2022-10-18 07:46] apetrichkovich commented on #232
Hi, same exception with page `https://intoli.com/blog/not-possible-to-block-chrome-headless/chrome-headless-test.html`

[2022-10-19 03:14] 530542319 opened #509 "Get exceptions and different page."
I'm trying to load a Wechat official account URL [https://mp.weixin.qq.com/s/PcUNumU5j2T3UD-3FN66lQ](https://mp.weixin.qq.com/s/PcUNumU5j2T3UD-3FN66lQ) and I get some exceptions and a strange page.
The java code looks to add some useless Html tags like span and attributes like "display:none" in div which causes the div not visible (please check out the attachment below).
My code:

    public stati

[2022-10-19 03:16] LiuJinghao opened #510 "Is htmlunit affected by vulnerability CVE-2022-42889?"
https://nvd.nist.gov/vuln/search/results?form_type=Basic&results_type=overview&query=CVE-2022-42889&search_type=all&isCpeNameSearch=false

[2022-10-19 05:34] rbri commented on #510
The only usage of this is StringEscapeUtils at the moment - i think we are ok here.

Outside of this the current snapshot builds are already using 1.10.0

[2022-10-19 05:34] #510 closed, assigned to nobody

[2022-10-19 07:48] LiuJinghao commented on #510
Yes, I see the current snapshot buils are already using 1.10, will this change be released in 2.66.0? When will it be released?

[2022-10-19 08:26] rbri commented on #510
yes
maybe this weekend

[2022-10-19 09:18] gangadharkasturi opened #511 "java.io.NotSerializableException"
Trying to scrape a page using htmlunit.. Encountering below issue with the framework. Please help and fix.

	fos = new FileOutputStream(file);
					byte[] by = SerializationUtils.serialize(page);
					out = new ObjectOutputStream(fos);
					out.writeObject(by);

org.apache.commons.lang3.SerializationException: java.io.NotSerializableException: com.gargoylesoftware.htmlunit.javascript.NativeFunctio

[2022-10-19 09:21] gangadharkasturi commented on #511
URL trying to scrape: https://udyamregistration.gov.in/Udyam_Verify.aspx

Here I am trying to serialize the page and saving to disk which is resulting above error.

[2022-10-19 09:50] rbri commented on #511
Why you like to serialize the page - maybe you like to do something like page.asXML()?

[2022-10-19 10:56] gangadharkasturi commented on #511
I want to serialize and save the page so that my next request will pick the same page and deserialize and enters the captcha value to get the information.

[2022-10-19 13:18] rbri commented on #511
and you will stop/start the jvm before the next request?

[2022-10-20 07:00] gangadharkasturi commented on #511
The process is :
In the first request, I will capture this page and save it on disk by serializing the page.
In the second request, I will deserialize the object to page and again perfom some operation and send back the response.

I am encountering the issue when I try to save the page on to disk, it is throwing the mentioned exception.

Let me know if you have any other questions please.

[2022-10-20 11:51] gangadharkasturi commented on #511
Could you pls check my above comment?

[2022-10-20 16:04] sbabcoc commented on #187
@rbri I've started a pull request in my fork of the HtmlUnit project: https://github.com/sbabcoc/htmlunit/pull/1

[2022-10-21 06:34] gangadharkasturi opened #512 "java.io.NotSerializableException"
https://github.com/HtmlUnit/htmlunit/issues/511

[2022-10-21 09:41] rbri commented on #512
@gangadharkasturi what is your point here?

[2022-10-21 10:04] gangadharkasturi commented on #512
why it is giving the exception, why the page is not saving on disk as a serialized object?

[2022-10-21 10:08] rbri commented on #512
because com.gargoylesoftware.htmlunit.javascript.NativeFunctionToStringFunction$NativeFunctionToStringFunctionChrome
is not serializable

But what is the point of opening another issue for the same problem?
Or is there a second one?

[2022-10-21 10:27] rbri commented on #512
will close this as duplicate

[2022-10-21 10:27] #512 closed, assigned to nobody

[2022-10-21 11:21] rbri commented on #511
fixed, please use the latest snapshot

[2022-10-21 11:21] #511 closed, assigned to nobody

[2022-10-21 12:05] gangadharkasturi commented on #511
Thanks for fixing it out. But here is the another issue raised after fixing the above one.

2022-10-21 17:33:47 [JS executor for com.gargoylesoftware.htmlunit.WebClient@65732010] WARN  c.g.h.IncorrectnessListenerImpl - Obsolete content type encountered: 'text/javascript'.
java.io.NotSerializableException: com.gargoylesoftware.htmlunit.javascript.host.Element$$Lambda$81/543270429
	at java.io.Object

[2022-10-21 12:15] gangadharkasturi opened #513 "com.gargoylesoftware.htmlunit.javascript.host.Element$$Lambda$81/543270429"
Thanks for fixing it out. But here is the another issue raised after fixing the above one.

2022-10-21 17:33:47 [JS executor for com.gargoylesoftware.htmlunit.WebClient@65732010] WARN  c.g.h.IncorrectnessListenerImpl - Obsolete content type encountered: 'text/javascript'.
java.io.NotSerializableException: com.gargoylesoftware.htmlunit.javascript.host.Element$$Lambda$81/543270429
	at java.io.Object

[2022-10-21 16:05] rbri commented on #513
made a new snapshot build - please try

[2022-10-21 16:21] Hauk opened #514 "New release with commons-text 1.10"
Hi there!

We are currently using htmlUnit in one of our components, and we were made aware of the CVE linked here: https://mvnrepository.com/artifact/net.sourceforge.htmlunit/htmlunit

The fix for this CVE is to update commons-text to 1.10 or higher, which you have added here: https://github.com/HtmlUnit/htmlunit/commit/caae7849abf1464ba58b60f70943a4c9b629f139

Is it possible you could do a relea

[2022-10-21 17:41] rbri commented on #514
I have a plan to do it this weekend - cross your fingers :-).

As usual i will inform at [twitter](https://twitter.com/htmlunit) if done

[2022-10-21 17:41] #514 closed, assigned to nobody

[2022-10-22 02:35] gangadharkasturi commented on #513
Thank you @rbri, I'll try and let you know

[2022-10-22 02:40] gangadharkasturi commented on #513
2022-10-22 08:09:31 [JS executor for com.gargoylesoftware.htmlunit.WebClient@76bb4792] WARN  c.g.h.IncorrectnessListenerImpl - Obsolete content type encountered: 'text/javascript'.
java.io.NotSerializableException: com.gargoylesoftware.htmlunit.html.StaticDomNodeList
	at java.io.ObjectOutputStream.writeObject0(ObjectOutputStream.java:1184)
	at java.io.ObjectOutputStream.defaultWriteFields(ObjectOu

[2022-10-22 02:52] gangadharkasturi commented on #513
StaticDomNodeList : Fixed the issue, it is working fine. Please accept my pull request to make the changes.

[2022-10-22 07:43] rbri commented on #513
sorry i have created my own patch - please rebase your repo before working on more pull requests.
A new snapshot build is available - please test.

Thanks for the report - and more pull requests are welcome.

[2022-10-22 21:51] #513 closed, assigned to nobody

[2022-10-23 17:11] gangadharkasturi commented on #513
Thanks for all the support, will surely contribute from my side.

[2022-10-31 18:35] skyhirider commented on #10
I've been using HtmlUnit for several years now with the latest Java version without any issues so I don't think its a problem anymore, therefore will close my own issue.

[2022-10-31 18:35] #10 closed, assigned to nobody

[2022-11-02 10:20] asmodejan opened #516 "Htmlpage.getPage() returns empty webpage"
I'm getting a blank page when I try to access the following URL with HtmlUnit

https://register.dpma.de

It's the Official Publications and Register Database of the German Patent and Trademark Office. No such problems while trying to access the central Homepage https://www.dpma.de or the online patent publication search database https://depatisnet.dpma.de.

It makes no difference if JavaScript is

[2022-11-02 12:42] rbri commented on #516
At least the page makes a redirect to https://register.dpma.de/DPMAregister/Uebersicht and this page seems to make some magic page protection stuff. Will have a deeper look but no idea if i can get this working.

[2022-11-02 13:10] rbri commented on #516
looks like you are facing F5 Network’s Javascript detection - they like to protect pages from bots ....

[2022-11-02 17:56] gimpox opened #517 "Exception when calling webClient.getPage()"
I'm trying to automate the login to an online service that I subscribed.
I get an exception at my first java instruction

`HtmlPage page = webClient.getPage("https://foresignal.com/en/login/index");`

that is

`Exception class=[net.sourceforge.htmlunit.corejs.javascript.EvaluatorException]
com.gargoylesoftware.htmlunit.ScriptException: missing formal parameter (https://cdn.jsdelivr.net/npm/bootstr

[2022-11-04 08:00] rbri commented on #517
This is because bootstrap uses the spread operator currently not supported by Rhino (https://github.com/mozilla/rhino/issues/1217).

[2022-11-04 08:05] rbri commented on #517
If you like we can think about some transpile functionality as an enhancement for HtmlUnit....

[2022-11-04 09:55] gimpox commented on #517
I solved by using Jsoup. I'm ok for the moment.

[2022-11-04 11:57] rbri commented on #517
Ok, when Jsoup is enough then you can also use the WebClient and simply disable Javascript.

[2022-11-04 11:58] rbri commented on #517
Thanks - will close this.

[2022-11-04 11:58] #517 closed, assigned to nobody

[2022-11-04 12:31] syrinx2012 opened #518 "421 Misdirected Request error with HtmlUnit and not with curl, OKHttp and standard browsers"
I have a HtmlUnit "script" that has been running for months, but started to fail about a week ago. Some changes were most probably made on the backend of the web site targeted by my script, but I don't have all the details unfortunately.

Basically the script throws an exception on the first attempt to access the main page. The code looks like this:

[code]
The exception thrown:
`com.gargoylesoftw

[2022-11-04 14:15] rbri commented on #518
@syrinx2012 do you have a public url to reproduce?

[2022-11-04 18:28] rbri commented on #518
Looks like this page is Http/2 only - will have a deeper look.

[2022-11-14 16:59] trajano commented on #409
Dupe of https://github.com/HtmlUnit/htmlunit/issues/188

[2022-11-17 08:00] qzhang6862 opened #519 "HtmlUnit WebClient enabled JavaScript, but still got JavaScript disabled message"
I tried to use HtmlUnit to scrape the webpage of https://www.maersk.com/tracking/

I already set webClient.getOptions().setJavaScriptEnabled(true);

[code]

However, I still got a page saying `Maersk doesn't work properly without JavaScript enabled. Please enable it to continue.`

The HTML Page I got is as below:

[code]

Does anyone know if anything is not set correctly? Or the `Maersk` website h

[2022-11-20 20:24] skyhirider commented on #306
I think this suggestion can be closed as implementing data urls into the driver did simplify making tests even if they require selenium to run

https://github.com/SeleniumHQ/htmlunit-driver/issues/102

[2022-11-22 09:27] 1362238576 opened #520 "setJavaScriptEnabled(true) java.lang.OutOfMemoryError: Java heap space"
running code：
		WebClient webClient = new WebClient();
		WebClientOptions options = webClient.getOptions();
		options.setJavaScriptEnabled(true);
		HtmlPage page = webClient.getPage("https://djsakldjsalkmdlwje.top");
		System.out.println(page.asXml());
		webClient.close();

Memory keeps growing ，why?
if  setJavaScriptEnabled(false)  Then normal，  However, some web pages are not complete ！

[2022-11-25 15:04] RuralHunter opened #521 "Descriptor of Function.length should be configurable"
`var desc=Object.getOwnPropertyDescriptor(Function.prototype, 'length');`
In Chrome, desc.configurable is true while in htmlunit it's false.

[2022-11-26 14:07] rbri commented on #521
Hi @RuralHunter,
fix is on the way - https://github.com/mozilla/rhino/pull/1284

Is it ok to have a new snapshot build containing this at the end of the week (~  2.12)?

[2022-11-26 14:38] rbri commented on #520
There are many possible reasons for that and because the js code of the page seems to be obfuscated it will be hard to guess what is going wrong here.

In most cases this is related to some loops changing the content of a dom element until a specific size is reached - this kind of loops might run endless because HtmlUnit is headless.

From a first look i saw a script appinstall.js seems to run end

[2022-11-26 14:38] #520 closed, assigned to nobody

[2022-11-27 03:20] RuralHunter commented on #521
sure, thanks a lot!

[2022-11-27 04:13] RuralHunter commented on #521
Sorry, it seems more change is needed.

[code]
and
`var desc=Object.getOwnPropertyDescriptor(alert, 'length');`

desc.configurable still gets false.

[2022-11-27 12:37] rbri commented on #521
good point, pr is updated/fixed

[2022-11-27 14:54] RuralHunter commented on #521
Thanks. I tested the new pr but it still didn't fix attributes for builtin functions(maybe others too):
`var desc=Object.getOwnPropertyDescriptor(alert, 'length');`
This still gets false result.

[2022-11-27 16:23] rbri commented on #521
oh, i guess there is more to do... i have a fix already but i have to think about this to make the most generic solution

[2022-11-27 18:15] rbri commented on #521
@RuralHunter next try is on the way

[2022-11-28 03:25] RuralHunter commented on #521
Thanks. This time it fully works for my testing web site.

[2022-11-28 03:25] #521 closed, assigned to rbri

[2022-11-28 07:50] rbri commented on #521
As always - it's a pleasure to work with you improving HtmlUnit (and sometimes Rhino).

Thanks for all your input.

[2022-11-30 07:41] rbri commented on #521
Rhino PR is accepted, building a new snapshot is on the way.

[2022-11-30 08:07] RuralHunter commented on #521
Great, thanks!

[2022-11-30 08:36] duonglaiquang opened #522 "Unexpected ScriptException when bound functions are called inside Promise.then()"
# Problem in brief
HtmlUnit/Rhino throws  `ScriptException: null` when a "bound function" is given as the callback function of `Promise.then()`. This error is caused by `cx.topCallScope` being null when passed to `BoundFunction.call()`.

# More details
This problem was introduced after the implementation of Promise was changed to Rhino's native implementation in HtmlUnit version 2.56.

# Testing
H

[2022-11-30 08:52] rbri commented on #521
You can grab it.

[2022-11-30 13:01] rbri commented on #522
Will have a look, thanks for the report.

[2022-11-30 17:02] vkadam commented on #238
Hello, first of all, thanks for creating and maintaining htmlunit 🙇

If anyone can please provide some update on this, will be appreciated?