[2021-03-06 15:11] ingomohr commented on #304
Thanks, @rbri ! This is great. :)

[2021-03-07 08:58] rbri commented on #289
ElementClosesElement is now fast - based on your suggestion (assertTitle and @NotYetImplemented)

[2021-03-08 18:50] rbri commented on #305
Sorry, was busy with something else during the last days. Did another try to make the code more robust. Lets see if it helps.

[2021-03-08 18:57] rbri commented on #318
But i hope the line number is changed - what is the new number when running the decompressed source?

[2021-03-08 19:20] rbri commented on #301
Any news?

[2021-03-08 19:27] Deadc00l commented on #301
Cant reproduce my issue, sorry.

[2021-03-08 20:47] lrpowell commented on #318
I am still getting the same line number (#1)...
[localhost log.docx](https://github.com/HtmlUnit/htmlunit/files/6104036/localhost.log.docx)

[2021-03-08 20:48] lrpowell commented on #305
so there is an updated SNAPSHOT version I should try?

[2021-03-09 07:54] rbri commented on #305
please try the jar from https://jenkins.wetator.org/job/HtmlUnit%20-%20Headless/ws/target/

[2021-03-13 08:34] rbri opened #326 "support Cookies with SameSite attribute"
see https://github.com/SeleniumHQ/htmlunit-driver/issues/97

[2021-03-13 17:25] rbri commented on #288
Will close this now - JDK 11 is on our CI server and works similar to JDK 8

[2021-03-14 09:26] rbri commented on #321
Can you please verify with the latest snapshot build. I tried to come closer to real browsers.

[2021-03-16 19:27] niemand23oa opened #327 "getPage returns the same old page"
Hi there,

I have a middleware platform which has jobs scheduled to scrap data from a website by calling the same Java service which uses HtmlUnit (by passing different search parameters to the web page). Therefore, it might happen that multiple separate threads are used with HtmlUnit.
The problem is that method getPage returns the same old page no matter what I set in the code. I tried to use bel

[2021-03-17 06:23] rbri commented on #327
Hi @niemand23oa ,

thanks for using HtmlUnit and the report.

I' not sure i got your point - so let me please ask some questions

You are using the latest version?

Calling

        page1 = client.getPage(webPageURL1);
        page1.asXML();
        page2 = client.getPage(webPageURL2);
        page2.asXML();

produces different pages - right?

Can you please log the webPageURL before and page.asXM

[2021-03-17 07:08] niemand23oa commented on #327
Hi @rbri
Thanks for your answer. Yes, I am using the latest version. I am actually not using a single thread from which I try to get different pages. I have multiple threads running (each having a new instance of the WebClient) and each thread tries to get a different page.

For instance, 1 thread tries to get:
 page = client.getPage("https://website.com/?a=1&b=2");

The second one tries to get:
p

[2021-03-17 07:17] rbi commented on #321
Still not working. Maybe we expect a different outputs from the `checkValidity()` Method. For example this test case:

`HtmlNumberInputTest#defaultValuesInvalidValue()`

https://github.com/HtmlUnit/htmlunit/blob/2680c342ef12028db398ac3c5b5dc14a91a59fb8/src/test/java/com/gargoylesoftware/htmlunit/html/HtmlNumberInputTest.java#L641

You put in "abc" into an input element of type "number" and expect

[2021-03-17 07:23] rbri commented on #327
Ah, ok now i got your point - paging.

Using one client per thread is the right idea - from my point of view.
And i can't imagine why HtmlUnit should return the wrong pages. Maybe there is something with the way you are using the application. Maybe because of a missing cookie or something else you always get the first page.

To dig deeper i like to suggest to write a simple client that only proces

[2021-03-17 07:38] rbri commented on #321
OK - a bit clarification about HtmlUnit Tests :-)

The test class extends WebDriverTestCase - this means i have a config and i can run the unchanged class once using Selenium/WebDriver and once with HtmlUnit. Doing this offers the possibility to compare the real browser with HtmlUnit without doing it manually. (You can have a look at the javadoc for more details about this)

All tests from this cl

[2021-03-17 07:47] rbri commented on #321
Or maybe simpler - can you provide the definition of your numberInputField.

[2021-03-17 07:56] niemand23oa commented on #327
Ok will do.
To give you a context for my implementation, at the moment we are using java.net.urlconnection which simply reads different pages and retrieves the source which is then parsed (by tokenizing based on some expected values in the page source).
We have a source DB table from which we form the page URL string. Multiple processes can be triggered in the same time which read the source DB an

[2021-03-17 08:09] rbi commented on #321
This is my input element.

[code]

and this is the form element around it. I just changed the action from the original.

[code]

For writing a test case I need some time.

[2021-03-17 09:09] rbri commented on #321
Thanks - will have a look at my tests again in the evening.

[2021-03-17 09:31] rbri commented on #327
Another option you can check
* use a real browser - start a private tab (to have no cookie history) open the first url
* start a second private tab (to have no cookie history) open the second url

check if you really get different pages

[2021-03-17 09:39] rbi commented on #321
Or maybe a step back: I have a requirement like "The auto sign out time must be a value between 0 and 999". As tester I want to test when I enter non-numbers it should not work. Entering non-numbers is `sendKeys()`. How would I ideally check that this does not work?

[2021-03-17 10:06] niemand23oa commented on #327
I did the check. The pages are different on each tab.

Am now every time I run the Java service using different pages I get the same page, as if it's somehow saved in a cache. I will try to restart the dev application server so see if afterwards I get a different page (I think that this will happen).

UPDATE:
After the restart, I am still getting the same page.
I also cloned the Java service and u

[2021-03-17 12:04] huyit88 opened #328 "chartjs image is not correct"
@Test
    public void testGenerateChart() throws Exception {
        try (final WebClient webClient = new WebClient(BrowserVersion.CHROME)) {
            webClient.getOptions().setCssEnabled(true);
            webClient.getOptions().setJavaScriptEnabled(true);
            webClient.waitForBackgroundJavaScript(25);
            final HtmlPage page = webClient.getPage("https://www.chartjs.org/samples

[2021-03-17 12:06] huyit88 commented on #328
Please let me know if i miss few steps.

[2021-03-17 16:50] rbri commented on #328
From a first look your code seems to be ok.

And i guess there are some issues to fix to make this finally working. But i fear there is not enough time for me at the moment to hunt for the bugs.
Do you see a chance to strip down this to a more simple version to have something to work on (e.g. without the animation and simply a case that shows the wrong starting point)?

[2021-03-17 16:56] rbri commented on #327
Is the page public - to have a chance to reproduce it from here?
If you like you can also send the page url via mail..

[2021-03-17 17:00] rbri commented on #321
Good point (for the long answer have a look at www.wetator.org or https://www.informatik-aktuell.de/entwicklung/methoden/test-von-webanwendungen-auf-das-werkzeug-kommt-es-an.html).

So from my point of view you should use sendKeys() and then click on the submit button and check for the error msg.

[2021-03-17 17:01] rbri commented on #321
In between i have added another testcase and also did a minor fix for the HtmlUnit driver but i fear this will not solve your problem.

[2021-03-17 17:35] niemand23oa commented on #327
Yes, the page is public.
This is the [URL](https://www.benzinpreis-blitz.de/)

[2021-03-17 18:20] rbri commented on #327
This code produces different output for Berlin & Köln

    public static void main(String[] args) throws Exception {
        String uriBerlin = "https://www.benzinpreis-blitz.de/?land=de&suchfeld=Berlin&entfernung=5&sorte=super-e5&sortierung=preis";
        String uriKoeln = "https://www.benzinpreis-blitz.de/?land=de&suchfeld=Koeln&entfernung=5&sorte=super-e5&sortierung=preis";

        try (final

[2021-03-17 18:23] rbri commented on #321
Or maybe you can check for the error msg if the :invalid pseudo class is used to show some error. In this case i have to implement the support for this pseudo class in HtmlUnit :-)

[2021-03-17 19:02] niemand23oa commented on #327
Thanks for looking into it.
I think I found the root cause. We recently had a proxy change and it seems that after sending the requests without proxy it works without any issues. The proxy was messing everything up.

[2021-03-17 21:31] rbri commented on #327
Great, thanks for using HtmlUnit

[2021-03-17 21:32] #327 closed, assigned to rbri

[2021-03-18 04:30] huyit88 commented on #328
Without animation, the picture is empty. I am not sure what is the root cause.
Maybe HtmlCanvas and all functions which relative to canvas drawing?
I want to use HtmlUnit to export chartjs image on server.
I try to search the user guide and example to integrate with chartjs but no result.
Could you help to review this one? If it's not possible, can you suggest other solutions with base java.

[2021-03-18 06:57] rbi commented on #321
I guess for the :invalid pseudo class error message the number input field still needs to be detected as invalid. I suppose the error message and the `checkValid()` method share the same validation logic or do they?

[2021-03-18 07:10] rbri commented on #321
Yes of course. While reading the whole thread again i will add another testcase later today. Maybe there is hope to fix more....

[2021-03-18 08:23] Deadc00l opened #329 "Setting browser language has no effect"
When I change the language for the browser via BrowserVersionBuilder, the language remains on my default settings. This feature worked before the BrowserVersionBuilder was introduced

[code]

[2021-03-18 09:03] rbri commented on #329
Sorry - where do you face the wrong language?

[2021-03-18 09:17] Deadc00l commented on #329
The content of the page changes depending on the language set. For example, if I go to google.com and search for the button with the id "gbqfbb", I always get the German text "Auf gut Glück!" instead of the French translation.

[2021-03-18 10:20] rbri commented on #329
ok, will have a look - i think i had a unit test for this but ....

[2021-03-18 10:32] Deadc00l commented on #329
Thanks a lot!

[2021-03-18 12:31] rbri commented on #329
Usually the web pages using the Accept-Language header to determine the locale. The builder has a separate setter for this. Can you please check if setting the also helps.

[2021-03-18 12:43] Deadc00l commented on #329
Thank you very much, that helped :)

[2021-03-18 12:43] #329 closed, assigned to nobody

[2021-03-18 12:44] rbri commented on #329
have to think about this dependency - maybe at least the docu needs some improvement

[2021-03-18 18:21] rbri commented on #321
Hope i finally got your point:

    /**
     * @throws Exception if the test fails
     */
    @Test
    @Alerts(DEFAULT = "-0-0-true",
            FF = "-0-0-false",
            FF78 = "-0-0-false")
    @HtmlUnitNYI(IE = "-0-0-false")
    public void issue321() throws Exception {
        final String html = "<html>\n"
                + "<head>\n"
                + "<script>\n"
                + L

[2021-03-18 18:22] rbri commented on #328
The idea was to strip down the chart js sample to something more simple (e.g. without animation) to localize at least the first problem. Will have a look at this later, maybe i can build some tests.

[2021-03-18 18:32] rbri commented on #312
Usually you can change your pom to point to the snapshot of HtmlUnit instead of the release. Outside of this you only have to make sure, the repository section of your pom contains the proper snapshot repository

see section installation here https://htmlunit.sourceforge.io/

[2021-03-18 18:38] rbri commented on #313
Just a guess: because you have javascript support disabled while loading the page, all the page elements dynamically generated via js are not there. Maybe you can do page.asXML() after the getPage call to get an idea

[2021-03-18 18:39] rbri commented on #301
Ok, will close this. Please open a new one if you have problems.

[2021-03-18 18:39] #301 closed, assigned to nobody

[2021-03-18 18:41] rbri commented on #289
Have done many more improvements we are now from 1:45 min down to 1:15min.

More will come.

[2021-03-18 18:47] rbi commented on #321
Thank you for your great support. Unfortunately I have to wait until Wednesday again to test it against my real world code. The test case in your last comment looks indeed like the problem I have.

[2021-03-19 11:12] rbri commented on #321
no problem, there are still some other tasks to work on :-)

[2021-03-19 11:42] rbri commented on #305
Any news on this?

[2021-03-19 13:39] lrpowell commented on #305
well, shoot.  I never added a comment here.  I didn't get anything different with the latest snapshot.  I have been off on other things, but will redo the testing again when i get back to it (hopefully today or tomorrow).  Thanks for checking

[2021-03-19 13:40] lrpowell commented on #312
thank you

[2021-03-19 15:24] lrpowell commented on #312
Hmm, thinking about this again.  So if I have this in my pom.xml:
[code]
If that specific snapshot was updated, I would need to download the new version and put it into my repository.
Otherwise if a new version 2.49.0 was made, I would need to update the pom.xml and download that and put into my repository.
Correct?  I felt like I was missing something where maven would automatically pull down the

[2021-03-19 15:40] lrpowell commented on #312
ah, the lightbulb just went on.  that is what this "snapshotRepository" is for:
[code]

[2021-03-19 15:40] #312 closed, assigned to nobody

[2021-03-20 11:06] rbri commented on #185
will close this for now, please open a new one if you face the problem again (or another one :-))

[2021-03-20 11:06] #185 closed, assigned to nobody

[2021-03-20 15:28] black-snow commented on #185
yup, thanks

[2021-03-21 12:25] lrpowell commented on #305
repeated tests with March 19 htmlunit - 2.48.0-SNAPSHOT, still white .png file results

[2021-03-21 17:21] rbri commented on #328
have added a first test case but i fear this will not be so easy because chartjs does many layout dependent things

[2021-03-22 15:57] lrpowell commented on #324
This is my most significant blocker at this time for the project.  I will try to use the pop up menu to select to launch to this link.

Some more information on the link itself and debugging it in typescript trying to understand why we cannot see the **onclick** when debugging and determining if this is a reason why the click function is not run with HtmlUnit:

This functions the same as other wid

[2021-03-22 18:24] rbri commented on #324
Hi Lora,

thanks for the detailed description. At the moment i  have no real idea what is going wrong here - as always is there something in the logs?

Another option is to force HtmlUnit to ignore the visibility - sometimes HtmlUnit thinks the control is not visible and because of this the click is not processed. See #301 for details.

[2021-03-22 18:37] VadimStepura opened #330 "Throws error “java.util.NoSuchElementException” on page load"
I try to load the page using HtmlUnit, select the city "Белая Церковь" and see the availability of the drug in pharmacies, but even at the initial stage, when loading the page, I get an error java.util.NoSuchElementException. When I set the WebClient parameter (BrowserVersion.INTERNET_EXPLORER), then I get the page, but not completely. The HtmlUnit version is 2.48.0. Here is an example of my code,

[2021-03-22 23:01] christian-draeger opened #331 "Render HTML from String"
Is there a convenient way to pass a html string to htmlunit and get back the rendered pagesource?
i am currently working around this by passing html string in data uri scheme as an url, which is working but not really convenient.

here is a little example test that on the one hand illustrates the described workaround:
[code]

as you can see all `p`-tags text has been overwritten by javascript. gre

[2021-03-22 23:33] twendelmuth commented on #331
Hi Christian,

you should be able to get that behavior by using the `WebConnectionWrapper` and overwriting the response (copy it from a file, from a string, whatever).

Just a quick example to illustrate how to get there:

[code]

[2021-03-23 07:00] christian-draeger commented on #331
Nice this looks really promising. I'll give it a try as soon as I am back to keyboard 🙂 awesome

[2021-03-23 07:07] rbri commented on #331
Maybe these methods (new in 2.48.0) are your friends

`WebClient.loadHtmlCodeIntoCurrentWindow(String)`
`WebClient.loadXHtmlCodeIntoCurrentWindow(String).`

[2021-03-23 07:46] christian-draeger commented on #331
@rbri it's working like a charm.

again an kotlin example:
[code]

which leads me to my last question :D
whats the "most correct way" to consume the rendered html as string?
what i am currently doing is calling `asXml()` on an `HtmlPage`, which is more or less correct since theoretically every XML is also a valid HTML. but on the other hand i am having things like `<?xml version="1.0" encoding="UT

[2021-03-23 10:45] rbri commented on #331
From my point of view asXml() is the normalized complete view of the current page; asNormalizedText() is the text only view.

[2021-03-23 10:51] christian-draeger commented on #331
great. then i will continue that way.
already changed to your approach and everything works smooth https://github.com/skrapeit/skrape.it/commit/d9bd8ce3576b19a23f83f3e046599d5382274b1f

[2021-03-23 10:56] rbri commented on #331
Thanks, will close this.

[2021-03-23 10:56] #331 closed, assigned to nobody

[2021-03-23 18:57] rbri commented on #330
Have done some tests and this code passes here

        String url = "https://www.aptekanizkihcen.ua/ru/ynformatsyya-o-tovare/7891";

        try (WebClient webClient = new WebClient(BrowserVersion.FIREFOX)) {
            webClient.getOptions().setThrowExceptionOnScriptError(false);
            HtmlPage page = webClient.getPage(url);

            webClient.waitForBackgroundJavaScript(20_000);

[2021-03-23 23:00] lrpowell commented on #324
I have tried the full click line as is done if the element is not visible:
`anchor.click(false, false, false, true, true, false);
`
with no different results.
Attached is my output when I set to output ALL
				`java.util.logging.Logger.getLogger("com.gargoylesoftware").setLevel(java.util.logging.Level.ALL);
`
[RunPDIReport.docx](https://github.com/HtmlUnit/htmlunit/files/6193211/RunPDIReport.docx)

[2021-03-24 14:31] rbi commented on #321
Well still not working. I type in "abc" in an input of type "number" and `checkValidity()` returns true.

I haven't found the `public void issue321()` test case you pasted two comments ago in the code. I therefore pasted it into the `HtmlNumberInputTest`. It runs green there.

I haven't checked how this test-in-differnt-Browsers-magic works there but you have:

[code]

Aren't you explicitly saying

[2021-03-24 19:42] rbri commented on #330
There is a new snapshot available - please try

[2021-03-25 19:02] VadimStepura commented on #330
Thanks for the answer. I checked and the page loads without problems. I have not yet been able to insert my value into the input and get a drop-down list to select the desired option, but this is probably not a library error.
I also tried to do it through Selenium WebDriver, everything was done there.

[2021-03-25 19:02] #330 closed, assigned to rbri

[2021-03-26 07:13] rbri commented on #330
Thanks for your feedback. Feel free to ask more or open issues if you have other problems with HtmlUnit.

[2021-03-27 08:57] andreasarf opened #332 "Scroll script not working"
As I understood, `window.scrollBy` function should be working as result of https://github.com/HtmlUnit/htmlunit/issues/282. Apparently, it is not the case when I tried it in my case to trigger some lazy load using v2.48.0:

[code]
The number of elements after scroll is the same as before.

What did I miss? Is the scroll functionality still not perfect?

[2021-04-04 05:42] zhenxi1023 commented on #313
I think you are right, I will try this way to solve my problem. Thanks for your advice.

[2021-04-04 05:42] #313 closed, assigned to nobody

[2021-04-05 21:14] lipusal opened #333 "Cookies aren't always sent to subdomains"
Manually adding cookies to the using any of the constructors of [Cookie](https://github.com/HtmlUnit/htmlunit/blob/e1f559f15a682a325a55ae4ed41b116653f21eeb/src/main/java/com/gargoylesoftware/htmlunit/util/Cookie.java) except for this one https://github.com/HtmlUnit/htmlunit/blob/e1f559f15a682a325a55ae4ed41b116653f21eeb/src/main/java/com/gargoylesoftware/htmlunit/util/Cookie.java#L99-L101

results

[2021-04-06 11:39] rbri commented on #333
Many thanks for this detailed report. We maybe had some similar findings during the last months. But so far I was not able to reproduce them because the pointer to the manual construction of the cookies was missing. Will enhance the test suite and fix it soon. You can have a look at twitter for news.
Thanks again

[2021-04-06 15:47] rbri commented on #270
have done another major cookie fix - #333
please check the next snapshot

[2021-04-06 17:51] rbri commented on #333
just made a new snapshot - please have a look

[2021-04-06 18:26] rbri commented on #324
Hi Lora,
i was on vacation for some days - sorry for not working on this.

Just as an idea - maybe the event is assigned to some element in the shadow dom?

[2021-04-07 16:25] Jaaap opened #334 "Implement HTMLDetailsElement setter"
Please implemement a setter for the `HTMLDetailsElement` so the JS `myDetailsElem.open = true;` does not fail with this error anymore:
[code]
Something like:
[code]
appears to work for me, feel free to do something similar in htmlunit/src/main/java/com/gargoylesoftware/htmlunit/javascript/host/html/HTMLDetailsElement.java

[2021-04-07 17:24] rbri commented on #248
Have added some support for this, please wait for the next snapshot and check

[2021-04-07 19:38] lrpowell opened #335 "asXml results show text that does not appear with call to asNormalizedText()"
I have a\<li\> HtmlElement that is part of a menuList. When I look at the element asXml, I can see the text portion that shows up when I open the action Menu item, "Investigate Data".  However, when I request this item.asNormalizedText() I get nothing back.

1) Is this working correctly?

<edited 4/8/2021>. Removed question #2.  I can click on the anchor.  I am getting an updated page back from th

[2021-04-07 19:43] lrpowell commented on #324
I will ask a team member.  I don't see anything related to the shadow dom, but not sure what to look for.

[2021-04-08 10:46] rbri commented on #334
Made a new snapshot build available - please have a look

[2021-04-08 11:55] Jaaap commented on #334
I haven't tested it yet but took a look at the code and it looks good.
Thank you.

[2021-04-08 11:55] #334 closed, assigned to rbri

[2021-04-08 12:12] lrpowell commented on #324
Angular, does supports shadow dom when creating a component, but we haven't utilized this option in our code. By default, Angular operates dom directly.  I have searched the html/xml for any #shadow and nothing is there.

[2021-04-08 14:46] lrpowell commented on #335
Note that now I am seeing a change in the xml, the li class attribute includes **p-disabled**:

    <li role="none" data-ik="1" class="p-menuitem ng-star-inserted">
        <a pripple="" aria-haspopup="false" class="p-menuitem-link p-disabled p-ripple ng-star-inserted">
            <span class="p-menuitem-text ng-star-inserted"\>Investigate Data</span>
        </a>
    </li>

sorry about the forma

[2021-04-08 21:04] lrpowell opened #337 "New Page asXml() truncated"
I believe I am launching into the new page that will display the chart on the browser.  But the html returned is not complete no matter how long I wait (the chart does take a while when rendered in browser).

[code]

[chart_loaded.html.txt](https://github.com/HtmlUnit/htmlunit/files/6281374/chart_loaded.html.txt)

The last line is:

 `<script src="/Navigator/assets/pt/dojoChart/DojoGraphLauncher.j

[2021-04-08 21:36] lrpowell commented on #337
The final line is 2985 characters (with spaces).  Is there a string limit reached?

[2021-04-09 18:23] lipusal commented on #333
Awesome! How can I download the snapshot with Maven? In [Maven Central](https://mvnrepository.com/artifact/net.sourceforge.htmlunit/htmlunit) I only see up to v2.48.0, no snapshots.

[2021-04-09 21:45] rbri commented on #333
Its available from the sonatype snapshot repo. Please have a look at https://github.com/HtmlUnit/htmlunit topic latest ci build.

Am 9. April 2021 20:23:54 MESZ schrieb Juan Li Puma ***@***.***>:

--
Diese Nachricht wurde von meinem Android-Gerät mit K-9 Mail gesendet.

[2021-04-10 02:19] lipusal commented on #333
Added the repository like so in my POM:
[code]

Updated to `2.49.0-SNAPSHOT` and ran the same tests again. Looks like the subdomain matches in all cases 🎉

- `testSameDomain`:

23:14:01.300 [main] DEBUG o.a.h.c.protocol.RequestAddCookies - Cookie [version: 0][name: name][value: value][domain: example.com][path: null][expiry: null] match [example.com:80/]
- `testSubdomain`:

23:14:02.281 [main] DEB

[2021-04-10 11:18] rbri opened #338 "CSS pseudo classes :invalid and :valid not completly ready"
see
* com.gargoylesoftware.htmlunit.javascript.host.css.CSSSelectorTest.pseudoInvalid()
* com.gargoylesoftware.htmlunit.javascript.host.css.CSSSelectorTest.pseudoValid()

[2021-04-10 12:06] rbri commented on #333
Again thanks for the report, a new release is on the way.

[2021-04-10 12:06] #333 closed, assigned to nobody

[2021-04-11 08:15] rbri commented on #337
Hi Lora,
sorry for not being super responsive during the last weeks. But i have to solve some issues for my real job - there is no so much time left for working on all this stuff.
And maybe you are now reaching the 'Trough of Disillusionment' (https://en.wikipedia.org/wiki/Hype_cycle) [just kidding]

As always i will try to work on your (and all the other) issues on a best effort base (or maybe yo

[2021-04-11 08:20] rbri commented on #337
Back to this issue.

There is no limit - as fas a i remember. The only limit is related to the way responses are saved in the WebClient - usually the response is saved in memory but if the limit is reached the response goes into a temp file.
You can change the value by using the WebClientOption#setMaxInMemory(numberOfByotes). The default value is 500 * 1024.

Please change the value and check if t

[2021-04-11 08:22] rbri commented on #337
And another point - at least some chart libraries are using animation based on Window.requestAnimationFrame() to make some nice looking charts that 'evolve'. This might be a reason why your page does not finish.

For the last release (done yesterday) i made some documentation how to deal with this - https://htmlunit.sourceforge.io/details.html. It might be worth a try to update your wait code with

[2021-04-11 08:28] christian-draeger opened #339 "how to change Http request method and add request body?"
hey,
i am wondering how to change the http verb and add a request body in a request as well as how to render the corresponding response.

my use case is the following:
* i have an endpoint (POST that expects a json as request body) that is returning html that contains inline script tag
    * therefore i would need to add "application/json" as content-type header and a body as string that represent

[2021-04-11 12:16] lrpowell commented on #337
Bring on the slope of enlightenment!
What does sponsoring entail?

[2021-04-12 08:55] rbri commented on #339
Hi Christian,

maybe you can
* create your own WebRequest
* call  WebClient#getPage(webClient.getCurrentWindow().getTopWindow(), request);

This will process your request and place the result inside the given window including the processing of js inside the page.

Hope i got your point.

[2021-04-12 15:18] rbri commented on #335
asNormalizedText() takes care of the visibility - i guess the 'menu' points are only visible if you click on the 'Actions' button.

[2021-04-12 15:39] rbri commented on #310
Have added some synchronization - this might fix the problem.

[2021-04-12 17:02] lrpowell commented on #310
Thanks!  I unfortunately did not keep this code as it was for a test.  I need to do that as a practice (keep copies of source as it stands for an open issue)

[2021-04-12 18:00] rbri commented on #310
Thanks, no problem i take this as fixed and will see if this comes up again.

[2021-04-12 18:09] rbri commented on #248
released in between, will close this.

[2021-04-12 18:09] #248 closed, assigned to rbri

[2021-04-12 18:41] lrpowell commented on #337
Thanks for the ideas.  Does the maxInMemory do multiple things besides determine when output is written to a file?  The wording with the "history size" is confusing to me.  I tried setting MaxInMemory to 0 (Sets the maximum bytes to have in memory, after which the content is saved to a file. Set this to zero or -1 to deactivate the history at all) as well as Integer.MAX_VALUE.  Also tried setting

[2021-04-12 19:32] christian-draeger commented on #339
works =) awesome. big thanks

[2021-04-12 19:32] #339 closed, assigned to nobody

[2021-04-12 20:44] rbri commented on #339
You're welcome

Am 12. April 2021 21:32:54 MESZ schrieb "Christian Dräger" ***@***.***>:

--
Diese Nachricht wurde von meinem Android-Gerät mit K-9 Mail gesendet.

[2021-04-13 11:51] nbauma109 opened #340 "Proxy scheme defaulted to http"
The proxy scheme I need the use is https. Webclient constructor only takes proxy host/port . There could be another constructor which takes scheme/host/port. In HttpHost class there is a constructor that takes scheme/host/port in addition to the one used which takes host/port and defaults scheme to http.

[2021-04-13 12:59] rbri commented on #340
OK, you are right - no idea why nobody has reported this before. Will try to add the https support soon

[2021-04-14 07:20] rbri commented on #340
Have done a first commit for this, and a new snapshot build is also available. Please have a look.

[2021-04-14 08:57] nbauma109 commented on #340
I got that message "malformed reply from SOCKS server" but not sure if it's related to the code or a bug in the https proxy

[2021-04-14 09:16] rbri commented on #340
do you use a socks proxy?

[2021-04-14 09:22] nbauma109 commented on #340
No I don't.

[2021-04-14 09:29] rbri commented on #340
sounds a bit like the code now tries to use a socket server - maybe i have done a mistake somewhere with the ProxyConfig#isSocksProxy_ flag. Can you debug into the HtmlUnit code?

[2021-04-14 09:31] rbri commented on #340
the magic should be here: com.gargoylesoftware.htmlunit.HttpWebConnection.setProxy(HttpRequestBase, WebRequest)

[2021-04-14 15:51] nbauma109 commented on #340
The flag is false and in setproxy the URL is correctly set to https://... Also I noticed I have the same exact error message with both http and https. For some reason the proxy does not play well with Apache http client. It works with Sun http client. I noticed that also in the eclipse egit plugin. It wasn't working until I switched to Sun http client in the configuration panel.

[2021-04-14 16:17] rbri commented on #340
ok, maybe stackoverflow has some idea; maybe we have to do some special setup for HttpClient.

[2021-04-14 16:20] rbri commented on #340
at least you are not alone ;-)
https://stackoverflow.com/questions/45417681/malformed-reply-from-socks-server-when-fetching-proxy-server-details-dynamically

[2021-04-15 13:50] ceceussj4 opened #341 "Tag Iframe doesn't work after click Anchor in HtmlUnit"
I'm learning working with HtmlUnit. I'm with a problem.
When I click in a anchor my page has a iFrameTag that doesn't load. The oficial page work normal.

Below follow the steps:
1- I open the page (https://www.peintegrado.pe.gov.br/portal/Mural.aspx);
2 - I click at a register in grid;
3- System open new page;
4-This new page there is a link (anchor) with name "Edital";
5- When I click this above

[2021-04-15 18:32] rbri commented on #341
the content of the iframe is not included per default, you have to look inside yourself

This

    public static void main(String[] args) throws Exception {
        try (final WebClient webClient = new WebClient(BrowserVersion.BEST_SUPPORTED)) {
            webClient.getOptions().setThrowExceptionOnFailingStatusCode(false);
            webClient.getOptions().setThrowExceptionOnScriptError(false);

[2021-04-16 06:42] rbri commented on #340
anything more i can do here?

[2021-04-16 06:44] rbri commented on #337
The idea is to be able to work one day per month (or maybe more if there is more sponsoring) for the sponsor - see

[2021-04-16 06:47] rbri commented on #337
Strange:

what happens if you call asXml() for part of the page e.g. only for the body node?

[2021-04-16 06:51] rbri commented on #337
Oh, looks like your page is really huge and includes a lot of javascript code.
In fact internally a StringBuilder is use and there is a limit (https://stackoverflow.com/questions/38067717/how-many-characters-can-a-java-stringbuilder-hold).
Maybe you reach that limit?

[2021-04-16 07:04] rbri commented on #335
Hi Lora,

because the thread is already long - my current understanding:

* you have this button in your app that shows this kind of popup menu
* using HtmlUnit you click the button and expect the popup menu to get visible
* if you use page.asNormalizedText() the popup menu is not visible before clicking and after clicking
* calling page.asXml() contains the popup menu

asNormalizedText() tries to

[2021-04-16 07:08] rbri commented on #321
Have tied to reach you via private mail - but no response so far. I think we have to talk about this.

[2021-04-16 07:12] rbri commented on #332
Yes you are right, the function is supported with the current version. And i can reproduce your problem - executing the sniped from the dev tools works but not with HtmlUnit.

But this is one page with a lot of js magic inside - maybe the scrolling relates somewhere on the current layout.
At the moment i see no chance to find the time to dig deeper into this to figure out what is going wrong.
So i

[2021-04-16 07:13] rbri commented on #328
Sorry but i did not found the time to work on this - it's still on the list.

[2021-04-16 07:14] nbauma109 commented on #340
No thanks for your help, much appreciated

[2021-04-16 07:17] rbri commented on #320
To make it more simple for us, can you please strip down your sample to pure HtmlUnit. From my point of view there is no functionality in Jsoup that is not also available in HtmlUnit. This will make it simpler for us to reproduce your case.
Thanks.

[2021-04-16 07:19] rbri commented on #319
Yes this is clearly a bug, but i fear it will be not that simple to provide a correct selection implementation.
But i will try to make a first shot on this.

Can you please tell me a bit more about your use case - what do you like to do with the selected text, what kind of selections you are doing?

[2021-04-16 09:37] rbri commented on #340
Thanks, will close this

[2021-04-16 09:37] #340 closed, assigned to rbri

[2021-04-16 13:01] lrpowell commented on #337
I will give that a try.  Did you insert a link or something that didn't come out above in the note about sponsering?

[2021-04-16 17:02] #319 closed, assigned to rbri

[2021-04-16 17:02] rbri commented on #319
The implicit conversion was already working, now toString() produces the same result.

[2021-04-16 17:03] rbri commented on #319
As always will inform on twitter if a new snapshot is available.

Many thanks for the report.

[2021-04-16 19:59] ceceussj4 commented on #341
@rbri you are simply the best! Thanks so much for help. You always help us with patience and dedication. Congratulations!

[2021-04-16 19:59] #341 closed, assigned to nobody

[2021-04-16 21:42] rbri commented on #341
You're welcome
--
Diese Nachricht wurde von meinem Android-Gerät mit K-9 Mail gesendet.

[2021-04-17 15:11] Mohamed1308 opened #342 "com.gargoylesoftware.htmlunit.FailingHttpStatusCodeException: 404 Not Found for https://tax.ocgov.com/includes/jquery-2.2.3.min.js"
Hello.

I am trying to look for valid Parcel Numbers on https://tax.ocgov.com/tcweb/search_page.asp via HtmlUnit, so I used the following for loop:

[code]

However, I got this error:

The exception is caused by this line of code:

`final HtmlPage page2 = (HtmlPage) button.click();`

Is this an HtmlUnit issue or is the problem related to my code?

[2021-04-18 12:03] rbri commented on #342
The page you are working with has a lot of problems - simply open the browser console and have a look yourself....

Out of the box HtmlUnit is written for page testing, because of this errors like this are handled more sensitive compared to real browsers. But you can change this.

For me this code works:

    final String url = "https://tax.ocgov.com/tcweb/search_page.asp";

    try (final WebClie

[2021-04-18 12:03] #342 closed, assigned to nobody

[2021-04-19 17:26] lrpowell commented on #337
I will agree to sponsoring the htmlunit project if we get it to work for my project!  I can do some now to help get it to work.  How would I start?  I'll look around it is probably documented somewhere...

[2021-04-22 08:22] rbi commented on #321
I wrote you an E-Mail on Saturday. Did you receive it?

[2021-04-22 17:48] felixscheinost commented on #319
Sorry, for coming back to you just now.

I used it for checking whether the user had selected some text in an `onClick` listener to filter out clicks while the user is selecting text. As a workaround I used `window.getSelection().type === "Range"` instead to check whether text is selected.

Thanks a lot for your help!

[2021-04-23 02:55] xiaowenhuman opened #343 "dynamic change proxy"
Hello ,
I have started the webclient, can I change the proxy dynamically？

[2021-04-23 07:30] rbri commented on #343
I i remember correctly this is supported by the implementations. You can chance the proxy using something like

    webClient.getOptions().setProxyConfig(new ProxyConfig(proxyHost, proxyPort, proxyScheme));

But i'm only 80% sure this will work :-) because the change has to be used for the next requests and there is a lot of web connection magic inside. Please try and cross your fingers.

[2021-04-23 07:32] rbri commented on #321
Mis..... - was moved to spam.

[2021-04-23 07:44] rbri commented on #319
Thanks for the feedback, the current snapshot impl. has a fix for the toString() method that should do the job for your case.

BTW: i found two more classes with the same error - thanks again for using HtmlUnit and the error report.

[2021-04-23 17:04] cdalexndr opened #344 "WebRequest hard timeout"
Currently, setting timeout is unreliable, the whole request time could exceed the set timeout (connect, redirects, etc all using same timeout value).

A method for setting **hard** request timeout should be provided, so that a request can be reliably terminated in a timeout window.

Example implementation: https://www.baeldung.com/httpclient-timeout#hard_timeout
Note that the above implementation

[2021-04-25 07:56] cdalexndr commented on #288
On db4cba80fe6a273e988856ce01fc4cbcd1266710, I get the following failed tests:

Package | Tests | Errors | Failures | Skipped | Success Rate | Time
-- | -- | -- | -- | -- | -- | --
  | 5 | 0 | 5 | 0 | 0% | 0.234
com.gargoylesoftware.htmlunit.html | 13102 | 5 | 0 | 0 | 99.962% | 362.252
com.gargoylesoftware.htmlunit.javascript.host.geo | 10 | 1 | 0 | 0 | 90% | 0.96
com.gargoylesoftware.htmlunit.jav

[2021-04-25 08:32] cdalexndr commented on #289
On db4cba8, I see some 50% improvement. Tests take ~40m form 1h20m.
Note that there is still room for improvement. The tests don't use CPU consistently and seems to be single threaded.

[2021-04-25 08:35] rbri commented on #288
Ok, let us discuss this step by step:

com.gargoylesoftware.htmlunit.javascript.host.geo.GeolocationTest: - this is expected, works on windows but not on unix - this has nothing to do with java 11

com.gargoylesoftware.htmlunit.html.HtmlScript2Test: passes on my local machine with win10 and jdk 11 also

com.gargoylesoftware.htmlunit.ExternalTest: expected - some updates are required

com.gargoyles

[2021-04-25 08:37] rbri commented on #289
I know that but i have moved to an on touch approach - every time i have to enhance a test class i will try to make it faster.

[2021-04-25 09:12] cdalexndr commented on #289
I think a large improvement will be made with parallel tests.

Tried enabling parallel tests, but current test architecture doesn't support it.
For parallel tests to work, the static servers need to be localized, and static port numbers to be randomized.

[2021-04-25 17:41] rbri commented on #337
Yes, i set up github sponsoring - check the project hompage or the github page.

[2021-04-26 17:08] grkephart opened #346 "ng-click not working"
The following is an example of what we have in our code.

&lt;a id="2184139853-5471" data-toggle="tooltip" title="" data-html="true" data-animation="true" ng-click="jobActivityButtonAction(activityButton)" href="javascript:;" data-original-title="Entry Add Multiple Results Mfg Lead"></a>

However, when I call "domElement.click();", it stays on the same page with no error. I'm assuming that's becau

[2021-04-27 02:03] duonglaiquang opened #347 "Strange exception when DOM event name is used as function name"
# Problem in brief
HtmlUnit/Rhino will throw `TypeError: <function name> is not a function, it is object.` if a DOM event name (i.e. "on-" phrases such as "onclick", "onkeydown") is used as function name.

# Testing
The following test was used to test the behavior in HtmlUnit and Chrome
[code]

# Suspected reason
When a function is created, its parent scope is mapped to `Window`.
In `ScriptRuntime

[2021-04-27 05:47] rbri commented on #347
Thanks, will have a look.

[2021-04-30 05:48] haranrk commented on #347
[code]
Since this is specific to the object being callable, this is another potential fix, without breaking any existing functionality.

[2021-05-06 16:39] marlon-machado opened #349 "not getpage"
when entering the url it remains blank and I get this error.
  origin 'null' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource

[2021-05-06 16:58] rbri commented on #349
Can you please add any details you have like the htmlunit version you are using and the url you calling and so on.
Without the details it will be really hard to help you.

Thanks

[2021-05-07 11:52] Deadc00l commented on #315
Hi @rbri ,
I saw that the changes for the select tags are already commited. Thanks a lot for this!
However, the tables are still incorrectly formatted (see unit tests of HtmlTableTest.java in coment before). Is it possible to format them in the same way like the select tags?

[2021-05-09 08:03] rbri commented on #347
Instead of changing rhino i have changed the scope definition during the event construction.
Looks like this solves the problem.

[2021-05-09 09:10] rbri commented on #346
Without access to the real application i can only guess....

Maybe the js replaces the current page inside the window. I guess your code looks like this.

    page = elem.click();

Please try to change this like this

    page = elem.click();
    client.waitForBackgroundJavaScript(20_000);
    page = page.getEnclosingWindow().getEnclosedPage();

Hope that helps.

[2021-05-09 09:11] rbri commented on #343
No feedback so far - hope this works for you. Please open a new issue if you still have problems.

[2021-05-09 09:11] #343 closed, assigned to rbri

[2021-05-09 09:22] rbri commented on #337
Hi Lora, did you gave up?

[2021-05-09 09:24] rbri commented on #288
Can i close this?

[2021-05-09 09:33] cdalexndr commented on #288
This works for me only if I run from IDE with Junit, but if I run from cmd line with maven `mvn -Dtest=HtmlScript2Test test` the errors show up.
Can you please check on your machine?

[2021-05-09 10:04] cdalexndr commented on #288
Regarding the `hosts` file modification, I still believe that tests should not depend on such modifications.

If someone pulls the source code, tests and fails, it discourages them to contribute. Any contribution needs to compare two failing test runs to check if the same failures occurred or if new ones appeared from the contribution.
In my opinion, the tests should work _out of the box_.

[2021-05-09 17:39] rbri commented on #347
Please try the latest snapshot - this should be fixed now.

[2021-05-10 13:37] #228 closed, assigned to rbri

[2021-05-10 13:56] ceceussj4 opened #351 "Error when click at the anchor - Setting innerText for html tags by HtmlUnit"
When I click at the anchor the server shows a log at error and the page doesn't update and I can not get the iframe tag.

The link page: "https://compras.cetiqt.senai.br/portal/Mural.aspx"

Here follows my code:

 try (final WebClient webClient = new WebClient(BrowserVersion.BEST_SUPPORTED)) {
        webClient.getOptions().setThrowExceptionOnFailingStatusCode(false);
        webClient.getOptions(

[2021-05-10 16:08] Aldarme opened #352 "Download a file process by server, with HtmlUnit"
Hi every one:
as ask in this stackoverflow topic: [https://stackoverflow.com/questions/66573770/download-a-file-process-by-server-with-htmlunit](url), I open this "issue" to find a way to solve my problem with HTMLUnit.
Thank a lot for all comments,

---------

I want to automatize file conversion available at:
[https://www.gpsvisualizer.com/map_input?form=googleearth](url)
My problem is that, gps

[2021-05-10 18:10] rbri commented on #352
As first step you can have a look at https://htmlunit.sourceforge.io/filedownload-howto.html.

Please give me a sign if this does not help.

[2021-05-10 18:14] Aldarme commented on #352
I will try this,
and I will give you the result.
Thanks, a lot.

[2021-05-11 03:24] duonglaiquang commented on #347
Thank you for fixing it. I will close the issue

[2021-05-11 03:24] #347 closed, assigned to rbri

[2021-05-11 06:26] rbri commented on #284
Sorry for being that late on this but there is far too much to do.

This should be fixed now. Please use the latest snapshot build (you need the latest core-js snapshot also) and try.

[2021-05-11 06:27] rbri commented on #351
Work has started but will require some time. First step is to fix the innerText getter.

[2021-05-11 12:51] lrpowell commented on #337
No, I haven't given up.  But I did put it on the shelf for a while and now of course busy with other things.  I was hoping that one of these problems could get resolved before spending more time on it.  I will try what you asked this week.

[2021-05-11 13:43] atnak commented on #284
Oh wow, backwards compatibility!  I was wondering how that could be done.  Thanks, the changes look good.

[2021-05-11 16:22] rbri commented on #284
Ok, will close this. Please open a new one if you still have problem.

Thanks again for your report.

[2021-05-12 01:10] #284 closed, assigned to rbri

[2021-05-12 23:35] ozu8 opened #353 "Scrape Page with Cloudflare Rocket Loader Running Javascript"
The page that I'm trying to scrape uses Cloudflare Rocket Loader to execute Javascript, and there is one script in particular that retrieves articles in consecutive 15-article chunks, observable in the browser. I'd like to mimic this using HTMLUnit, run the scripts and afterwards capture all 200 articles from the loaded page.

(Version 2.42.0)

[code]
Running this yields only 15 of the desired 200

[2021-05-13 18:07] Aldarme commented on #352
Hi,
After having work with resources of your previous link, I come back do to a problem.

After having follow the redirection due to the click to allow the server to process my file
and "click some anchor/button that forces a file download"
`

      //Arrive on the redirected page, where to download the file
	  page = submitBtn.click();
	  //System.out.println(page.getUrl());

	  WebWindow window

[2021-05-13 18:37] rbri commented on #352
The page is inside the window - window.getEnclosedPage()

[2021-05-13 18:49] Aldarme commented on #352
Ok, but I don't understand your answer.
I include my new page on the webWindow

`

     //Arrive on the redirected page, where to download the file
     page = submitBtn.click();
     WebWindow window = page.getEnclosingWindow();

`
and use the "window.getEnclosedPage()" as specified in the doc.
`

       UnexpectedPage downloadPage = (UnexpectedPage) window.getEnclosedPage();

	InputStream downlo

[2021-05-14 07:00] RuralHunter opened #354 "Function name scope problem"
This code snippet:
[code]
In Chrome, the output is "f=undefined". In HtmlUnit, the output is "f=function(){}".

[2021-05-14 10:04] rbri commented on #353
Good news - was able to fetch all 200 entries here - after spending two really long debugging sessions on the minimized Cloudflare Rocket Loader code (thanks again to https://www.charlesproxy.com/ - this tools is essential for this kind of tasks).

Background - the rocket loader works by
* replacing the type of your javascript blocks with this strange types you have seen in the log
* this types ar

[2021-05-14 10:35] rbri commented on #352
can you please provide a sample file and i will try to build a working sample for you

[2021-05-14 14:39] rbri commented on #353
there is a new snapshot available

[2021-05-14 14:50] ozu8 commented on #353
Many thanks, rbri! Really appreciate that you put time into this. One thing that I'm curious about is how specifically you used Charles Proxy in this instance. I experimented with breakpoints and Map Local, but mostly I was looking at the logs. Could you possibly share your process or any tips or tricks? Thanks again.

[2021-05-14 15:56] rbri commented on #353
Good point - have to think about some video about this kind of debugging.

Generally i use map local and replacing the file content with the already formatted code from Charles. After that the line numbers of the error are useful. And i can start to add console.log statements. Then i compare the output from the browser and HtmlUnit to nail down the place where HtmlUnit starts to behave different.

[2021-05-14 17:20] ozu8 commented on #353
I can confirm that the code now runs as as expected. Thanks again, rbri! I'd be very interested in that video, should you make one!

[2021-05-14 17:33] #353 closed, assigned to rbri

[2021-05-14 17:34] rbri commented on #353
Thanks enjoy using HtmlUnit.

[2021-05-15 17:14] rbri commented on #351
Have done some implementation for innerText - looks like your code works now.
Please try the latest snapshot.

[2021-05-16 17:12] rbri commented on #346
does it work for your?

If not can you please try version 2.50.0 there is a fix regarding onclick processing.

[2021-05-16 17:31] rbri commented on #346
Made a simple sample

	<!doctype html>
	<html lang="en">
	<head>
	  <meta charset="UTF-8">
	  <title>Example - example-ng-click-production</title>
	  <script src="https://code.angularjs.org/snapshot/angular.js"></script>
	</head>

	<body ng-app="">
	  <button id='klick' ng-click="count = count + 1" ng-init="count=0">
	  Increment
	</button>
	<span>
	  count: {{count}}
	</span>
	</body>
	</html>

A

[2021-05-16 17:36] rbri commented on #346
And the same result if i replace the button by

    <a id="a-klick" data-toggle="tooltip" title="" data-html="true" data-animation="true" ng-click="count = count + 1" href="javascript:;" data-original-title="Entry Add Multiple Results Mfg Lead">
  	  Click
    </a>

Can you please try to provide a minimal sample that shows your problem.

[2021-05-16 17:39] rbri commented on #324
maybe related to #346?

[2021-05-17 16:12] rbri commented on #63
Did another try on this - some of the pages are changed in between so i had a look at https://www.afas.nl/nieuwsberichten/nieuws.

Page is based on many many js libraries - i see no chance to find the reason for this during the time i have for this project.
Sorry but i have to close this without any good solution for you.

[2021-05-17 16:12] #63 closed, assigned to nobody

[2021-05-17 18:41] Aldarme commented on #352
Here is my code

import java.io.File;
import java.io.FileOutputStream;
import java.io.InputStream;
import java.io.OutputStream;
import java.util.ArrayList;
import java.util.List;

import org.w3c.dom.Node;

import com.gargoylesoftware.htmlunit.*;
import com.gargoylesoftware.htmlunit.html.*;
import com.gargoylesoftware.htmlunit.html.parser.HTMLParser;

public class AltScrapper {

	public static void

[2021-05-17 18:45] Aldarme commented on #352
Here is a sample file to convert.
Be carefull, I had to add ".txt" extension because, git do not let me upload ".KML" file,
so remove ".txt" extention.

[1_LaDouce-Signoret.kml.txt](https://github.com/HtmlUnit/htmlunit/files/6496140/1_LaDouce-Signoret.kml.txt)

Best,
Aldarme

[2021-05-17 20:45] grkephart commented on #346
I tried the new version and it seemed to have the same result.

The method I use for clicking on elements is this:

    public HtmlPage clickOn(DomElement domElement, long timeoutMillis) throws IOException {
        HtmlPage htmlPage= domElement.click();
        htmlPage.getWebClient().waitForBackgroundJavaScript(timeoutMillis);

        return (HtmlPage) htmlPage.getEnclosingWindow().getEnclosedP

[2021-05-18 17:48] ceceussj4 commented on #351
Thanks my friend! I will test today and will post here the result.

[2021-05-19 05:51] rbri commented on #179
Better late than never - this is implemented now. The trace depends on the current Rhino capabilities - so don't expect too much.

[2021-05-19 05:51] #179 closed, assigned to nobody

[2021-05-19 11:32] rbri commented on #352
Here it is - this should work with zipped and unzipped responses.
For unzipped the server returns an Xml file - in this case the page an XmlPage not an UnexpectedPage - sorry.
(this uses apache commons io)

        try (WebClient webClient = new WebClient(BrowserVersion.FIREFOX)) {
            webClient.getOptions().setThrowExceptionOnScriptError(false);

            final HtmlPage page = webClien

[2021-05-19 13:44] Aldarme commented on #352
Hi rbri,
Thanks a lot, I will try this and give you update.
Best,
Aldarme

[2021-05-19 14:28] Aldarme commented on #352
Hi,

I had some issues with a part of your code,
so I update mine and It's working.

Thank a lot for the time spent with helping me.

Best regards,
Aldarme

[2021-05-19 14:28] #352 closed, assigned to nobody

[2021-05-19 15:13] rbri commented on #352
Your welcome, have fun using HtmlUnit and please update the stackoverflow question

[2021-05-19 17:38] rbri commented on #139
have merged back nearly all improvements into rhino and rhino makes some good progress at the moment. Let's cross our fingers

[2021-05-20 03:31] RuralHunter commented on #354
Just found if I set the optimization level of the context to 0 or above, I can get the same result as Chrome.

[2021-05-20 05:07] rbri commented on #354
Sounds strange will have a look over the weekend

[2021-05-23 11:46] rbri commented on #349
Sorry but without some more details to reproduce this here i can't help.
Will close this - please open a new one with more details if you need more help.

[2021-05-23 11:46] #349 closed, assigned to nobody

[2021-05-23 11:52] rbri commented on #306
Sorry for being late on this...

I'm not sure i got your point - you like to have a separate package like htmlunit-tests available im maven?
and you like to have the whole tests inside or only the (useful) parent classes?

[2021-05-23 11:54] rbri commented on #270
Hi Vasu - any chance to check this?

[2021-05-23 12:00] rbri commented on #81
Sorry but this is now outdated. Looks like the page has changed.

Again sorry for the bad support - will close this.

[2021-05-23 12:00] #81 closed, assigned to nobody

[2021-05-23 12:01] rbri commented on #144
no feedback, this is hopefully no longer an issue

[2021-05-23 12:01] #144 closed, assigned to nobody

[2021-05-23 12:03] skyhirider commented on #306
Yes, was looking at options to run unit tests on page object models that I created and using the test classes you are using seemed like a good idea.

I wanted to avoid creating more complex integration tests, using your classes to define a string, load it into the HtmlUnit driver and then run a few test cases would cover a lot of the tests.

Not sure if there is a way now to access your test class

[2021-05-23 12:07] rbri commented on #140
Will close this because without the code there is no chance for further progress - sorry.

Thanks for giving HtmlUnit a try.

[2021-05-23 12:07] #140 closed, assigned to nobody

[2021-05-23 16:09] vasucomandur commented on #270
Ronald,

   I don't have access to the application due to IP address restriction
since we are in lockdown mode
   Shall check & revert back to you once the lockdown is relaxed.

Regards
 Vasu

[2021-05-24 17:52] rbri commented on #270
Ok, i can wait - stay healthy

[2021-05-25 17:49] rbri commented on #346
Do you have control of the application code itself and can you try some changes?

[2021-05-29 08:06] rbri commented on #238
have added some tests for this

    ScriptableObjectTest
        ctorChangeableHasNoEffectForSealed()
        ctorChangeableHasNoEffectForSealedStrict()
        ctorChangeableHasNoEffectForTypeOf()
        ctorChangeableHasNoEffectForTypeOfStrict()
        ctorNotChangeableForPrimitives()
        ctorNotChangeableForPrimitivesStrict()

[2021-06-02 09:04] RuralHunter commented on #354
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/function#conditionally_created_functions

[2021-06-02 09:05] RuralHunter commented on #354
Based on the link above, the example can be simplified:
[code]

[2021-06-02 09:18] RuralHunter commented on #354
It seems the declaration of 'foo' is removed [here](https://github.com/mozilla/rhino/blob/aa278018851d7049f7eb50fa0a36a2fe72e6b7e5/src/org/mozilla/javascript/CodeGenerator.java#L66):
[code]

[2021-06-02 09:43] RuralHunter commented on #354
Maybe not. It seems the tree printed out is not quite complete.

[2021-06-10 07:24] RuralHunter commented on #354
I found the key point. The function definition is skipped [here](https://github.com/mozilla/rhino/blob/826a02adfcebbb5e81221d80d67f94a6e8904a6b/src/org/mozilla/javascript/ScriptRuntime.java#L3913) in runtime. Apparently [InterpretedFunction.hasFunctionNamed(name)](https://github.com/mozilla/rhino/blob/826a02adfcebbb5e81221d80d67f94a6e8904a6b/src/org/mozilla/javascript/InterpretedFunction.java#L181

[2021-06-11 13:04] ghost opened #357 "HtmlUnit returns UnexpectedPage when Content-Type header is missing"
We have a couple of system tests using Selenium/HtmlUnit in a legacy system using Java 7. Due to version restriction, in this tests I use HtmlUnit version 2.18 with Selenium 2.52.

Now we are migrating to Java 11, and we upgraded to HtmlUnit version 2.50 and Selenium 3.141.59, and we found an issue with one of the tests.

The problems seems to be that the response of one external service that we u

[2021-06-13 11:36] mvillafuertem commented on #78
@rbi Any update? Any workaround? Thanks in advance

[code]

[2021-06-14 07:23] ghost commented on #357
Using a `WebConntectionWrapper` I could workaround the missing `Content-Type` header:

                new WebConnectionWrapper(webClient) {

                    public WebResponse getResponse(WebRequest request) throws IOException {

                        WebResponse response = super.getResponse(request);

                        if (response.getStatusCode() == 200 && response.getContentType().

[2021-06-14 09:41] rbri commented on #357
Thanks for reporting this. HtmlUnit should work the same way as reals browsers, based on this i like to improve the impl. There is some kind of content sniffing if no content type found.
Can you please provide the page content (or at least the start sequence of the page your are facing this problem.

[2021-06-14 09:44] rbri commented on #357
For details you can have a look at

https://github.com/HtmlUnit/htmlunit/blob/73f3c4dceac80da4eec89d1f8fce2ffe8c323fe5/src/main/java/com/gargoylesoftware/htmlunit/DefaultPageCreator.java#L154

[2021-06-14 11:25] ghost commented on #357
Hi, the page has nothing special. It's a valid html page, encoded in UTF-8.

I debugged the code and the problem is in the `isBinary` method in `DefaultPageCreator`

    private static boolean isBinary(final byte[] bytes) {
        for (final byte b : bytes) {
            if (b < 0x08
                || b == 0x0B
                || (b >= 0x0E && b <= 0x1A)
                || (b >= 0x1C && b <= 0x1

[2021-06-14 11:33] rbri commented on #357
Many thanks for all the details, will update the code.

[2021-06-14 11:44] rbri commented on #357
Have written a test case for this, again many thanks for pointing this out.

[2021-06-14 11:44] #357 closed, assigned to nobody

[2021-06-14 11:45] rbri commented on #357
As usual i will inform via twitter about new snapshots and releases

[2021-06-14 12:15] ghost commented on #357
Thanks to you for the quick update. Looking forward the next release!

[2021-06-16 17:07] rbri commented on #296
Rhino now supports templates, you can try the latest snapshot or wait for 2.51.0.

[2021-06-16 17:07] #296 closed, assigned to nobody

[2021-06-17 14:09] zeng-shuo opened #358 "encoding problem"
If the page code is GBK, after calling getpage (URL), occasionally Chinese garbled will appear. How do I set it?

[2021-06-17 15:05] rbri commented on #358
Can you please provide a bit more details - or better some minimal sample code that shows the porblem.

[2021-06-17 17:08] zeng-shuo commented on #358
Hello, I'll try to describe the problem as it happens occasionally. For example, the encoding of a web page is set to: < mate content = "text / htmlcharset = GB2312" HTTP equiv = "content type" >, and then I add the following in line 123 of HtmlUnitNekoHtmlParser class in the crawler project:
if (encoding.equals("GB2312")){encoding = "GBK";}
When I use webclient.getPage(URL) to get the HtmlPage an

[2021-06-17 19:56] ceceussj4 commented on #351
Hi @rbi ! How are you?
Sorry about time long without answer. But my daughter born and I took off some days for help my wife.

About this problem I tried but the same error happened.
I changed in my pom.xml for version 2.50.0.

Sorry too about my English.

[2021-06-18 06:17] rbi commented on #78
@mvillafuertem maybe you meant @rbri instead of @rbi ?

But as a coincidence I faced the same issue. I solved it by using a Polyfill that implements the fetch API based on XMLHttpRequest in the software under test.

[2021-06-18 06:18] rbi commented on #351
@ceceussj4 I guess you meant @rbri instead of @rbi. I'm not involved in this issue.

[2021-06-18 07:27] zeng-shuo commented on #358
Or I want to use GBK code to parse the page, what should I do？

[2021-06-18 09:40] rbri commented on #358
Two points,
1. GB2312 - GBK
2. sometimes the result is garbage

Regarding 1.
Because i'm from Germany i only have limited knowledge about all the Chinese codepage stuff. But i did some research and it looks like the jdk handles GB2312 different than browsers. Because of this i like to write a unit test to check the behavior of real browsers and add a fix to HtmlUnit (if needed). But i think i need

[2021-06-18 13:45] ceceussj4 commented on #351
Hi @rbri ! How are you?
Sorry about time long without answer. But my daughter born and I took off some days for help my wife.

About this problem I tried but the same error happened.
I changed in my pom.xml for version 2.50.0.

Sorry too about my English.

[2021-06-18 17:52] dballardgh commented on #232
Hi @rbri,

Here's an example of the same error, but using a default parameter. If you use HtmlUnit 2.50 to GET a page containing:

    <script>
      const engine = {
        callme(message = 'Default message') {
          console.log(message)
        }
      }
      engine.callme()
      engine.callme('Hello')
    </script>

You'll get:

com.gargoylesoftware.htmlunit.ScriptException: missing ) af

[2021-06-19 09:35] zeng-shuo commented on #358
Thank you very much for your help. I changed the new version yesterday, and then optimized the program, there is no garbled code at present. If there is a follow-up I can catch the error, and then reply.

[2021-06-20 17:12] rbri commented on #358
Many thanks for pointing at this - was able to write some test cases and have added a fix.
As a side effect a bunch of other existing tests are working now also.

You can try the latest snapshot - and a release is hopefully available soon.

Again thanks and have fun using HtmlUnit.

[2021-06-20 17:12] #358 closed, assigned to nobody

[2021-06-22 17:18] rbri commented on #232
There  is some hope for this, the Rhino community is working on various improvements at the moment. And rest parameters are already in the works. Please be a bit more patient. Or have a look at twitter - will always inform about the progress there.

[2021-06-22 17:20] rbri commented on #351
:-)
Fine so far, but overloaded with work - so nothing new on my side.
Really strange - will have a look at this again.

[2021-06-22 17:26] rbri commented on #351
My test code was:

    public static void main(String[] args) throws Exception {
        try (WebClient webClient = new WebClient(BrowserVersion.CHROME /*, "localhost", 8888*/)) {
            webClient.getOptions().setThrowExceptionOnFailingStatusCode(false);
            webClient.getOptions().setThrowExceptionOnScriptError(false);

            HtmlPage htmlPage = webClient.getPage("https://compra

[2021-06-23 20:39] vasucomandur commented on #270
Hi Ronald,

    Can I download the latest HTMLUnit from the site and test the Setcookie
option?
    Please confirm

Regards
 Vasu

On Fri, 20 Nov 2020 at 03:03, RBRi ***@***.***> wrote:

[2021-06-23 22:12] rbri commented on #270
Yes you can....

[2021-06-28 10:47] svschouw-bb opened #359 "XMLHttpRequest replaces ContentType header from javascript"
We're having an issue where, especially under Windows, the browser uses very random mimetypes, depending on which application is registered to handle which file extensions. E.g., for a CSV file, the mime type can be text/plain if registered to a text editor, or application/vnd.ms-excel if it is registered to Excel. So in the javascript we correct these mimetypes based on the file extension. The fi

[2021-06-28 12:58] rbri commented on #359
can reproduce this here, will try to fix it soon

[2021-06-28 14:43] rbri commented on #359
please try the latest snapshot

[2021-06-28 15:22] svschouw-bb commented on #359
Seems to work! Thanks!

[2021-06-28 17:54] rbri commented on #359
Great, many thanks for the detailed report and the debugging effort.

Have fun using HtmlUnit - and please open more issues if you find something.

[2021-06-28 17:54] #359 closed, assigned to rbri

[2021-06-29 20:46] fdanek opened #360 "Implementation of @import and @media rules wrong and incomplete"
The current implementations of the `@import` and `@media` rules are incomplete and partly wrong.

**CSSImportRule**
The main problem here is the wrong implementation of `CSSImportRule.styleSheet`. Currently it returns the _importing_ style sheet. The correct behavior would be to return the _imported_ style sheet.

Besides this there are only some minor formatting problems in the returned text.

**

[2021-06-30 15:12] svschouw-bb opened #363 "CSS declaration calc(...) always evaluates to 0px"
We have a component with a slider where the user can drag it to select some percentage. The JavaScript calculates the X coordinate as a percentage of the total width of the slider. This works fine as long as the widths are not too small. On a specific page this width is declared as `width: calc(100% - 200px)`. Before HtmlUnit version 2.44.0 the CssParser would error on this statement and just drop

[2021-07-01 09:32] codingYouDianFeng opened #364 "FormEncodingType"
FormEncodingType lacks other ways of post request, such as application/json, remove final and private

[2021-07-01 09:37] svschouw-bb opened #365 "Race condition between XMLHttpRequest.onreadystatechange and .abort()"
Since the XMLHttpRequest event handler rewrite in HtmlUnit 2.44.0, there is a race condition between xhr.onreadystatechange and xhr.abort().

Suppose I have the following javascript:

[code]
And very quickly afterwards:
[code]
The original onreadystatechange function is already queued, but is blocked on the page lock by the second javascript snippet. When it finally executes, the `xhr.abort()` met

[2021-07-01 12:05] rbri commented on #364
Can you please add more details

[2021-07-01 12:07] rbri commented on #363
Yes a sample would be great

[2021-07-01 17:14] rbri commented on #360
I think most of the stuff is now implemented - outside your main problem. Will have a look.

[2021-07-01 17:14] rbri commented on #360
BTW: more detailed unit test for all the text formatting are welcome

[2021-07-02 13:42] svschouw-bb commented on #363
Sample html:

[code]

Sample test:
[code]
The last test fails with `Expected: <Partial: 300 / Inner: 300>, Actual: <Partial: 0 / Inner: 0>`. The other two fail with the same respective failures.

If I comment out the `width: calc(100% - 200px)` line and run the test again, the last test fails with `Expected: <Partial: 500 / Inner: 500>, Actual: <Partial: 500 / Inner: 1256>`. The inner width is a b

[2021-07-04 21:31] fdanek commented on #360
I added some more tests in the recent PR but there are still many formatting tests missing (see FIXME).

There is still some (old and new) CSSParser stuff broken.

During my tests I saw that the class `com.gargoylesoftware.htmlunit.javascript.host.dom.MediaList` is in the wrong package. According to the docu in the internet it is part of the CSSOM and not of the DOM so it should be moved to `com.g

[2021-07-06 06:24] rbri commented on #365
Have done some fixes here, nearly all are available in the last release but some more are in the current snapshot.
Maybe you can have a look.

The problem of calling the wrong handler function is still under investigation.

[2021-07-06 06:39] rbri commented on #363
Thanks, will try to have a deeper look soon

[2021-07-06 09:25] bonigarcia opened #367 "Compatibility with Selenium WebDriver 4"
I have the following error when trying to use it HtmlUnit with Selenium WebDriver 4:

[code]

Is there any plan to make HtmlUnit compatible with Selenium 4?

[2021-07-06 09:50] rbri commented on #367
Yes there is; the problem is the lack of time. But it looks like the Selenium 4 is getting closer to an release. Will try to find some time to have a deeper look.

[2021-07-07 06:55] svschouw-bb commented on #365
Looks to be fixed in 2.51.0. Thanks!

[2021-07-07 06:59] toniritter opened #368 "JS Browserdetection fail and redirect"
[based on JavaScript execution exeption question on Stackoverflow](https://stackoverflow.com/questions/68244888/htmlunit-error-during-javascript-execution/68265810#68265810)

HtmlUnit Version: 2.50.0

During getPage call of webpage flashscore.com, i got following exceptions

[code]

I've tried with two different classes and problem still occur.

[code]

[code]

[2021-07-08 11:07] toniritter commented on #368
After switch Dependency to 2.51.0 version, the exception is not thrown anymore but still i'm on the "Unsupported" page https://flashscore.com/unsupported/

[2021-07-09 10:37] codingYouDianFeng commented on #364
such as request：
Request Method: POST
Accept: application/json, text/javascript, */*; q=0.01
Accept-Encoding: gzip, deflate, br
Connection: keep-alive
Content-Length: 45
Content-Type: application/json;charset=UTF-8

[2021-07-09 10:39] codingYouDianFeng commented on #364
new WebRequest(new URL("")).setEncodingType(FormEncodingType.TEXT_PLAIN);
FormEncodingType cannot set this type

[2021-07-09 15:40] dballardgh opened #369 "Jquery 3 multiple $(document).ready() invoked out of order"
HtmlUnit 2.51.0
JDK 8 or 11

With this HTML page:
[code]

And the following script `A.js`:
[code]

Script `B.js`:
[code]
And script `C.js`:
[code]

In a real browser I see that the files are processed in order, and the ready() functions are called in the order added:
[code]

Using HtmlUnit 2.51.0:
[code]
via the log I see:
[code]

The files are loaded and processed in order, but under HtmlUnit, jq

[2021-07-11 12:37] rbri commented on #368
The browser detection is done using this https://www.flashscore.com/x/js/browsercompatibility_4.js code

	// !!! for update iterate manually `browser_compatibility_serial`
	"use strict";
	try {
		(function () {
			var cssRequirements = [["display", "flex"], ["display", "grid"], ["color", "red"]];
			for (var i in cssRequirements) {
				if (!CSS.supports(cssRequirements[i][0], cssRequirements[i][1]

[2021-07-11 14:20] rbri commented on #368
Have done a fix for CSS.supports() - will make a new snapshot available soon (check twitter for updates)

[2021-07-12 17:24] toniritter commented on #368
I've done it as suggested and try modify the response but got now following exception on it (still on version 2.51.0

[code]

[2021-07-13 13:04] jowerner opened #370 "Support for HTTP/2"
Nowadays more and more servers talk HTTP/2. Would be great if HtmlUnit would support that protocol as well. Do you have plans to add that feature to HtmlUnit in the near future, now that Apache HttpClient 5.x is available? If so, let me know if we can help with that. Thanks!

[2021-07-13 14:25] rbri commented on #370
Plans - yes, as always the time is a problem. It will be fantastic, if you can provide a PR.

[2021-07-13 15:55] jowerner commented on #370
Yeah, same here. Okay, let's see what we can do. Will get back to you if we have something to review or just need your advice. :)

[2021-07-13 15:59] rbri commented on #370
Great....

[2021-07-13 20:45] vasucomandur commented on #270
Hi Ronald,

  I took the 2.51 bundle of HTMLUnit and successfully built the application
to test the Set-Cookie issue
 I have removed the old dependent JAR files from my lib folder and updated
the new ones that come with 2.51.
 I am getting the below exception right in the beginning. Am I missing
something?. Please let me know
************************************************************************

[2021-07-13 20:50] rbri commented on #270
Looks like a wrong version of apache commons-io.

Am 13. Juli 2021 22:45:44 MESZ schrieb vasucomandur ***@***.***>:

--
Diese Nachricht wurde von meinem Android-Gerät mit K-9 Mail gesendet.

[2021-07-13 20:58] vasucomandur commented on #270
I have Commons-io 2.10 Jar in the Lib folder.

Need to check if it is loading different version of commons-io.

Will check on that and revert

Regards
 Vasu

On Wed, 14 Jul 2021 at 02:21, RBRi ***@***.***> wrote:

[2021-07-14 05:09] rbri opened #371 "DOMMatrix and DOMMatrixReadOnly are only stubs"
Maybe we can take at least parts of the implementation of SVGMatrix to support this.

[2021-07-14 21:30] vasucomandur commented on #270
Hi Ronald,

   I tested with 2.51 version of HTMLIUnit with JS enabled. The Set-Cookies
are getting set in the subsequent requests.

    The bug can be closed.
   Thanks for your support.

   BTW, when are you planning to support Http/2 protocol?. Any timeline

Regards
 Vasu

On Wed, 14 Jul 2021 at 02:21, RBRi ***@***.***> wrote:

[2021-07-14 22:16] rbri commented on #270
Thanks for the feedback.
Regarding http/2: there is a separate issue but no concrete plans. But you can vote...

[2021-07-14 22:16] #270 closed, assigned to nobody

[2021-07-15 19:11] rbri commented on #368
looks like there is a syntax error in your replaced script - maybe you can replace it by an empty one?

[2021-07-16 13:25] toniritter commented on #368
Hey rbri, i've tried it meanwhile with this but it will still faile:

[code]

[code]

[2021-07-19 20:30] ceceussj4 commented on #351
Hi my friend @rbri ! How are you?

Sorry, but I test e continues the error:
My code :

    try (final WebClient webClient = new WebClient(BrowserVersion.BEST_SUPPORTED)) {
           webClient.getOptions().setThrowExceptionOnFailingStatusCode(false);
            webClient.getOptions().setThrowExceptionOnScriptError(false);

            HtmlPage htmlPage = webClient.getPage("https://e-lic.sc.gov.br

[2021-07-20 13:58] rbri commented on #351
Strage,

your code passes here without any exception.

I have definitely removed the error msg from the code (see https://github.com/HtmlUnit/htmlunit/commit/3636f75b9a88c520a271ee982f136dc57661a872)

Can you please check again to only have the latest release 2.51.0 in your path.

[2021-07-21 13:48] rbri commented on #368
Looks like another error - this time

invalid property id (https://www.flashscore.com/res/_fs/build/loader.5714507.js#1)

And this js is a huge minimized javascript. At least this uses the not supported syntax

    function(...e){let t=this._configData;

I fear you have to wait until this is fixed in Rhino.

[2021-07-21 17:25] rbri commented on #363
For the records, have done a first look at this.
The css parser seems to create a ValueImpl out of this but the whole code only uses the string representation.
We need some kind of interpreter for this.
Options:
* implement a way to get the ValueImpl
* reparse the calc snipped on demand

[2021-07-28 16:55] jowerner commented on #370
Meanwhile, I spent some time migrating HtmlUnit to Apache HttpClient 5.x and now want to give you a short update.

HC 5.x comes in two flavors, synchronous (or "classic") and asynchronous. I started with the synchronous variant as it is very similar to 4.x and fits in very well. Only when this was done did I realize that the synchronous client does not support HTTP/2 which ultimately is the goal o

[2021-07-28 18:15] rbri commented on #370
Wow, this sounds really great.

From my point of view we
* can declare the next version as 3.0 (because this is a major change)
* we will try to integrate your code step by step as soon as possible - i only have two other topics to work on - test the new promise support from rhino and build a selenium4 htmlunit webdriver. But i think getting this done can be the top prio.

If you can make a pr i h

[2021-07-28 18:19] rbri commented on #370
Looks like we have to switch to slf4j for logging also

[2021-07-29 11:06] jowerner commented on #370
Sounds like a plan! Will make the PR available later this day or maybe tomorrow morning. Would be great if we can have our online meeting tomorrow as well because next week I'll be on vacation. Tomorrow afternoon anytime after 14:00 would suit me best. How about you? Will you or should I take care of the meeting?

[2021-07-29 17:11] rbri commented on #370
please send a private mail to rbri at rbri dot de and i will send you an invitation

[2021-07-30 18:12] rbri commented on #370
Have done a quick look at OkHtml and Jetty Client - both look also promising.
Will have a look at the interface between HtmlUnit itself and the HttpClient - maybe we can have a clear interface for the transport layer.

[2021-08-10 09:19] SebastianPaulo opened #373 "WeakMap - TypeError: Expected argument of type object, but instead had type object"
I use HTMLUnit to test a webpage with a 3rd party library (TinyMCE).
The library is using a WeakMap to has additional stuff for documents it stores (Documents being the keys of the WeakMap).
In all browsers this works fine.
However HTMLUnit is throwing a TypeError ```Expected argument of type object, but instead had type object``` (Which by description alone is kind of odd).

# Investigation
I tra

[2021-08-10 17:44] rbri commented on #373
Hi Sebastian,
many thanks for the report and the great description / sample. I'm able to reproduce this here based on your code.
From my point of view this is a Rhino issue - because the Delegator is a Rhino feature. Sadly this is not at all places taken into account.

If you like to know a bit more about the details you can have a look at https://github.com/mozilla/rhino/pulls?q=is%3Apr+delegator

[2021-08-10 18:41] rbri commented on #373
Made a Rhino PR lets see....

Give me an hint if you need the fix soon - i can do this in the HtmlUnit Rhino fork for the moment.

[2021-08-15 13:50] rbri commented on #373
Made a new snapshot build - using the latests core-js snapshot including the fix for this.

[2021-08-15 13:50] #373 closed, assigned to nobody

[2021-08-17 13:42] ceceussj4 commented on #351
@rbri I would like say you are the best!
It's worked. HtmlUnit is very important for us here.
Thanks by your help.

[2021-08-17 13:42] #351 closed, assigned to rbri

[2021-08-17 17:45] rbri commented on #351
Great - enjoy and feel free to open more issuse... and stars for the project are also welcome :-)

[2021-08-19 14:14] rbri commented on #117
no feedback - will close this; please open a new one if you like to work on this again

[2021-08-19 14:14] #117 closed, assigned to nobody

[2021-08-20 14:43] felixh85 opened #374 "HtmlUnit with report generator: get Report body after generation"
I want to use the Java HtmlUnit library to generate a BIRT report in HTML. However, BIRT shows a process bar while the data is loaded from the database and assembled on the page. When I am opening the BIRT report with HtmlUnit, only the page with the process bar is returned but the report content information remains empty.
The returned HTML page contains a div `<DIV` ID="Document" `CLASS="birtview

[2021-08-21 12:41] rbri commented on #374
Without a test page is will be hard to do anything here. Maybe you can create a simple war file with a simple report that reproduces the problem?

[2021-08-24 06:33] felixh85 commented on #374
I have contacted you via your webmaster email. Please reply and I send you a link for testing.

[2021-08-24 11:36] mbucc commented on #370
FYI, Java 11's [java.net.http.HttpClient](https://docs.oracle.com/en/java/javase/11/docs/api/java.net.http/java/net/http/package-summary.html):

[2021-08-26 07:27] SebastianPaulo commented on #373
Hi RBRi, thanks for the quick support! On our side, some time off caused a delay in checking it out, but now I managed to review it. I will be happy to test the snapshot in one of our upcoming releases, and I will get back to you with feedback. So long, thanks for all the fish, greetings from Jena!

[2021-09-03 09:14] skyhirider opened #378 "Css errors are noisy even with SilentCssErrorHandler enabled"
I believe there was a regression introduced in 2.52 that is not present in 2.51 - some parsing errors are thrown and show even when silenced handlers are enabled.

On 2.51 the log is silent, on 2.52 I see exceptions in the error log which is really messy. I don't want to disable error messages completely but silencing the webclient has no effect.

https://github.com/HtmlUnit/htmlunit/blob/4d174e28

[2021-09-05 18:10] rbri commented on #378
Correct, great finding! Thanks!

There is a new Snapshot build available (requires a htmlunit-cssparster snapshot). Please have a look if your problem is fixed.

[2021-09-06 07:47] skyhirider commented on #378
Thanks for the quick fix, it's silent when using the snapshot. Cheers!

[2021-09-06 13:53] rbri commented on #378
Thanks for the feedback, have fun using HtmlUnit.

[2021-09-06 13:53] #378 closed, assigned to rbri

[2021-09-07 00:01] cdalexndr commented on #232
Encountered same issue after updating to Bootstrap 5.

This is the rhino issue regarding default parameters: https://github.com/mozilla/rhino/issues/678

[2021-09-07 11:26] Lou0083 opened #379 "There is a problem with the use of js... I don't know how to solve it"
Caused by: java.lang.RuntimeException: com.gargoylesoftware.htmlunit.ScriptException: Wrapped com.gargoylesoftware.htmlunit.ScriptException: Wrapped com.gargoylesoftware.htmlunit.ScriptException: Wrapped com.gargoylesoftware.htmlunit.ScriptException: Wrapped com.gargoylesoftware.htmlunit.ScriptException: Wrapped com.gargoylesoftware.htmlunit.ScriptException: Wrapped com.gargoylesoftware.htmlunit.S

[2021-09-07 13:17] Osiris-Team commented on #201
@rbri Im back with some news. I think implementing the GraalJS Engine into htmlunit is quite much impossible (at least for me alone) because of its strong dependency and interconnectivity with the rhino engine, like you said. That's why I created this https://github.com/Osiris-Team/JG-Browser which is the same as htmlunit just built with the graal js engine as base. What do you think?

[2021-09-07 13:21] rbi commented on #201
@Osiris-Team you probably mean @rbri, not @rbi

[2021-09-07 13:21] Osiris-Team commented on #201
Ups!

[2021-09-09 15:09] niloc132 opened #380 "Style properties set on detached elements cannot be read"
Tested in latest stable, HtmlUnit 2.52.0.

Given an element, either newly created, or detached from its document, if it has a style set programmatically (not on the html attribute `style`), it will not be available to be read. Additionally, reading the attribute `style` will result in null, rather than either an empty string, or the correct string that includes the set style properties.

Example H

[2021-09-15 17:56] rbri commented on #374
Ok, no i have some hints what might going wrong here. The Library send a SOAP request for getting the data and the request fail with a server error 500. The problem seems to be the sent request body - looks like HtmlUnit does something wrong during construction of this.
Will analyze .... please be patient.

[2021-09-15 18:30] rbri commented on #374
Looks like sending an XMLDocument via XMLHttpRequest differs in HtmlUnit from real browsers.
Will write some unit test and then try to fix it.

[2021-09-16 13:44] felixh85 commented on #374
Thanks a lot for your effort.

[2021-09-17 07:55] rbri commented on #374
You're welcome.
Was able to get the result page yesterday  based on some quick hacks.
So there is hope to get this solved soon.

[2021-09-17 14:37] rbri commented on #374
From the spec:

From the spec: If body is a Document, then set this’s request body to body, serialized, converted, and UTF-8 encoded.

Have done a first impl of this and i'm now able to open the report.

Many, many thanks for this isssue - i guess this was a problem for many applications.

[2021-09-17 15:07] rbri commented on #374
Fixed in git - will make a new snapshot build available soon (check https://twitter.com/htmlunit).

Enjoy HtmlUnit and feel free to report more interesting bugs.

[2021-09-17 15:07] #374 closed, assigned to rbri

[2021-09-17 17:04] rbri commented on #380
Should be fixed now.

[2021-09-17 17:04] #380 closed, assigned to rbri

[2021-09-17 17:09] rbri commented on #364
you can use

webRequest_.setAdditionalHeader(HttpHeader.CONTENT_TYPE, "application/json;charset=UTF-8");

instead.

[2021-09-17 17:09] #364 closed, assigned to nobody

[2021-09-17 17:12] rbri commented on #326
will close this, because we have the webdriver issue

[2021-09-17 17:12] #326 closed, assigned to rbri

[2021-09-18 03:40] codingYouDianFeng commented on #364
I already know that it’s a bit troublesome, can it be unified?

[2021-09-19 21:06] peberD commented on #369
Using html

[code]

log output:
[code]

The problem Htmlunit has with Jquery3 starts on line 3872 in jquery-3.6.0.js

[code]

Replacing

` window.setTimeout( process );`

with just

`process();`

makes it work and the output is now

[code]

Don't know why the timeout breaks this in HtmlUnit?

[2021-09-19 22:01] peberD commented on #369
The problem can be isolated to:

[code]

HtmlUnit output:
[code]

Chrome, Firefox, Edge:
[code]

[2021-09-21 13:46] ebocher opened #381 "Rendering HTML page with VEGA-LITE js"
Hi,

I'm testing HTMLUnit to run the following file https://raw.githubusercontent.com/ebocher/data_map/master/testResponsiveBarChart.html and then save the chart in a png file (from vega-lite save function).

Here the code I used

[code]
 I got following exception :

[code]

HtmlUnit Version: 2.54.0-SNAPSHOT
Java : 11.0
OS : Ubuntu

Thanks for any help

[2021-09-21 17:26] rbri commented on #381
see #232

Rhino does not support rest parameter, there is still hope to get this fixes. Please be a bit patient.

[2021-09-21 19:24] niloc132 commented on #380
Thanks, can confirm that this specific test passes in 2.53.0 now, though my root issue isn't resolved yet. I'll get another test case to you when I get the chance to figure out why it is still failing...

EDIT: my mistake, the remaining issue was unrelated. Thanks again for the fix!

[2021-09-21 23:00] niloc132 opened #382 "offsetWidth of an absolutely positioned element doesn't reflect the width of the child element"
When a block element is absolutely positioned, its offsetWidth should be based on the widths of its child elements, not the entire document.

offset-width.html:
[code]
Sample Java main using HtmlUnit 2.53.0:
[code]
Exported (from firefox) console output:
[code]
Actual console output:
[code]

---
Similarly, when a statically (or relatively) positioned block element is placed inside an absolutely po

[2021-09-22 05:43] ebocher commented on #381
Thanks @rbri to point me this issue on Rhino and thanks to offer to the open source community HTMLUnit.

[2021-09-22 18:27] ChrisFrostBSI opened #383 "empty file input"
I have some JavaScript trying to clear file input element by setting the value to an empty string.  This showed 2 problems.

1: The change event should not call if JavaScript changes the value (checked on Chrome 93 and Firefox 92).

2: The file list should be empty but instead it has 1 file in the list.  This path for that file is my current working directory.  The same problem occurs with using s

[2021-09-22 18:36] rbri commented on #383
Will have a look

[2021-09-22 19:19] rbri commented on #383
Hopefully fixed.

Have to investigate this later.

Will inform on twitter if a new snapshot is available.

[2021-09-22 19:36] ceceussj4 opened #384 "HTMLUNIT - Problem to get all columns from a table"
I need more a help.
I am trying to get all columns of row of table but the variable get just 3 cells and I looked this html of page there is 7 columns.

@rbri do you help me?

I appreciate the help.

Follow the code

public class BotEditalCapturaProcesoEletronicoDispensaRJ {

  private static final String url = "https://www.compras.rj.gov.br/Portal-Siga/ProcessoEletronicoDispensa/buscar.action";

[2021-09-23 05:43] rbri commented on #383
I fear i do not really understand your case. Can you please provide more details - best will be a case similar to

public void setValueOnChange() in file https://github.com/HtmlUnit/htmlunit/blob/5739bd17338ff036ee63c98ce2b42ab8d91fcc9e/src/test/java/com/gargoylesoftware/htmlunit/html/HtmlFileInputTest.java

[2021-09-23 13:07] mateuszskorupa96 opened #385 "Unknown error in XPath."
Caused by: javax.xml.transform.TransformerException: Unknown error in XPath.
	at com.gargoylesoftware.htmlunit.html.xpath.XPathAdapter.execute(XPathAdapter.java:188)
	at com.gargoylesoftware.htmlunit.html.xpath.XPathUtils.evaluateXPath(XPathUtils.java:145)
	at com.gargoylesoftware.htmlunit.html.xpath.XPathUtils.getByXPath(XPathUtils.java:77)
	... 51 more
Caused by: java.lang.NullPointerException

[2021-09-23 14:48] rbri commented on #385
Sounds reasonable but maybe something else.... https://sourceforge.net/p/htmlunit/mailman/message/23898002/

[2021-09-23 16:13] skyhirider opened #386 "normalize space not parsing correctly under some circumstances"
I am using an xpath that includes a special character and the xpath is working in Firefox but failing in HtmlUnit when called via the driver.

What is odd is that it works for "@x" but fails for "@X" - case sensitivity breaks it somehow. Its also interesting that I noticed this earlier when searching for "=)" as part of a string, I presume there are other special cases that are not working correct

[2021-09-23 16:17] rbri commented on #384
Have tried to reproduce your code but i got

The requested URL was rejected. Please consult with your administrator.

Your support ID is: 661349863259856913

[2021-09-23 18:06] ceceussj4 commented on #384
Really? I can access this url. Will be because you are in other country?

But look how this error is strange.
When I try getCells() my variable just show me 4 cells. but the table have 7 cells.

I look in the html page and it's ok

P.S: I defined client.getOptions().setCssEnabled(true) so the 4 column was displayed. Before it was only shown 3

<img width="1127" alt="Captura de Tela 2021-09-23 às

[2021-09-24 10:04] rbri commented on #384
Will try with some VPN. Can you please check if the table in page.asXML() is also correct

[2021-09-24 11:10] rbri commented on #384
OK got it working using VPN and a US server. Will have a look later on.

[2021-09-24 11:46] mateuszskorupa96 commented on #385
I saw this thread, but we already have a higher version of the HTMLunit (v.2.29) and there the suggestion is to use 2.7 which is so much older.

[2021-09-24 13:00] ceceussj4 commented on #384
@rbri thank you so much. I appreciate your help.
In page.as Xml just is showed the 4 collumn the correct would be 7 column.

<img width="1083" alt="Captura de Tela 2021-09-24 às 09 37 05" src="https://user-images.githubusercontent.com/71467990/134677517-154a7243-7ec7-4ca9-a011-a1445244767f.png">

[2021-09-24 13:53] rbri commented on #384
Ok, did a first look at this, i think the table is generated at runtime from javascript. At the moment i have no idea why the two columns are missing.
Will try to have a deeper look at this during next week.

[2021-09-24 18:37] rbri commented on #386
nice catch - found the reason and start thinking about a solution

[2021-09-25 08:52] rbri commented on #386
Ok, this was another strange one and many thanks to nail down the problem to this point.

HtmlUnits XPath handling does some manipulation of the xpath before calling xalan to handle case insensitive processing of html code. This preprocessing was too stupid - in your case the string '@X' was handled like an attribute selector and therefore changed to '@x'. Have changed the code to take care of str

[2021-09-25 09:09] skyhirider commented on #386
Thanks, will test it out on Monday if it covers all the corner cases I had issues with. Took me a while to pinpoint this one, first though it was encoding or something else at first but your patch enabling data:text in the driver really helped.

[2021-09-25 09:19] rbri commented on #386
That's for most of the problems with HtmlUnit the hardest part of the story. If i have a simple test case the issue is usually more or less solved.
That's the reason why i so happy with bug reports like this one (and a try to fix it fast).

[2021-09-25 09:26] skyhirider commented on #386
Yeah, I always try to imagine if it was me doing the bug testing and fixing, the more info I have the faster I can fix it. Plus shows I at least tried to find the cause instead of pasting a generic error code and asking for help.

[2021-09-26 09:33] #386 closed, assigned to nobody

[2021-09-28 08:37] markoandersson opened #388 "XMLHttpRequest-class is missing `response`-attribute"
I think that there should be `response`-attribute in the [XMLHttpRequest-class](https://github.com/HtmlUnit/htmlunit/blob/master/src/main/java/com/gargoylesoftware/htmlunit/javascript/host/xml/XMLHttpRequest.java) as stated in the [XMLHttpRequest-specification](https://xhr.spec.whatwg.org/#the-response-attribute).

I stumbled on to this when debugging 3rd party Javascript library which didn't work

[2021-09-28 08:43] rbri commented on #388
Sorry there is not really a work around for this.
Will try to fix this soon - do you use the latest version?

[2021-09-28 08:49] markoandersson commented on #388
Yes, version 2.53.0.

Thanks for the quick reply!

[2021-09-28 08:53] rbri commented on #388
ok great, will have a look and come back to you (hopefully) soon.
Usually the implementation of that is not that hard (e.g. responseText is already here but writing detailed test for most of the cases takes some time.

[2021-09-29 12:47] ceceussj4 commented on #384
Ok my Friend! Thank you so much.

[2021-09-29 15:45] rbri commented on #388
Just made a new Snapshot build including a first impl for this. Please try and report your findings.

[2021-09-29 19:52] bkertz opened #389 "Dynamic Content Not Found"
This is similar to an issue I ran into several years ago, and was working until just the other day. I'm assuming it's due to changes made on the site I am working with.

I am using version 2.53.0

For reference, here is what was discussed on Stack Overflow a few years ago: https://stackoverflow.com/questions/53037782/htmlunit-dynamic-content-not-found

Here is the sample code. Essentially no ancho

[2021-09-29 21:45] #170 closed, assigned to nobody

[2021-09-30 05:20] markoandersson commented on #388
Works like a charm! Thank you for your fast response!

Btw. the third-party JS library is [htmx](https://htmx.org/) and after this fix, at least all our (basic) use cases are covered and working with HtmlUnit.

With version 2.53.0 I got an error

[code]

And with the snapshot version, our unit tests are passing.

[2021-09-30 07:58] rbri commented on #388
Great. Thanks for the fast feedback and the report.

[2021-10-05 16:05] rbri commented on #388
Have added initial support for contentType 'document'.

[2021-10-05 16:05] #388 closed, assigned to rbri

[2021-10-06 09:46] Deadc00l opened #390 "Testexecution Thread stopped endless"
While test execution of different scenarios the test execution hangs in:

	Unsafe.park(boolean, long) line: not available [native method]
	LockSupport.park(Object) line: 175
	CountDownLatch$Sync(AbstractQueuedSynchronizer).parkAndCheckInterrupt() line

This happens for different actions on Html pages

- webWindow.getWebClient().getPage(pUrl)
- htmlElement.click();

If the action runs into the foll

[2021-10-06 13:45] ceceussj4 commented on #384
Hi my friend! How are you? Really this problem is strange.
I tried everything but I can't get all columns of the table. I setted more time in this wait, I put the true and false in many variables, but not changed the result.

[2021-10-06 17:04] rbri commented on #390
Many thanks for pointing at this and the fix.

Have added an option to replace the executor with your own one and also some documentation.
Maybe you can have a short look at the changes and provide some feedback.

https://github.com/HtmlUnit/htmlunit/commit/46dd88b6490c23dda2e79544d20df146cb0d331e

[2021-10-06 17:25] Deadc00l commented on #390
Looks fine me, thanks a lot.

[2021-10-06 17:37] rbri commented on #390
Made a new snapshot in between - you can try it now in reality.

[2021-10-06 17:37] #390 closed, assigned to rbri

[2021-10-07 06:34] rbri commented on #383
@ChrisFrostBSI can you please provide any more details - see the other comments; otherwise i will close this

[2021-10-07 15:23] ChrisFrostBSI commented on #383
My live code is overwhelmed with 3rd party libraries, but I did simplify the issue to setting an empty value on a file input for the purpose of clearing the file inputted.  In my situation this is being done after fetching json inside an angularjs component.  Currently we are forcing the file input to empty everytime the angularjs fetches json (when first loading and after saving changed data).

I

[2021-10-08 08:17] RuralHunter opened #392 "Support Navigator.languages"
https://developer.mozilla.org/en-US/docs/Web/API/Navigator/languages
This property is supported in browsers but not in htmlunit.

[2021-10-08 11:30] rbri commented on #392
Fix is on the way.... thanks.

[2021-10-08 12:29] rbri commented on #392
Made a new snapshot

[2021-10-08 12:29] #392 closed, assigned to nobody

[2021-10-08 12:29] rbri commented on #392
Thanks

[2021-10-11 03:36] svbrunov opened #394 "`ProxyConfig` class: Support for proxy server credentials: `user` and `password`"
Dear Maintainers,

I am using HtmlUnit 2.53.0.
My current use case: get a page through the configured **authenticating** SOCKS5 proxy server.
I have not found the ability to specify the credentials for the proxy server.
It seems that such ability is not supported.

It would be great to have the ability to specify the proxy server credentials using the extended `ProxyConfig` class with the `user` a

[2021-10-11 06:31] rbri commented on #394
Hi Sergey,

can you please try something similar to this

        credentialProvider = new DefaultCredentialsProvider();
        webClient.setCredentialsProvider(credentialProvider);

        tmpCredentialProvider.addCredentials(proxyUser, proxyPassword, proxyHost, proxyPort, null);

If my memories are correct this should work.... but ;-)

[2021-10-11 07:30] svbrunov commented on #394
Dear RBRi (@rbri),

Thank you very much for the prompt reply!

I have applied your suggestion as follows:

[code]

The exception with the following stack trace (provided partially) is thrown:

[code]

The exception represents an authentication error.

Verified the same proxy server with `curl`:

[code]

It works fine.

Best regards,
Sergey Vyacheslavovich Brunov.

[2021-10-11 07:47] rbri commented on #394
Ok, will try to have a deeper look at this... thanks for the details.

[2021-10-11 16:11] rbri commented on #394
After digging around and doing some check (without having a chance to test this with a real proxy) i think there no no really nice solution.

But as a first step it will be great if you can do something like this before setting up your client (taken from https://stackoverflow.com/questions/51269160/apache-httpclient-socks5-proxy-with-authentication)

    Authenticator.setDefault(new Authenticator(

[2021-10-12 02:21] svbrunov commented on #394
Dear RBRi (@rbri),

Thank you very much for your support!

I have applied the workaround you suggested and verified it: it works fine.

This workaround does not cover my use case «completely».
There is the need to assign a specific SOCKS5 proxy server (with its credentials, etc.) for each instance of the `WebClient` class.
Therefore, my first message of this GitHub issue (the feature request) is a

[2021-10-12 06:36] rbri commented on #394
Hi Sergey,

thansk for the fast reply, your problem is clear.
But: :-)
This java Authenticator stuff is something global for the JVM and there is no way (as far as i can see) to handle this graceful (e.g. by decoration the current one and forward all requests not for HtmlUnit to the decorated one).

I think i have an idea how to handle this in HtmlUnit but this requires some more time.

But for yo

[2021-10-13 03:56] svbrunov commented on #394
Dear RBRi (@rbri),

Thank you very much for your support!
I have a suitable network level workaround for my use case.

P.S. Just for your information.
I have updated the description (the first message) of this GitHub issue: added a link to a related issue.

Best regards,
Sergey Vyacheslavovich Brunov.

[2021-10-13 05:18] rbri commented on #394
Network level means you have solved this outside of Java/HtmlUnit? So no need to improve this further?

[2021-10-13 07:31] svbrunov commented on #394
Dear RBRi (@rbri),

Yes.

The network level workaround is just a workaround (i.e. a temporary solution).
Therefore, there is a need.

Best regards,
Sergey Vyacheslavovich Brunov.

[2021-10-21 17:32] rbri commented on #394
Hopefully the current snapshot solves this problem.

Please have a look at the (new) proxy configuration docu at https://htmlunit.sourceforge.io/proxy-howto.html and try the latest snapshot build with your setup.

[2021-10-25 07:21] spinscale opened #395 "Support for SSE?"
first, thanks for HTMLUnit, first time I am using it and it is really nice.

I tried to test a [javalin web app](https://javalin.io/) with SSE (server side events), plus [htmx](https://htmx.org/) on the client side (you tweeted about it a few weeks ago, see https://twitter.com/HtmlUnit/status/1447250140423770122).

So, here is my setup:

[code]

[code]

Test looks like this

[code]

Running that t

[2021-10-27 08:34] rbri commented on #394
@svbrunov any update on this?

[2021-10-27 18:13] danteCarvalho opened #396 "Unable to download javascript error when using java 8 on windows. but works with java >= 9"
I get this error when i try to run this line
[code]

out 27, 2021 2:59:19 PM com.gargoylesoftware.htmlunit.javascript.DefaultJavaScriptErrorListener loadScriptError
GRAVE: Error loading JavaScript from [https://api.radar.cloudflare.com/beacon.js].
com.gargoylesoftware.htmlunit.FailingHttpStatusCodeException: 503 Service Temporarily Unavailable for https://api.radar.cloudflare.com/beacon.js
	at com

[2021-10-28 10:27] rbri commented on #396
strange - you are sure this is related to the jdk; maybe it is more machine dependent (proxy).

Can you try to trace the communication (wire log see https://hc.apache.org/httpcomponents-client-5.1.x/logging.html) to figure out if there are any differences?

Do you use a socks proxy?

[2021-10-28 15:36] danteCarvalho commented on #396
Ok i solved the problem. No i don't use any proxy. Well, it is indeed a jdk issue, java 8 doesn't  have  TLS 1.3 enabled by default. And some sites require TLS 1.3 to work. TLS 1.3 was not even implemented until java 8u261. (i didn't know oracle had java 8 updates after java 8u202 until now). Now i am using java 8u311 released in October 19, 2021, all you need to do to make it work is set one of t

[2021-10-28 20:28] rbri commented on #396
Thanks for the Info.

[2021-10-28 20:28] #396 closed, assigned to nobody

[2021-10-30 07:22] svbrunov commented on #394
Dear RBRi (@rbri),

I have just tested the `2.55.0-SNAPSHOT` (`2.55.0-20211021.173458-2`) version: it does not work correctly: authentication fails.
The root cause: this version does not use the specified credentials.

I have debugged this version a little bit: in particular, the `SocksProxyAuthenticator` class.

Please, see the following partial screenshot:
![image](https://user-images.githubuser

[2021-10-30 07:48] rbri commented on #394
Ok thanks will make a new snapshot available

[2021-10-31 12:53] rbri commented on #394
Please try the new snapshot

[2021-10-31 17:28] geheimepolizei commented on #86
I got the same error in java 11 and java 16, but in java 8 I didn't get this error and I was able to run a similar program. Try java 8.

public static void homePage() {
    try {
        final WebClient webClient = new WebClient();
        final HtmlPage page = webClient.getPage("http://htmlunit.sourceforge.net");
        System.out.println(page.asXml());
        webClient.close();
    } catch (Ex

[2021-11-01 03:43] svbrunov commented on #394
Dear RBRi (@rbri),

I have just tested the `2.55.0-SNAPSHOT` (`2.55.0-20211031.121914-4`) version: it works fine with the authenticating SOCKS proxy server.

Best regards,
Sergey Vyacheslavovich Brunov.

[2021-11-01 07:07] rbri commented on #394
thanks for the feedback and all your debug work

[2021-11-01 07:07] #394 closed, assigned to rbri

[2021-11-01 09:15] svbrunov commented on #394
Dear RBRi (@rbri),

Thank you too: for your work and collaboration!

Best regards,
Sergey Vyacheslavovich Brunov.

[2021-11-03 12:44] cdalexndr opened #397 "HtmlSerializer css white-space"
All variants of `HtmlSerializer` (even `HtmlSerializerVisibleText`) for html
`<span style='white-space:pre'>a\nb</span>`
output `a b`, but in browser it's displayed as `a\nb`.

Only `<pre>` tag is respected (wrap in `<pre>`).

[2021-11-03 16:41] cdalexndr commented on #397
Note that for `HtmlSerializerVisibleText` class that takes into account css `white-space`, it works only when computing directly on an element:
` page.getElementById("tester").getVisibleText()` will return the correct value `a\nb`
but using `page.getVisibleText()` will return incorrectly `a b`

[2021-11-03 17:05] #397 closed, assigned to nobody

[2021-11-03 17:15] cdalexndr opened #399 "Unify HtmlSerializers"
Currently there are multiple public HtmlSerializer-type classes: `HtmlSerializerInnerOuterText`, `HtmlSerializerNormalizedText`, `HtmlSerializerVisibleText`, the deprecated `HtmlSerializer`.

They share some logic and it's confusing to have multiple classes.
They should be merged into a single class, with options.

[2021-11-03 18:36] rbri commented on #397
Have adapted you solution a bit to avoid traversing the parent tree many times. Hope this fix you problem (at least the tests are passing).
Please provide more tests if you still have problems.

Again Thanks for your contributions.

[2021-11-03 18:38] rbri commented on #399
I made the tree out of the one because the handling of all the differences in one class was too complicated.

[2021-11-03 18:50] cdalexndr commented on #399
Here's my use case:
I need a html serializer that respects `white-space` (such as `HtmlSerializerVisibleText`) but also include invisible elements (like `HtmlSerializerNormalizedText` with `ignoreMaskedElements_=false`).

[2021-11-03 19:13] rbri commented on #399
Ok, let me think about this, maybe there is some chance to work with a class hierarchy and some abstract methods.

[2021-11-03 19:34] cdalexndr commented on #399
`HtmlSerializerNormalizedText` and `HtmlSerializerVisibleText` seem to be similar, just that `HtmlSerializerVisibleText` has more logic such as css `white-space` handling and only prints visible text.
Also `HtmlSerializerInnerOuterText` seems to be a trimmed down version of `HtmlSerializerVisibleText` (duplicate code).

(Excluding `HtmlSerializer` that isdeprecated and should be removed in future.

[2021-11-05 06:21] tea-blog opened #400 "How do I close all logs?"
How do I close all logs?:(
All this.:(
![image](https://user-images.githubusercontent.com/68322136/140467199-7267c2e0-a7f1-4abc-b571-b33e0f01f5d4.png)

[2021-11-05 06:27] tea-blog commented on #400
I tried to download the source code and annotate all the LOG logs, but I failed to package it into a jar.
![image](https://user-images.githubusercontent.com/68322136/140468517-78ade137-5282-447e-9ae0-f6f44e084034.png)
![image](https://user-images.githubusercontent.com/68322136/140467793-6c7d73a1-8b6c-406a-8dc1-39071de61221.png)
![image](https://user-images.githubusercontent.com/68322136/140468054-

[2021-11-05 09:39] rbri commented on #400
Please have a lock at https://htmlunit.sourceforge.io/logging.html.

[2021-11-05 13:42] MatroidX opened #401 "Navigating to javascript form using HtmlUnit"
Note: This information is duplicated on https://stackoverflow.com/questions/69849910/navigating-to-javascript-form-using-htmlunit. Feel free to request any additional information there.

### Overview
I have successfully been using HtmlUnit to navigate BoardGameGeek and execute tasks (e.g. send GeekMail). Recently they changed their login from a normal webpage to a _javascript-generated form_, and

[2021-11-05 14:53] rbri commented on #401
Will have a look

[2021-11-05 21:08] skyhirider opened #403 "Click not triggering all events"
Got another issue for you, test case in hand :)

When clicking via Selenium + Htmlunit only the click javascript event triggers, but doing the same in Firefox triggers mouse up, down and click.

The test case I tried:

[code]

[2021-11-05 22:02] cdalexndr commented on #399
Did you worked on this issue? Can I have a go?

[2021-11-06 01:14] rbri commented on #399
Yes you can, I can merge this at the start of the next week

Am 5. November 2021 23:02:54 MEZ schrieb cdalexndr ***@***.***>:

--
Diese Nachricht wurde von meinem Android-Gerät mit K-9 Mail gesendet.

[2021-11-06 01:21] rbri commented on #403
Thanks for the report will try to fix that next week.

[2021-11-06 13:30] cdalexndr commented on #399
Why are there  two _browser-like_ serialization?
- `DomNode.asNormalizedText()` using `HtmlSerializerNormalizedText`
- `DomNode.getVisibleText() ` using  `HtmlSerializerVisibleText` for selenium interop

Isn't the selenium representation sufficient?
Does it make sense to deprecate `HtmlSerializerNormalizedText`, and add a `visible` option to `HtmlSerializerVisibleText` to be also used to serialize

[2021-11-06 14:48] MatroidX commented on #401
Thanks! Became a sponsor to help support your work. Much appreciated :)

[2021-11-06 15:01] MatroidX commented on #401
Was given some advice on BoardGameGeek: https://boardgamegeek.com/thread/2751648/login-form-renamed. I still need to investigate.

[2021-11-06 22:52] refacktor commented on #296
Verified in 2.54.0, works fine now.

[2021-11-07 01:17] rbri commented on #296
Great thanks for the feedback.

[2021-11-08 17:35] rbri commented on #403
Wow, this was by far the most interesting puzzle to solve for the last weeks.
The problem was the handling of the data url - the plus sign in '+=' was replaced by a blank during decoding of the data url.

Many thanks for this report.
As always a new snapshot will be available soon - watch out on twitter.

[2021-11-08 17:35] #403 closed, assigned to nobody

[2021-11-08 18:17] skyhirider commented on #403
Interesting. I noticed this when running a bot on another site so though the events were broken in general as clicking an element was not selecting it (site is listening for down, up, click). Will need to re-investigate how that case is unique.

Thanks for the fix! The data url is really handy for test cases.

[2021-11-09 02:58] tea-blog opened #404 "How to reduce CPU occupancy？"
The jar package started on Linux has a very high CPU share when calling this HtmlUnit utility class. Is there any way to reduce it?
:(

![image](https://user-images.githubusercontent.com/68322136/140853694-f7f982d0-b441-4572-8872-080283c36735.png)

[2021-11-10 16:44] rbri commented on #404
Please provide more details - e.g. what utility you call

[2021-11-11 02:39] tea-blog commented on #404
Sorry.
I wrote a recursive method to access more pages using htmlunit to get more business content.
When there is a request, the CPU share is suddenly very high, and then it gradually stabilizes.
Are there any methods and suggestions for improvement?（Please）
Thank Q!
[code]

![image](https://user-images.githubusercontent.com/68322136/141227454-44d37194-6fb4-4eb3-ae6a-2d56a1005ce9.png)

[2021-11-11 15:48] rbri commented on #404
First comment:
waitForBackgroundJavascript is not an setting, this call really waits - because you have not opened an url the call is useless.

[2021-11-11 15:56] rbri commented on #404
Not sure what kind of cpu you are using but you program  runs without any pause. Because there is a main thread and at least one javascript thread i think two cpu's are more or less complete busy.

Depending on the pages you might consider
* disabling javascript support
* intercept the analytics stuff and remove it

But in general HtmlUnit tires to process your program as fast as possible - this i

[2021-11-11 16:03] rbri commented on #399
HtmlSerializer is gone

[2021-11-11 16:06] rbri commented on #399
HtmlSerializerNormalizedText implements HtmlUnits way of serialization (more or less backward compatible to the old asText() method. I like to have this to have our own way to serialize.

 HtmlSerializerVisibleText is there to try to implement the support needed to be in sync with the browsers (and all the strange things they do).

[2021-11-11 17:54] cdalexndr commented on #399
But, isn't the browser serialization, the real world usage, so the only correct way of doing things? Why is the custom htmlunit impl needed?
It would be simpler to keep only the real-world serializer and deprecate other ones.

[2021-11-11 18:49] rbri commented on #136
i guess this is fixed

[2021-11-11 18:49] #136 closed, assigned to rbri

[2021-11-12 11:21] rbri commented on #400
Have you solved that? Can i close this issue?

[2021-11-12 11:32] rbri commented on #199
sorry looks like i missed your last question. Hope you have solved the problem and still use HtmlUnit.

Will close this - please open a new issue if you still have problem.

[2021-11-12 11:32] #199 closed, assigned to nobody

[2021-11-12 20:12] rbri commented on #384
hi and sorry but for private reasons there was no chance to work on this so far

Today i took the option to debug this monster several hours and finally found the reason.
The list you like to grab is a jquery datatable control; an js monster having many cool options to do some magic. And your one is set up to be responsible - means adapt to the screen/window size.

As HtmlUnit a a headless browser

[2021-11-13 10:18] rbri commented on #384
Good morning,

after some sleep and a fresh shower in the morning :-) i had a better idea. The width estimation for the header cell was based on a stupid calculation of the content an thereof far away from reality in your case.
Based on some work done some weeks ago i was able to replace this with a much better content calculation that condenses e.g. white space if needed.
And with this fix the wh

[2021-11-13 10:18] #384 closed, assigned to rbri

[2021-11-15 19:08] rbri commented on #367
There is a first release available.

[2021-11-15 19:08] #367 closed, assigned to nobody

[2021-11-17 06:00] tea-blog commented on #404
Ok, thank you!!! : )

[2021-11-17 07:35] rbri commented on #404
Your welcome, will close this. Feel free to open a new one if you need more

[2021-11-17 07:35] #404 closed, assigned to nobody

[2021-11-17 07:36] rbri commented on #400
Will close this, feel free to open a new one if you need more support regarding this.

[2021-11-17 07:36] #400 closed, assigned to nobody

[2021-11-17 07:41] rbri commented on #385
the code looks like this (xalan)

    next = pos.getNextSibling();

pos can't be null here because it is used before and a local var.

Can you please check your stack trace - maybe the NPE is inside getNextSibling?

[2021-11-17 11:38] skyhirider opened #405 "Links to issues and pulls on htmlunit webpage broken"
Seems the links in your changelog on https://htmlunit.sourceforge.io/changes-report.html#a2.55.0 are missing the /issues and /pull path in them.

Not critical, just noticed it while browsing the changelog so wanted to let you know.

For example, this leads nowhere https://github.com/HtmlUnit/htmlunit/403

[2021-11-17 11:47] tea-blog commented on #400
sorry, i have not been informed of this answer...
I haven't solved it yet.
I have added restrictions according to the document, but a print log will appear.
I open a new to u,need ur help...

[2021-11-17 11:51] tea-blog opened #406 "How do I close all logs? （二）"
How do I close all logs? :(
All this. :(
I have added restrictions according to [the document(https://htmlunit.sourceforge.io/logging.html)](https://htmlunit.sourceforge.io/logging.html), but a print log will appear. :(
![image](https://user-images.githubusercontent.com/68322136/142195294-f850cd95-ccc1-49b3-8b43-75f2e0cad259.png)

[2021-11-17 11:54] tea-blog commented on #406
This is what I did. :(
![image](https://user-images.githubusercontent.com/68322136/142195775-f75295eb-5528-4cd2-8140-0a5f1c167a41.png)

[2021-11-17 18:13] rbri commented on #405
Fixed, many thanks

[2021-11-17 18:13] #405 closed, assigned to nobody

[2021-11-19 09:38] dginelli opened #407 "Activating a research fault localization bot on your project?"
Hi!

We are software engineering researchers and are currently looking for active open-source projects where we could test a new cool software bot: flacocobot!

When a new pull request is open, if it has test failures/errors, flacocobot analyzes the failure and posts a diagnosis as comments to the pull request, highlighting the most suspicious lines that likely need to be analyzed to fix the bug.

[2021-11-26 02:16] liming1010 opened #409 "An error occurred while loading the Vue or React page"
Exception class=[net.sourceforge.htmlunit.corejs.javascript.EvaluatorException]
com.gargoylesoftware.htmlunit.ScriptException: syntax error ***

`Caused by: net.sourceforge.htmlunit.corejs.javascript.EvaluatorException: syntax error (http://***/static/js/chunk-libs.0adea9b6.js#141)
	at com.gargoylesoftware.htmlunit.javascript.HtmlUnitContextFactory$HtmlUnitErrorReporter.error(HtmlUnitContextFactor

[2021-11-26 03:32] RuralHunter opened #410 "Is the logic of WebClient.waitForBackgroundJavaScriptxxx() problematic?"
I mean this 2 methods:
public int waitForBackgroundJavaScript(final long timeoutMillis)
public int waitForBackgroundJavaScriptStartingBefore(final long delayMillis)

We usually do this when opening a page:
[code]
I noticed in some cases background jobs are not executed. For example with this kind of onload function:
[code]
In the case above, I noticed the 'time_func' sometimes executed but sometim

[2021-11-29 13:39] vpostrigan opened #411 "Infinite loop in net.sourceforge.htmlunit.corejs.javascript.Interpreter interpretLoop(Context cx, CallFrame frame, Object throwable)"
I am opening different pages with HtmlUnit 2.55.0 and notices that 1 page loads CPU on 100%
This page has javascript protection.
Problem not in that HtmlUnit can't open protection.
Problem in infinite loop and stuck. javascript timeout helps, but until it will happen, it will load 100 % CPU.
All browsers open this page fine (old and new).

For me it's clear bug in HtmlUnit js processing.
I tried t

[2021-12-01 06:29] rbri commented on #406
The main trick is commons-logging. HtmlUnit never writes to the log by itself, all logging calls are handed over to commons-logging. You can configure commons-logging itself to ignore all these calls.

But depending on your classpath commons-logging will forward the log messages to e.g. log4j or slf4j. And there you can also configure the log output.

[2021-12-06 11:06] Deadc00l opened #413 "HTMLUnit loads wrong locale file for Javascript Datepicker"
Executing a jquery datepicker loads the wrong script from i18n resource folder. Instead of executing the default script (en_US), HTMLUnit executes the last file of i18n resource folder.

Datepicker is implemented link in : https://jqueryui.com/datepicker/#localization

[2021-12-06 11:47] rbri commented on #413
Any chance to get more details or a demo page/folder and a short main method that shows your problem?

[2021-12-07 07:03] tea-blog commented on #406
All right... Thank you! The data obtained from this page is empty. What should i do?  :(
[https://www.iconfont.cn](https://www.iconfont.cn)

[2021-12-07 15:19] #407 closed, assigned to nobody

[2021-12-08 10:51] Deadc00l commented on #413
After consulting with our developers, it seems that the problem is indeed on our side. The I18n files are faulty.
Sorry for that :)

[2021-12-08 10:51] #413 closed, assigned to nobody

[2021-12-08 14:29] rbri commented on #413
Great and thanks for the feedback

[2021-12-09 03:17] tea-blog opened #414 "How to close the specified JS file loading？"
How to close the specified JS file loading？ :(
Can I do this?

[2021-12-09 03:33] tea-blog opened #415 "How to change the value of the Accept-Language?"
this... :(
![image](https://user-images.githubusercontent.com/68322136/145329906-932f2696-0bd3-4aea-9494-62ce7776fd6f.png)

[2021-12-09 13:37] rbri commented on #415
Have updated the docu at https://htmlunit.sourceforge.io/details.html a bit. Hope the sample at the top answers this question.

[2021-12-09 13:38] rbri commented on #414
Sorry but i have no idea what you like to know.
Please provide some more details and i will try to help.

[2021-12-10 01:47] tea-blog commented on #415
Thank you so much! 👍 ：）

[2021-12-10 01:47] #415 closed, assigned to nobody

[2021-12-13 03:18] sengsational commented on #133
I just updated AndroidStudio to the latest and tried `implementation("org.seleniumhq.selenium:selenium-htmlunit-driver:2.52.0")` and it gives the **No static field INSTANCE of type Lorg/apache/http/conn/ssl/AllowAllHostnameVerifier** error.

How likely is it that Google doesn't want this to work?

[2021-12-13 03:21] sengsational commented on #133
Is there an old version of HtmlUnit that is in alignment with the version of HtmlUnit that Google has integrated?

In other words, if I were willing to reach back and grab an old version, build that into my app, could I get htmlunit to work in my Android app?

[2021-12-13 09:43] black-snow opened #417 "HtmlPage.asText gone missing"
Hey @rbri

I've just upgraded from `2.52.0` to `2.55.0` and apparently `HtmlPage.asText()` (or DomNode or where it's been living before) has gone missing. But there's no such change listed in the changelog. Is something wrong with my version (snapshot repo) or is it just not in the docs?

What's the new way to grab the text - `getVisibleText()`?
/edit: I see there's also `getTextContent()`

[2021-12-13 10:34] rbri commented on #417
Hi and welcome back, hope your are happy and healthy :-)

From the release notes:
**Release 2.55.0 – November 14, 2021**
Deprecated method DomNode.asText() removed.

**Release 2.48.0 – March 20, 2021**
DomNode#asNormalizedText() added to provide a more meaningful and stable normalization. DomNode#asText() is now deprecated.

**From the javadoc of DomNode#getVisibleText()**
Returns a textual repres

[2021-12-13 13:38] black-snow commented on #417
I'm fine, thanks!
As usually a very quick and thorough answer! I swapped to `asNormalizedText` in all the places and it looks good so far.

As for the release notes - apparently I've been too stupid to actually click the link in the table to reach https://htmlunit.sourceforge.io/changes-report.html#a2.55.0 :D

Did you automate the [github release notes](https://github.com/HtmlUnit/htmlunit/release

[2021-12-14 04:39] he1ex-tG commented on #133
java.lang.NoSuchFieldError: No static field INSTANCE of type Lorg/apache/http/conn/ssl/AllowAllHostnameVerifier; in class Lorg/apache/http/conn/ssl/AllowAllHostnameVerifier; or its superclasses (declaration of 'org.apache.http.conn.ssl.AllowAllHostnameVerifier' appears in /system/framework/framework.jar!classes4.dex)

How can I resolve this issue?

Android Studio 4.1.3

 classpath "com.android.too

[2021-12-14 08:46] Deadc00l opened #418 "isDisabled() returns true, while JS is set to disabled"
Hello,
I have an issue with the display of elements in case javascript is set to disabled:
com.gargoylesoftware.htmlunit.html.HtmlElement.isDisplayed()

Example html
[code]

Expected result of span with id "test" is false (because of  style="display:none;")
HtmlUnit returns true.

@rbri, could you please take a look at this?

Thanks and greetings

[2021-12-14 09:39] SHENXIAOTIAN1 opened #419 "HtmlImage.click(x,y) doesn't work"
Hello @rbri

I want to click on some coordinates on the picture.
But the result is not the same as the provided coordinates.It is always at the point (2, 2).

Thanks

[2021-12-14 11:06] rbri commented on #419
Hi,
what version do you use and how do you get the point(2,2). PointerEvent or something else?

[2021-12-14 11:29] SHENXIAOTIAN1 commented on #419
My version is 2.56.0.
I used HtmlPage.asXml() to get the returned page.

[2021-12-14 13:27] jometzner commented on #385
I have the same issue in the latest version 2.56.0. The stacktrace I'm seeing is:
[code]
Need to have a look at the xalan code base.

[2021-12-14 13:46] rbri commented on #419
Can you please provide some more details
* is there an imagemap associated with the image?
* is this image part of an anchor?
* how does the js code detect the point?

[2021-12-14 15:17] SHENXIAOTIAN1 commented on #419
This is a captcha image.
`<img id="clickTipCaptcha" src="/login-web/api/captcha/clicktip/shlogin/get?modelId=&amp;t=1639493851150" draggable="false" data-reactid=".0.0.2.0.0.0.1.0.1.0.2.0.0.0.0">`

I need to click on some coordinates on the picture to complete the verification.
I think it uses PointerEvent to record point.

[2021-12-15 12:11] rbri commented on #133
maybe i have an idea - will try to make something possible during the next days
please be a bit patient

[2021-12-16 16:25] rbri commented on #419
Have done a first hack to forward the information to the click event.
Please check with the latest snapshot build.

[2021-12-17 16:28] thuri opened #422 "value attribute set with jquery selector can't be changed via HtmlInput Element"
Hi, first of all thanks for all the work you've done on that project.

I may have found a bug or I am unaware of an mistake in my code.
To reproduce the issue I have setup a small test project: https://github.com/thuri/htmlunit-jquery-selector-init
It uses:
* Java 11
* JUnit 5
* HTMLUnit 2.56.0

The html page of the project defines a small form with two fields, a text input and a datetime-local in

[2021-12-18 09:41] rbri commented on #422
Hi Michael,

at first many thanks for the detailed error description and the test project. Reports like this are the reason for having fun  working on libs like this.
I guess that your problem is related to infamous js async processing required to make all the web hacks around on this weak platform possible - what i like to say the jQuery ready function is async.

What seems to happen

**webClient

[2021-12-18 10:06] thuri commented on #422
Hey @rbri  thanks for the fast response.
You're right it looks like a race condition. Adding the line to the code really solved the problem (so I'll close the issue)
I just recently experienced the same issue with the the "native" javascript code within the ready function.
But as you said the problem is the ready function as such not the way the inputs are accessed.

I don't know whether it is pos

[2021-12-18 10:06] #422 closed, assigned to rbri

[2021-12-18 13:14] rbri commented on #422
Thanks @thuri for the fast feedback, great to see the problem is 'gone' - github stars are always welcome :-)

There are several wait methods to mitigate the wait problem. We have implemented a much more sophisticated wait handling in Wetator - if you are interested you can have a look at the source. And also WebDriver has some idea of waitFor in the API.

Maybe one day i have a final idea how to

[2021-12-18 21:39] thuri opened #423 "JavaScript Date instances don't seem to represent localdate"
In browsers `new Date("2021-12-18T22:23")` seem to produce a local date time.
So when calling `new Date("2021-12-18T22:23").toISOString()` on my local machine (situated in Timezone Europe/Berlin) the resulting string will be `2021-12-18T21:23:00.000Z`
The browser implementation seems to calculate the UTC time from the Date instance.

![grafik](https://user-images.githubusercontent.com/1602552/1466

[2021-12-19 17:10] rbri commented on #423
will have a look

[2021-12-20 10:44] rbri commented on #133
Ok, made some progress here - hopefully

Please try to replace your htmlunit dependency with

    <dependency>
        <groupId>net.sourceforge.htmlunit</groupId>
        <artifactId>htmlunit-android</artifactId>
        <version>2.56.0-SNAPSHOT</version>
    </dependency>

You have to add the sonatype snapshot repository to your pom distributionManagement section also:

    <snapshotRepository>

[2021-12-20 16:09] rbri commented on #423
Ok, looks like an issue ;-)

But i have to do some more changes to make this working, including fixes to the rhino code.
I fear this will require some time - do you need this fix already this year?

[2021-12-20 18:55] thuri commented on #423
No I don't need this this year. Please have a nice christmas time without thinking about this.
I need this for a little side project but that's not that important

[2021-12-22 17:50] rbri commented on #423
made a PR for Rhino
https://github.com/mozilla/rhino/pull/1132

[2021-12-24 07:41] #414 closed, assigned to nobody

[2021-12-27 12:17] rbri commented on #401
OK, did some first analysis here and found two problem:
* the page loads a javascript part as module (<script src="https://cf.geekdo-static.com/frontend/runtime.efb5b9e773aae97d.js" type="module" crossorigin="anonymous">) and modules are not supported as of now
* loading the polyfill script also fails (missing formal parameter (https://cf.geekdo-static.com/frontend/polyfills.895005c793fa245f.js#1)

[2021-12-28 06:44] pk604437000 commented on #331
thanks,sovle my problem:)

[2021-12-29 01:36] MatroidX commented on #401
Appreciate the update!

FYI I did find a workaround, so no longer urgent for myself. Details in boardgamegeek link provided above, specifically this post:

If you want to go more "low level", you can make a HTTP POST Request to https://boardgamegeek.com/login/api/v1 and provide a JSON object in the request body:
{"credentials":{"username":username ,"password":password}}

[2021-12-29 14:12] mauromol opened #425 "Classpath issue when upgrading to Java 11"
I'm trying to upgrade my project which uses HtmlUnit from Java 8 to Java 11.

I have the following classpath problem. HtmlUnit indirectly depends on `xml-apis` and this may make the Java 11 compiler complain:

[code]

This happens even if I'm not using the module path, but the classpath.

I see that HtmlUnit 2.56 has the following dependency:

[code]

which is fine, because it excludes `xml-apis`.

[2022-01-02 10:12] thuri commented on #223
Happy new year everyone :-)

I have a similar issue with htmlunit wenn posting a FormData object to a MockMvc Client.
I still think this is an issue with htmlunit as the jquery docs say

see [jquery docs]

Therefore the content of the "data" attribute in the `$.ajax` call in the example MUST be added to the request body if the method used is "POST". If the method is "GET" the data must be appended

[2022-01-02 22:44] thuri commented on #223
After looking deeper into this I changed my mind a bit.
When using htmlunit on top of Springs MockMvc there is no parsing of the body. Actually the `RequestParamMethodArgumentResolver` is using the Request object that was created by `HtmlUnitRequestBuilder` to access the request params.
So i changed the `XmlHttpRequest` object of htmlunit to fill the `requestParameters` object as it would do it in

[2022-01-03 07:39] rbri commented on #223
@thuri can you please add a separate issue for your case; if you like we can have a talk about it later on today. Maybe you can suggest a timeslot (my email is in the pom).

[2022-01-03 18:17] thuri commented on #223
Hi @rbri I'll send you a mail but just for all others: There is no issue with posting FormData objects via mockMvc.
I had another issue with my own code and somehow thought it had to do with the post request. Not sure what happened but than i found myself searching the web and found this issue and thought it looked like my problem :wink: So I eventually made it my problem :rofl:

[2022-01-05 13:50] jcaillabet commented on #223
Hi @thuri and happy new year every one.

I've tried using HtmlUnit sources with your correction ( JQueryAJAXFormURLEncoded branch ), and on my side my issue is corrected. Now I can send a POST form request with Ajax ( and without my Spring PR )

If finally the correction must be done in HtmlUnit, I think I will not try to develop one as yours is correct for my needs, and I will wait that you do a

[2022-01-05 16:47] thuri commented on #223
Hi,

I had a nice little chat with @rbri yesterday. He'll have a deeper look into this and come back to me with some help. I'll create a PR then if still necessary but probably it won't be necessary anymore

Am 5. Januar 2022 14:50:15 MEZ schrieb jcaillabet ***@***.***>:

[2022-01-08 23:12] sengsational commented on #133
Thanks @rbri !  Sorry for the delay, as I was on holiday.

I see "https://oss.sonatype.org/content/repositories/snapshots/net/sourceforge/htmlunit/htmlunit-android/2.56.0-SNAPSHOT/maven-metadata.xml" is populated appropriately, but I'm having  trouble convincing Android Studio to look there.

Although I have configured the top level build.gradle with the repository, and put the dependency into the

[2022-01-09 00:06] sengsational commented on #133
I was able to figure out how to coax Android Studio to use the repositories I specify by putting the repository into `settings.gradle` instead of `build.gradle`:

`settings.gradle`

    import org.gradle.api.initialization.resolve.RepositoriesMode
    dependencyResolutionManagement {
        repositoriesMode.set(RepositoriesMode.PREFER_SETTINGS)
        repositories {
            google()

[2022-01-09 10:32] rbri commented on #133
Ok, have updated the package to add some more debug code.
From the first look i think you have HtmlUnit twice in your classpath - but lets see.

The new snapshot build contains a main class - com.gargoylesoftware.htmlunit.android.Main.
Please call the main method of this class and check the  output.

This is what i get here:

    com.gargoylesoftware.htmlunit.WebClient  htmlunit-android-2.56.0-SNA

[2022-01-11 01:36] TamTam2048 opened #429 "Is there anyway to clear the Cookie property in request header with HtmlUnit?"
I'm trying to access a page and there is some problem with the cookie property in request header. When I compare with the header received from another browsers (like Chrome), the cookie seems to be different.

The cookie I got from Chrome: ADRUM_BTa= xxxx
The cookie I got from Htmlunit:  AMCVS_xxxx

The AMCVS cookie leads me to a 401 code.
Please help

[2022-01-11 22:17] sengsational commented on #133
My initial attempts to find a Main.class weren't successful, so I made the assumption that my build process had the previous version of htmlunit-android-2.56.0-SNAPSHOT.  So I deleted `.gradle/caches` and deleted `.m2`.  If I were more knowledgeable about how Android Studio does it's build, I probably could have just unzipped the associated jar (and maybe decompiled) to look for the class, but I j

[2022-01-13 17:22] sengsational commented on #133
I found your source code here: https://github.com/HtmlUnit/htmlunit-android/blob/main/src/main/java/com/gargoylesoftware/htmlunit/android/Main.java

But when I pasted the code into the  `onCreate()` in my Android activity, I got a null pointer exception.  I further discovered that `VersionUtil.determineVersionFromJarFileName(tmpClass)` calls `tmpClass.getProtectionDomain()`, which returns null in

[2022-01-14 13:57] ashleyfrieze commented on #379
That does look like an error in the javascript of your page, rather than an error in HtmlUnit. What's inside that big js file? and which version of JS is it compiled for?

[2022-01-14 14:12] ashleyfrieze opened #431 "Occasional test failures when using jquery `ReferenceError: "$" is not defined.`"
We hit this problem in something like 1 in 200 test runs. HtmlUnit is capable of successfully executing our pages, but then if the machine is busy, or we're just plain unlucky, it doesn't work.

I think it's a race condition.

We have pages where:

[code]

and in `form-common.js`:

[code]

Though in fairness, similar code in the body of the main page can cause the error

So, what I think is happen

[2022-01-14 17:32] ashleyfrieze opened #432 "The Logic in `Cache` for `max-age` is not as expected"
At the moment, https://github.com/HtmlUnit/htmlunit/blob/master/src/main/java/com/gargoylesoftware/htmlunit/Cache.java#L251 has logic that dictates:

- if `max-age` or `s-maxage`
- look at the `Last-Modified` header to find when the page was changed
- do not cache if the `Last-Modified` was earlier than `now` - `DELAY`

But the _correct_ behaviour would be to cache the content in this situation in

[2022-01-14 19:55] rbri commented on #432
HtmlUnit is not for unit test only. Every difference in behavior compared to real browsers is a bug. And yes please provide an PR.

[2022-01-14 22:18] ashleyfrieze commented on #432
@rbri - please have a quick look at #433 - it passes the tests around the cache, but I don't know if it will have any other effects. It would be good to get your feedback on the logic.

[2022-01-16 17:27] asbachb commented on #379
I'm getting the same error on accessing twitter profiles: https://twitter.com/Google

[2022-01-16 17:44] rbri commented on #379
Looks like a problem with Rhino - any chance to provide a simple js that produces this error?

[2022-01-16 17:50] asbachb commented on #379
I don't think I can condense that JS. But here's a code to produce the error.

[code]

[2022-01-17 13:48] niemand0 opened #435 "2.56.0 API doc lists each class twice"
1. Unzip htmlunit-2.56.0-bin.zip
2. Open index.html under apidocs folder

Every class appears twice:
![image](https://user-images.githubusercontent.com/1043792/149780174-1f6d9cd2-1ca8-4b5f-ba88-0dda8939d769.png)

[2022-01-17 14:34] Jaaap opened #436 "formaction, formmethod, formtarget and formenctype ignored on button without type attribute"
This works as expected:
[code]
but if you omit the `[type=submit]`, then the `formaction` and the `formmethod` are ignored. DOES NOT WORK:
[code]

See src/main/java/com/gargoylesoftware/htmlunit/html/HtmlForm.java:226, `type` contains the empty string there.

[2022-01-17 15:22] niemand0 opened #437 "Error: org.w3c.dom package is accessible from more than one module: <unnamed>, java.xml"
The error shows up in eclipse 2021-12. Perhaps related to modular Java (using JDK 17).

![image](https://user-images.githubusercontent.com/1043792/149795823-abb6dce4-851a-4fa9-8d1c-e427f6ae9440.png)

[2022-01-17 16:29] rbri commented on #435
many thanks, should be fixed in the next release

[2022-01-17 16:29] #435 closed, assigned to nobody

[2022-01-17 16:41] rbri commented on #436
fixed; will make a new snapshot available soon (pls check on twitter)

[2022-01-17 16:41] #436 closed, assigned to nobody

[2022-01-17 16:41] rbri commented on #436
Many thanks.

[2022-01-17 17:40] niemand0 commented on #437
It appears you need to:
1. remove the xml-apis-1.4.01.jar; its contents are supplied in java.xml module of the JavaSE-17 JDK.
2. remove the w3c contents from xercesImpl-2.12.1.jar; HTMLDOMImplementation.class is supplied in jdk.xml.dom module.
3. remove netscape contents from htmlunit-2.56.0.jar; they are supplied in jdk.jsobject module.

[2022-01-18 19:31] rbri commented on #429
Any chance to provide some code to let me reproduce this?
Outside of this you can access all the cookies (and manipulate) using the Cookie manager from the WebClient.

[2022-01-19 18:46] ashleyfrieze commented on #432
@rbri  - I presume we can close this?

[2022-01-20 17:33] sengsational commented on #133
I documented the classpath for both the selenium htmlunit and the snapshot htmlunit in this repository: https://github.com/sengsational/TestSelenium (see .txt files in the root).

The full stack trace leading to the ClassNotFoundException on org.apache.commons.codec.net.URLCodec is also included in the repo.

[2022-01-23 10:08] rbri commented on #432
Yes will be part of the next release. Aganin thanks for your contribution.

[2022-01-23 10:08] #432 closed, assigned to nobody

[2022-01-24 09:23] ashleyfrieze commented on #432
@rbri it's my pleasure

[2022-01-28 17:02] Jaaap opened #438 "input[type=checkbox].isValid() ignores (live) checked state"
The following snippet:
[code]
with
[code]
fails, perhaps because `HtmlCheckBoxInput.isValueMissingValidityState()` uses `getCheckedAttribute()` instead of looking at the `isChecked()`?

[2022-01-30 16:54] rbri commented on #438
Many thanks for the report - this seem to be huge because all other inputs are also suffering from this broken impl.
Will try to fix this during the next days and make a new snapshot available soon.

[2022-01-31 08:31] TamTam2048 commented on #429
Sorry, It was a bad question, I will close this and open a new one If I have more detail on this case

[2022-01-31 08:31] #429 closed, assigned to nobody

[2022-01-31 14:38] rbri commented on #429
Thanks for the feedback - will be great if you can provide a more detailed case.

[2022-01-31 16:08] rbri commented on #438
Implemented, will make a snapshot build available if the CI is happy with the changes (check twitter for news)

Again many thanks for your report.

[2022-01-31 16:08] #438 closed, assigned to rbri

[2022-02-01 06:26] rbri commented on #438
snapshot is out - please check and report new issues ;-)

[2022-02-01 06:26] rbri commented on #438
(and github stars are always welcome)

[2022-02-01 16:19] jeffcjohnson opened #439 "HtmlUnit 2.57.0 asNormalizedText() is incorrect when isCSSEnabled is false"
In 2.57.0, asNormalizedText() is missing linefeeds on some block layout tags if CSS is disabled, even when no CSS is present in the HTML.

[code]

[code]

PS: thanks for HtmlUnit, it is awesome!

[2022-02-01 18:45] rbri commented on #439
Your are welcome (and github stars also ;-)

I think i found the root cause of the problem - will make a new snapshot build available is the CI is happy with the fix.
Please check on twitter for any updates.

[2022-02-01 19:31] rbri commented on #439
CI is happy - new snapshot is available.

[2022-02-01 19:31] #439 closed, assigned to nobody

[2022-02-07 02:20] niyuhan opened #440 "net.sourceforge.htmlunit.corejs.javascript.ScriptRuntime.getTopCallScope"
ScriptRuntime:3881

![image](https://user-images.githubusercontent.com/29651573/152714656-be87666e-7a35-41e9-a148-05ff29a457e3.png)

request vue-cli website

[2022-02-07 02:23] niyuhan commented on #440
Version 2.57.0 has problem
Version 2.50.0 has not

[2022-02-07 22:18] rbri commented on #440
Do you have a public url for me to reproduce?

[2022-02-08 13:51] jowerner opened #441 "Wrong import in class Document?"
Class `Document` makes use of `HTMLFieldSetElement` now. To this end, it imports `org.w3c.dom.html.HTMLFieldSetElement`. Is this intended or should this rather be `com.gargoylesoftware.htmlunit.javascript.host.html.HTMLFieldSetElement`? Thanks!

[2022-02-08 14:33] rbri commented on #441
LoL - it should be a Frameset - will fix that soon (and write the last missing test).
Many thanks - as always

[2022-02-08 14:50] jowerner commented on #441
Oh ... :laughing:

[2022-02-08 16:28] rbri commented on #441
Fixed, but how did you found that? Have you done some architecture tests?

[2022-02-08 16:28] #441 closed, assigned to rbri

[2022-02-09 06:03] rbri commented on #423
This is fixed with the 2.58.0 release.
Thanks for this report.

[2022-02-09 06:03] #423 closed, assigned to rbri

[2022-02-09 06:06] rbri commented on #419
@SHENXIAOTIAN1 does it work for you?

[2022-02-09 20:54] skyhirider opened #442 "MutationObserver not triggering?"
I've ran into a case where the mutation observer is not triggering, not sure if its a configuration issue or if the observer is busted. My test case:

[code]

Firefox returns a number, Htmlunit returns null.

[2022-02-11 01:55] SHENXIAOTIAN1 commented on #419
no,I tried other ways.

[2022-02-11 14:57] jowerner commented on #441
No, I just happened to compile HU with a JDK 11. In Java 11, when the compiler sees that a certain package is referenced, it checks if that very package is provided by exactly one module only and complains otherwise.

HU and its dependencies have an overlap with standard Java 11 modules causing such compiler errors. When excluding `xml-apis.jar` from HU and the `jdk.jsobject` module from Java 11,

[2022-02-11 18:08] rbri commented on #441
yes jdk 11 is another one on the list

[2022-02-11 18:09] rbri commented on #419
Ok, will close this, thanks

[2022-02-11 18:09] #419 closed, assigned to nobody

[2022-02-15 10:54] christian-draeger opened #443 "how to get page source as HTML (not as XML)"
Hello,
i am wondering if it is somehow possible to get the page source (after javascript has been executed) as HTML (like a browser would show it if i inspect a pages source with its developer console).

I know that i can convert a `HtmlPage` to XML like this:

a given html:
[code]

[code]

which will lead to the following output:
[code]

but since this is xml (as the `asXml()` function promises^^

[2022-02-15 20:35] rbri commented on #443
Hi Christian,
Short answer: not at the moment.

Longer: PR are welcome, it might be some work to implement this, but the asXml impl can be a good guide.
There are also some Implementations outside the dpm object tree used e.g. for the asText serialization. Maybe this is another possible way to add this.

[2022-02-15 21:31] christian-draeger commented on #443
I can try to prepair a PR. Currently running short on time but within the next weeks

[2022-02-15 22:24] christian-draeger commented on #133
Any update on this one?

[2022-02-15 23:15] p4ulor opened #444 "ERROR in Android - NoSuchFieldError: No static field INSTANCE of type Lorg/apache/http/conn/ssl/AllowAllHostnameVerifier"
Hi. Im sorry, but I've been trying to solve this problem for a while now and I really need help because this is frying by brain and eyes. So I would love to have some help.
- [Here is my project](https://github.com/p4ulor/NutritionTrackerApp)
- [Here is where I'm using htmlunit code](https://github.com/p4ulor/NutritionTrackerApp/blob/24b0b6e70dbd2a3348564fb417c6accaa9df3b02/NutritionTracker/app/sr

[2022-02-18 05:20] dshetyo commented on #444
I am also facing this same issue when using on Andorid.  I know that the root cause of this is AllowAllHostnameVerifier Deprecated. (4.4) on Andorid api level 23+. See https://stackoverflow.com/questions/60423257/no-static-field-instance-of-type-lorg-apache-http-conn-ssl-allowallhostnameverif

But what is the solution?

[2022-02-18 07:44] rbri commented on #444
I tried to solve this by 'shading' please try to use

    <dependency>
        <groupId>net.sourceforge.htmlunit</groupId>
        <artifactId>htmlunit-android</artifactId>
        <version>2.56.0-SNAPSHOT</version>
    </dependency>

instead of the htmlunit dependency. You have to add the snapshot repo also

    <snapshotRepository>
        <id>sonatype-nexus-snapshots</id>
        <url>https://o

[2022-02-18 18:09] p4ulor commented on #444
It gave me:
[code]
I searched this around, this person also had [the same problem](https://github.com/HtmlUnit/htmlunit/issues/133#issuecomment-1008176250)
And I also tried his second attempt [here](https://github.com/HtmlUnit/htmlunit/issues/133#issuecomment-1008189635) and also didnt work

Is that package public? I didn't find it on the internet

[2022-02-18 18:25] rbri commented on #444
Please try 2.56.0-SNAPSHOT

[2022-02-18 18:26] rbri commented on #444
Do you use gradle?

[2022-02-18 18:40] p4ulor commented on #444
I also tried capslock
![image](https://user-images.githubusercontent.com/32241574/154742819-2b4e6e10-735d-45de-87d1-15421f50f92c.png)

Yes I'm using gradle. [here is the line](https://github.com/p4ulor/NutritionTrackerApp/blob/9e02c61e6a243cad205a4602edcb9839bcf0d35b/NutritionTracker/app/build.gradle#L72)

[2022-02-18 19:07] rbri commented on #133
have fixed the missing dependency to commons codec and updated the build

now it is 2.58.0-SNAPSHOT

[2022-02-18 19:08] rbri commented on #444
you have to add the snapshot repo and i just made a fix. Please use 2.58.0-SNAPSHOT

[2022-02-18 19:34] p4ulor commented on #444
So, the good news is that it runs. Thank you and good work (even though I'm a newbie and don't know what or how you did it lol)

The bad news is that now I'm having this error that sometimes happens on the website, even in normal browsers:
![image](https://user-images.githubusercontent.com/32241574/154749566-f7918020-450e-4493-ac33-519d40047faf.png)

The error 503 first byte timeout

here is my co

[2022-02-18 19:39] abigliar commented on #133
The problem is solved, right? If so, I will close the issue.

[2022-02-18 20:24] christian-draeger commented on #133
Does that mean the issues on Android are fixed when using  net.sourceforge.htmlunit:htmlunit-android:2.58.0-SNAPSHOT ?
Is there something that would hinder me to use this dependency everywhere (on Android and on server) to not need to distinguish between different libraries?

Or does it mean net.sourceforge.htmlunit:htmlunit:2.58.0-SNAPSHOT is now android compatible?

Since it's still snapshot ver

[2022-02-19 01:43] dshetyo commented on #444
I tested the original issue and I can confirm thats its resolved.  The issue @p4ulor is facing is unrelated to htmlUnit lib. The  website he is trying to hit is too slow.

I am simly trying to load google.com and am getting error.

My code
[code]
[code]

Tried some other website and agin getting error.
[code]

[2022-02-19 08:06] rbri commented on #444
@dshetyo the last one is a different story (and fixable :-))
Please open a new issue for this.

[2022-02-19 09:20] christian-draeger commented on #444
FYI: i just switched to htmlunit-android:2.58.0-SNAPSHOT over [here](https://github.com/skrapeit/skrape.it/commit/d0c6ba597955a49c3cbb53eca114ad1214642291)

at least all my server side tests are still passing after switching everything from htmlunit to htmlunit-android which leads me to the question if there is any problem to always use htmlunit-android (android as well as any other java runtime o

[2022-02-19 09:54] comschmid commented on #411
I experience a similar problem, after HtmlUnit version: 2.58.0 maxes out one core after the other.
Since I'm crawling thousands of pages, I don't know the exact reason and with which JavaScript construct it happens.

I created a Thread Dump and attached the nearly 4000 lines long stack of the suspected Thread as attachment:
[endless-loop-thread.txt](https://github.com/HtmlUnit/htmlunit/files/81018

[2022-02-19 12:18] rbri commented on #444
Technically there is no difference and you can stay with the android version - it is exactly the same code as the 'real' htmlunit. But there is some flexibility you are loosing because the httpclient is (shaded) included in your jar file and no longer an separate jar. This might be a problem for some users.

Will close this issue for now and update the readme a bit.

If you like you can have a loo

[2022-02-19 12:18] #444 closed, assigned to nobody

[2022-02-19 12:23] rbri commented on #133
Looks like the htmlunit-android version (at least the latest snapshot build is working. Will soon make a new snapshot available to fix the clipboard problem.

[2022-02-19 12:23] #133 closed, assigned to nobody

[2022-02-19 12:29] rbri commented on #411
Hi @comschmid,

without a reproducible sample it is really hard to find the root of that problem and from your provided data a can't see more. Maybe you can enhance your logging a bit to get an idea what url causes the problem?.

And btw `Since I'm crawling thousands of pages` github stars are welcome and sponsoring is even more welcome. I'm doing all this in my spare time having a > 40h/week job

[2022-02-19 13:43] comschmid commented on #411
Thank for your answer @rbri !

The problem is that I don't know for what I should look for and log while crawling. After some time I just see an increase in CPU. But @vpostrigan seems to have the same problem, so I guess his [HTML file](https://github.com/HtmlUnit/htmlunit/files/7618445/1.txt) could be a good starting point.

I could follow and check the HtmlUnit stack myself, but I thought this w

[2022-02-19 14:19] niloc132 commented on #78
Perhaps a dumb question, but would it make sense to support JS polyfills directly in HtmlUnit to support features like fetch?

[2022-02-19 19:11] rbri commented on #78
@niloc132 that sounds like a really good idea - i will experiment a bit with that.

[2022-02-19 19:35] niloc132 commented on #78
A patch showing how would make a great example for how to contribute other such features - I'm actually a bit surprised that other JS APIs havent been implemented with this before, leverage the rest of the engine working so well.

If you could also show very roughly how you would envision this working, I'd be happy to take a crack at this fix myself.

[2022-02-20 06:37] kriegaex opened #446 ""CSSValue X has to be a Y value" is logged despite using SilentCssErrorHandler"
I use HtmlUnit 2.58.0 and the corresponding HtmlUnit web driver from Geb 4.1 on top of Selenium 3.141.59.

My custom `WebClient` sets a `SilentCssErrorHandler` inside overridden `modifyWebClient`. I actually was expecting this to silence log lines like

[code]

in an otherwise successful test opening on https://github.com/trending, selecting the top 3 projects and opening their GH pages.

[2022-02-20 08:51] rbri commented on #78
@niloc132 can you please open a separate issue for using a polyfill

[2022-02-20 09:56] rbri commented on #446
Hi Alexander,
the CssErrorHandler handles (mainly) errors found while parsing the css file. But this warning is a bit more different. The css is correct but HtmlUnit is not able to deal with this calc stuff and therefore reports this warning.

You can disable this using set the log level for HtmlUnit or for only the CSSStyleSheet class.

What do you think - maybe i have to change the text of the w

[2022-02-20 12:28] kriegaex commented on #446
OK, I think if I can programmatically define the log level for `CSSStyleSheet` in a generic way, that will be fine. As HtmlUnit uses Commons Logging, actually in my Geb configuration script (which is used in multiple project, each of which might use a different logging tool) I would like to set the log level. The Commons Logging API is not very helpful in determining which logging framework is det

[2022-02-20 12:33] rbri commented on #78
@niloc132 - short progress update - i'm just made the first fetch request working based on your idea!!!!

[2022-02-20 15:49] twendelmuth commented on #446
@kriegaex What rbri means it to turn off the log level within your logging framework for that class or htmlunit in general.
Basically what this log is telling you is "this part is not 100% implemented, don't rely on it's execution when asserting your page".
So you could either set the logger for `com.gargoylesoftware.htmlunit.javascript.host.css.CSSStyleSheet` to `ERROR` or turn it off completely

[2022-02-20 17:16] niloc132 opened #447 "Feature request: Implement Fetch API using polyfill on XHR"
https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API

As discussed in https://github.com/HtmlUnit/htmlunit/issues/78, there are several polyfills that allow web applications to use the Fetch API in browsers that don't support them, but the browsers that HtmlUnit can behave as most (or all?) already support fetch natively.

One option is to implement the api directly by using a polyfill, refe

[2022-02-20 17:30] rbri commented on #447
@niloc132 have done a first impl - please have a look and let us discuss this a bit

[2022-02-21 00:26] kriegaex commented on #446
@twendelmuth, I know what rbri means and what the error means. I also know how to configure a logging framework. I just wanted to find a way to avoid configuring the framework in each of my applications and do it centrally in the module where HtmlUnit gets configured. But Commons Logging being a facade without its own means of setting the log level, this seems to be impossible.

@rbri, as for whet

[2022-02-21 00:38] kriegaex commented on #446
FWIW, because the module I am currently dealing with happens to be using Logback, I added this to me config file in the test resources:

[code]

I would be happy to be able to remove that in the future, if you would kindly consider to implement a specific handler (and a silent version of it) for those kinds of warnings. 🙂

[2022-02-21 20:59] dshetyo opened #448 "ReferenceError: "WebAssembly" is not defined"
I am using  2.58.0-SNAPSHOT version and  trying to load google.com and am getting error.

My code

[code]

@rocess: com.mindedges.whatsapptracker, PID: 15821
    java.lang.NoClassDefFoundError: Failed resolution of: Ljava/awt/datatransfer/ClipboardOwner;
        at com.gargoylesoftware.htmlunit.html.parser.neko.HtmlUnitNekoDOMBuilder.handleCharacters(HtmlUnitNekoDOMBuilder.java:593)
        at com

[2022-02-22 01:33] dballardgh commented on #369
Hi @peberD,

Digging a little deeper here, using your scenario, when the page is loaded, the htmlunit `DefaultJavaScriptExecutor.run()` method loops over job managers and executes the earliest job. In this scenario, there is only one job manager. This job manager has a `PriorityQueue` named `scheduledJobsQ_`. Initially I can see all 10 jobs in the queue and they are in the expected order 1, 2, 3,

[2022-02-22 02:12] jpschewe opened #449 "const not supported in javascript for loop"
When parsing the following javascript htmlunit fails to parse. If "const" is removed from the for loop, then the parsing succeeds.

Minimal code example:
test.js
[code]

test.html
[code]

App.java
[code]

[2022-02-22 12:05] christian-draeger commented on #444
ok, thx for clarification.
i opened a follow-up at htmlunit-android repo
https://github.com/HtmlUnit/htmlunit-android/issues/1

[2022-02-22 14:52] rbri commented on #369
i guess the fix will be easy - maybe later today

[2022-02-22 17:11] #369 closed, assigned to nobody

[2022-02-22 17:13] rbri commented on #369
Thanks a lot @peberD and @dballardgh, you test case and your analyses are really awesome.
Fix is on the way, will make a new snapshot build as soon as the CI is happy (as always will inform on twitter).

Many many thanks....

[2022-02-22 18:19] dshetyo commented on #444
I opened a issue https://github.com/HtmlUnit/htmlunit/issues/448

[2022-02-22 19:22] rbri commented on #448
Yes have seen this already - two points

1. Failed resolution of: Ljava/awt/datatransfer/ClipboardOwner
This is one of the remaining problems because not all classes of the standard jdk are available on Android. Good news, i have already fixed that. Please use the latest snapshot build of htmlunit-android 2.59.0-SNAPSHOT. This build no longer requires this class.

2. ReferenceError: "WebAssembly"

[2022-02-22 23:57] dballardgh commented on #369
Hi @rbri, I've confirmed that htmlunit-2.59.0-SNAPSHOT.jar fixes this issue.

[2022-02-23 05:36] rbri commented on #369
Thanks

[2022-02-23 11:31] peberD commented on #369
Nice work!

[2022-02-26 03:14] sengsational commented on #133
Looks like 2.58.0-SNAPSHOT it got past the No static field INSTANCE problem :)

I do see the clipboard problem.

[2022-02-26 06:10] rbri commented on #133
The clipboard problem is already solved with the 2.59.0-SNAPSHOT

[2022-02-27 20:42] sengsational commented on #133
I'm getting "..msmxl/package-info; cannot be represented in dex format." when I try to build with 2.59.0

    ERROR:C:\Users\Owner\.gradle\caches\transforms-3\f854097ce0f653d98e93836a955978fe\transformed\jetified-htmlunit-android-2.59.0-SNAPSHOT.jar: D8: com.android.tools.r8.internal.r8: Class descriptor 'Lcom\gargoylesoftware\htmlunit\activex\javascript\msxml\package-info;' cannot be represented

[2022-02-28 03:55] linht12 opened #450 "illegal character"
Caused by: net.sourceforge.htmlunit.corejs.javascript.EvaluatorException: illegal character: � (http://j5.dfcfw.com/sc/js/trade/Hot_Em_CommonNew_min_20200410101224.js#1)
	at com.gargoylesoftware.htmlunit.javascript.HtmlUnitContextFactory$HtmlUnitErrorReporter.error(HtmlUnitContextFactory.java:433)
	at net.sourceforge.htmlunit.corejs.javascript.Parser.addError(Parser.java:257)
	at net.sourceforge.h

[2022-02-28 06:17] rbri commented on #450
Can you please add the Url you are using and the HtmlUnit version.

[2022-02-28 11:01] rbri commented on #133
@sengsational have updated the htmlunit-android-2.59.0-SNAPSHOT to remove the package-info.class files from the HtmlUnit part because they are not needed.

Please:
* open a new issue on https://github.com/HtmlUnit/htmlunit-android for this problem
* try the new snapshot build and inform about the results
* open a separate issue for every problem you are facing - it makes the tracking much simpler

[2022-02-28 11:33] linht12 commented on #450
@rbri
The URL of HTML is：http://fund.eastmoney.com/010990.html
The URL of js is：http://j5.dfcfw.com/sc/js/trade/Hot_Em_CommonNew_min_20200410101224.js
The htmlunit version is：2.58.0

[2022-02-28 11:53] rbri commented on #450
@linht12 thanks, will have a look

[2022-02-28 19:42] rbri commented on #450
think i found the reason - as always writing the unit tests requires some time, hope to have the fix ready soon

[2022-03-01 08:22] RuralHunter opened #451 "Object.getOwnPropertyDescriptor(Image.prototype, "src") returns 'undefined'"
In htmlunit, Object.getOwnPropertyDescriptor(Image.prototype, "src") returns 'undefined'.
Chrome returns {enumerable: true, configurable: true, get: ƒ, set: ƒ}

[2022-03-01 08:27] #450 closed, assigned to nobody

[2022-03-01 08:29] rbri commented on #450
Fixed, many thanks for the report - based on your info it was easy to reproduce. Please check twitter - will make a new snapshot build available soon.
And please verify the results, because i can't read Chinese :-)

[2022-03-01 08:30] rbri commented on #451
Will have a look....

[2022-03-01 11:43] qurikuduo opened #452 "get error charset when call page.asXml() or page.asNormalizedText() at HtmlUnit 2.58.0"
Hi, there, when I try to fetch html code and plain text of a URL, the content becomes garbled.
I think some where was not as good as your expected. When gzip was disabled at AcceptEncoding Header, everythin goes fine.
When gizp was enabled, com.gargoylesoftware.htmlunit.html.parser.neko.HtmlUnitNekoHtmlParser.parse() will be call and the charset of the page will be set to ISO_8859_1 in the HtmlUni

[2022-03-01 11:51] rbri commented on #452
Will have a look

[2022-03-01 11:58] qurikuduo commented on #452
When gzip was disabled, com.gargoylesoftware.htmlunit.util.EncodingSniffer.sniffEncodingFromMetaTag() will be called. and everything gose well.
Thanks a lot.

[2022-03-01 14:12] rbri commented on #452
Seems i found the problem - will try to write some tests for this and the fix seems to be simple.

[2022-03-01 17:06] #452 closed, assigned to nobody

[2022-03-01 17:08] rbri commented on #452
Fix is in the repo, will inform on twitter if the new snapshot is available.

Thanks for the report - hope that helps (if yes github stars or maybe some sponsoring is welcome)

[2022-03-02 01:34] qurikuduo commented on #452
Well done, bro! Thx a lot!
Already star! :)

[2022-03-02 03:52] sengsational commented on #133
Will attempt to the best of my abilities.  Thanks for your patience.

[2022-03-03 07:45] tea-blog opened #453 "How can I load local HTML files through HtmlUnit?"
Hello, I'm sorry to bother you, but i can't help it, and i need some help.
How can I load local HTML files through HtmlUnit?

[2022-03-03 08:38] rbri commented on #453
You can use a file:// url or read the file into a string and use https://htmlunit.sourceforge.io/faq.html#HowToParseHtmlString to make a page out of the string.

[2022-03-03 09:13] tea-blog commented on #453
Wow, thank you very much. ：）

[2022-03-03 09:14] #453 closed, assigned to nobody

[2022-03-03 09:29] rbri commented on #453
Your welcome (and github starts also :-))

[2022-03-04 03:25] asdf913 opened #454 "Typo in Change Report (Januar 23, 2022) (https://htmlunit.sourceforge.io/changes-report.html)"
https://htmlunit.sourceforge.io/changes-report.html

Type Found `Januar 23, 2022`

The correct spelling should be `January 23, 2022`

![image](https://user-images.githubusercontent.com/2301325/156693365-88005549-b9a3-4c73-94a6-4b6fc34ea2be.png)

[2022-03-04 08:39] #454 closed, assigned to nobody

[2022-03-04 08:39] rbri commented on #454
Thanks - fixed

[2022-03-06 14:04] rbri commented on #447
Released, thanks for this great suggestion

[2022-03-06 14:04] #447 closed, assigned to nobody

[2022-03-06 21:25] svbrunov commented on #440
Dear Ronald Brill (@rbri),

It seems that I have just reproduced it:

* HtmlUnit 2.59.0.
* URL: `https://ya.ru/`.

Please, see the output of the HtmlUnit JavaScript error listener.

Best regards,
Sergey Vyacheslavovich Brunov.

[2022-03-07 15:52] niloc132 commented on #447
Thanks! I'm sorry I haven't had time to go over it in depth, but I appreciate the work you've done to add this, both to support fetch and to give an example of how polyfills can be used to add features in the future.

[2022-03-07 16:57] Jaaap opened #455 "form elements within a <template/> are not isolated"
if you have a form with a template like this:
[code]
the `input`s in the template should have no effect on the form but they do.

Actual result:
[code]

Expected result:
[code]

[2022-03-07 16:59] rbri commented on #447
no prob, time is always the problem - same here.
Have already added proxy support using the same pattern - thanks again

[2022-03-07 17:53] alinelsilva opened #456 "com.gargoylesoftware.htmlunit.ScriptException: TypeError:"
I'm trying to access a link but I'm getting this error.

 ERROR 47351 --- [Client@7866a7a6] c.g.h.j.DefaultJavaScriptErrorListener   : Error during JavaScript execution

com.gargoylesoftware.htmlunit.ScriptException: TypeError: Cannot find function includes in object function onblur(event) {RestauraNFSeURL();
}. (https://notacarioca.rio.gov.br/Scripts/jquery-3.5.1.min.js#2)
	at com.gargoylesoftwar

[2022-03-07 18:34] rbri commented on #456
i think htmlunit is correct here, the site shows the same error when calling from the browser
![image](https://user-images.githubusercontent.com/2544132/157096040-163030fa-9dd6-4461-aaf1-0db6dbe59822.png)

think about setting this option

        // procced with the js execution on unhandled js errors
         webClient.getOptions().setThrowExceptionOnScriptError(false);

see e.g. https://htmlunit

[2022-03-07 19:18] alinelsilva commented on #456
I added this line already, but the error continues, I added a few others as I searched, but the error persists.

![image](https://user-images.githubusercontent.com/22075156/157102422-d22b1b00-5d44-4c86-be09-fb2a90014278.png)

[2022-03-07 19:26] rbri commented on #456
Ah, ok i guess there is a misunderstanding - the error itself is in the webpage and so the error persists. The only one that can solve this is the owner of the webpage by fixing the error.

The only thing the setThrowExceptionOnScriptError(false) setting does, is to make HtmlUnit behaving like real browser and ignoring (but still logging) the error but proceed with the js execution
You will still

[2022-03-07 19:50] alinelsilva commented on #456
So in that case there's not much to do about it? Your print didn't come.

[2022-03-07 21:43] rbri commented on #456
The print was on my first comment, it is a screenshot from the console of the real browser

I think you simply have to ignore this error....

[2022-03-08 00:01] basil opened #457 "HtmlUnit 2.59.0 subject to MCOMPILER-485"
### Steps to reproduce

Upgrade `jenkins-test-harness` from `jenkins-test-harness-htmlunit` 75.v279ef177dc2c / HtmlUnit 2.58.0 to `jenkins-test-harness-htmlunit` 77.vff6cc791d17f / HtmlUnit 2.59.0 as in jenkinsci/jenkins-test-harness#398, then run `mvn clean verify -DskipTests`.

### Expected results

The build passes.

### Actual results

The build fails with

[code]

### Evaluation

HtmlUnit 2.5

[2022-03-08 10:23] alinelsilva commented on #456
I understand. Thanks!

[2022-03-08 10:23] #456 closed, assigned to nobody

[2022-03-09 07:51] rbri commented on #451
Hi Rural,
made a new snapshot build available - hope this is fixed.

[2022-03-09 07:55] rbri commented on #457
@basil should i create a 2.59.1 release or do you like to wait for the 2.60.0 (april)?

[2022-03-09 09:29] RuralHunter commented on #451
Yes, this is fixed. Thanks!

[2022-03-09 09:29] #451 closed, assigned to nobody

[2022-03-09 15:21] basil commented on #457
No strong preference, but I have a slight preference for a 2.59.1 release as it allows us to quickly get past this event and stay on a rolling update train.

[2022-03-09 18:41] rbri commented on #455
The latest snapshot hopefully fixes this, please check.

[2022-03-10 07:55] zeng-shuo commented on #328
Has the problem been solved? I have a similar problem.

[2022-03-11 06:55] rbri commented on #328
@zeng-shuo even if i have done a lot of fixes for the canvas rendering this is not solved so far. The js code is really complex and uses many functions not simple to simulate in an headless browser (in fact there is no real page layouting in HtmlUnit and as far as i remember parts of chart.js depends on this.
Will be great if you can dig into this and point to some js stuff that does not work as i

[2022-03-11 06:58] rbri commented on #78
since 2.59 there is finally a workaround based on the polyfill support - check out https://htmlunit.sourceforge.io/webclient.html

[2022-03-11 07:41] rbri commented on #383
Hi @ChrisFrostBSI, sorry for being that late on this...
Have added your test case and it looks like it is working fine. Can you please check if this works for you with the latest release.

Again sorry

[2022-03-11 07:56] rbri commented on #383
Ok i think i got your point now. This is fixed now also.

[2022-03-11 08:17] zeng-shuo commented on #328
Well, thank you very much.

[2022-03-11 08:36] zeng-shuo commented on #328
When I use the toDataURL method in HTMLCanvasElement to get the image rendered by echartjs, the base64 encoding length of the image I get is shorter than that in the real browser. After restoring the image through base64, I get only the base image of the canvas without rendering.
Here is the information I got:
1. The canvas is not rendered, and the program mainly has the following errors
[com.garg

[2022-03-11 10:33] rbri commented on #283
With version 2.48.0 we added DomNode#asNormalizedText() to address this and with 2.55 DomNode#asText() was removed. This is solved.

[2022-03-11 10:33] #283 closed, assigned to rbri

[2022-03-11 12:52] rbri commented on #328
Even if all the issues are fixed, this will be the case. When running with selenium you are using the real browser (only driven by selenium instead of a real user); on the other hand HtmlUnit is a simulation - everything is recoded frrom scratch based on java. This implies some minor differences e.g. regarding color space handling, text hinting and anti aliasing. You will never get the same image

[2022-03-11 15:32] zeng-shuo commented on #328
Perhaps you can use the official website of echarts to demonstrate.
< https://echarts.apache.org/handbook/en/get-started/ >
[code]
But the program seems to report a lot of errors!

[2022-03-12 16:35] rbri commented on #455
@Jaaap is it working for you?

[2022-03-12 16:45] Jaaap commented on #455
I haven't tested it yet, i hope to have some free time next week.

[2022-03-13 03:46] Vampire opened #458 ""TypeError: redeclaration of formal parameter e." when trying to open https://discord.com/app"
I tried in trivial Geb specification that is configured with `new HtmlUnitDriver(true)` selenium html unit driver to `go "https://discord.com/app"`.
But unfortunately after a bunch of CSS errors, this fails with:
[htmlunit-error.txt](https://github.com/HtmlUnit/htmlunit/files/8238940/htmlunit-error.txt)

[2022-03-14 17:07] rbri commented on #457
@basil have updated the maven-compiler-plugin to version 3.10.1 and will release a new snapshot now.
I plan a new release for the weekend - hope this is ok for you.

[2022-03-14 17:10] rbri commented on #457
@basil you use HtmlUnit for jenkins - is ok to mention Jenkins as a user of HtmlUnit on our web site?

[2022-03-14 17:14] rbri commented on #457
made a new snapshot build using maven-compiler-plugin 3.10.1

[2022-03-14 17:18] basil commented on #457
Please direct this question to the [Jenkins Governance Board](https://www.jenkins.io/project/board/).

[2022-03-14 17:18] basil commented on #457
Thank you!

[2022-03-16 12:04] sowjanya143 opened #459 "Htmlpage.getPage returns empty webpage for a couple of urls"
Tried using 2.59.0 version but still result would an empty webpage for the below 2 URLs:

https://ir.youdao.com/
https://www.roku.com/investor/quarterly-results

[2022-03-17 07:27] rbri commented on #459
Hi Sowjanya,

have done a quick look on both pages. In fact they contain no ordinary dom nodes at all - the whole page you see in your browser is created (on the fly) inside your browser by running javascript. And for both pages, the js code seems to fail in HtmlUnit because not all current language features are supported. The js support is constantly improving but still behind the browser.

What

[2022-03-19 09:12] rbri opened #460 "Analyze - Fix Object.assign when undefined value and inextensible (#1186)"
This Rhino commit introduces an problem with core.js
Looks like i need more time to figure out what is going wrong here (incl. writing a tests case).

For the weekend switched back to the old code in NativeObject line 659.

[2022-03-19 21:28] svbrunov commented on #440
Dear Ronald Brill (@rbri),

It is reproducible with a new version of HtmlUnit:

* HtmlUnit 2.60.0.
* URL: `https://ya.ru/`.

Please, see the output of the HtmlUnit JavaScript error listener.

Best regards,
Sergey Vyacheslavovich Brunov.

[2022-03-19 22:23] #457 closed, assigned to rbri

[2022-03-20 18:02] rbri commented on #460
Think i found the problem - hope there will be a fix soon (https://github.com/mozilla/rhino/issues/780)

[2022-03-22 08:14] RuralHunter opened #461 "Add 'Origin' header to same-origin non-GET requests"
Currently HtmlUnit only adds 'Origin' header for true CORS requests.

https://stackoverflow.com/questions/15512331/chrome-adding-origin-header-to-same-origin-request

Per the link above, "Chrome and Safari include an Origin header on same-origin POST/PUT/DELETE requests (same-origin GET requests will not have an Origin header)". I checked the latest version of Firefox, it also adds Origin header f

[2022-03-22 09:26] rbri commented on #461
Sounds reasonable - do you have some time to write an additional test for this case (maybe in HttpWebConnection3Test)

[2022-03-22 11:12] RuralHunter commented on #461
I will try.

[2022-03-22 13:11] RuralHunter commented on #461
I checked Edge and it also adds the Origin header. HtmlUnit actually has already added this header for form post in [HtmlForm](https://github.com/HtmlUnit/htmlunit/blob/91e4ceac6b97c10ff80c86a41b54aaef792ab527/src/main/java/com/gargoylesoftware/htmlunit/html/HtmlForm.java#L351), though missing for Edge(It does not have FORM_SUBMISSION_HEADER_ORIGIN feature currently). So I think in HttpWebConnecti

[2022-03-23 01:54] RuralHunter commented on #461
Oh sorry I was wrong. Edge do have the FORM_SUBMISSION_HEADER_ORIGIN feature. The one lacks is IE and I think it's ok(I don't have IE to test it).

[2022-03-23 06:15] RuralHunter commented on #461
I copied the refererHeader() in XMLHttpRequestTest and updated accordingly. How about that?
[code]

[2022-03-23 06:31] RuralHunter opened #462 "Jetty web server in test cases fails to start on my computer"
It googled around and found it might be related to the core number of my CPU. But anyway all the tests using Jetty web server fails with this exception:
[code]
I increased the maxThreads parameter from 5 to 10 in [this line](https://github.com/HtmlUnit/htmlunit/blob/f9b898ae78aee95ea156f538e8028c90c36c0704/src/test/java/com/gargoylesoftware/htmlunit/WebDriverTestCase.java#L1542) and the error is g

[2022-03-23 06:38] rbri commented on #461
good idea, have the test running (and failing). Will provide a new snapshot soon.

[2022-03-23 09:59] rbri commented on #461
OK think i have fixed this - lets ask the CI if i broke something

[2022-03-23 12:17] RuralHunter commented on #461
Thanks!

[2022-03-23 12:17] #461 closed, assigned to nobody

[2022-03-23 15:42] rbri commented on #462
Have removed the limit completely, i guess this is an result of the older limited build server i had. Looks again fine without that code.

[2022-03-23 15:42] #462 closed, assigned to nobody

[2022-03-23 16:44] rbri commented on #455
Release so i close this.

[2022-03-23 16:44] #455 closed, assigned to nobody

[2022-03-23 18:22] rbri commented on #442
Did some testing with this - when i run this i got a NPE because both counters are null (undefined).

Looks like driver.findElement(codeTab).click(); drops the variables.

I fear it will be a nightmare to debug the github  js code to figure out where the error in HtmlUnit is. Do you have any simpler example?

[2022-03-23 18:33] rbri commented on #440
hi sergey,

did some testing right now and i was able to see your problem once. But after reloading i got now a different error - this time the js parser fails while parsing https://ya.ru/captcha_smart.min.js. Maybe someone changed the page source.
Can you please verify.

Maybe you can set webClient.getOptions().setThrowExceptionOnScriptError(false); to ignore this errors and proceed.

[2022-03-23 18:34] rbri commented on #431
Hi @ashleyfrieze,
the last release contains a fix for the script execution order - can you please check if this had some impact on this.

[2022-03-23 18:38] rbri commented on #365
Thanks for the feedback, and thanks for the bug report.

[2022-03-23 18:38] #365 closed, assigned to rbri

[2022-03-24 01:19] RuralHunter commented on #462
Thanks!

[2022-03-25 08:26] rbri commented on #214
Have checked this again, it seems to work now (even if the feature is declared as experimental).

![image](https://user-images.githubusercontent.com/2544132/160082946-8ed05b0b-e27d-4cbf-86fd-751865978e4c.png)

On the project property dialog select checkstyle and check the option on the right to generate the configs. Then enable to code style and formatter setting by importing them.

[2022-03-25 08:27] #214 closed, assigned to nobody

[2022-03-25 08:48] rbri commented on #383
No further complains - i guess this works now. Please reopen if you still have problems.
Many thanks for this.

[2022-03-25 08:48] #383 closed, assigned to nobody

[2022-03-25 09:06] rbri commented on #223
Again two months later... Sorry
Your fix breaks some other tests, i have a different solution in mind now .- lets cross our fingers.

[2022-03-25 11:59] rbri commented on #223
@bclozel @thuri - there is a new snapshot 2.61.0-SNAPSHOT. Please try....

[2022-03-25 17:17] rbri commented on #269
Sorry for working that late on this - looks like the page was changed and has new problems now.
Will close this - please open a new one if you still have problems (and you still use HtmlUnit ;-))

[2022-03-25 17:17] #269 closed, assigned to rbri

[2022-03-26 09:43] thuri commented on #223
Hi @rbri , glad you found the time to look into this.
I updated my [Test Project](https://github.com/thuri/htmlunit-test-project/tree/JQueryAjax)  to 2.61.0-SNAPSHOT
and the issue seems to be resolved there :partying_face:

BUT it looks like sending the data application/x-www-form-urlencoded using the GET method is broken now.
(See Test AJAXControllerTest#submissionsucceeds)

I didn't had the time

[2022-03-26 12:53] rbri commented on #360
Think most of the stuff is addressed, the bunch of FIXME is now related to FF. Will close this.

Again many thanks bug reports and detailed test cases.

[2022-03-26 12:53] #360 closed, assigned to rbri

[2022-03-26 12:55] rbri commented on #42
Sorry, this is too old, will close this. Again sorry for the missing support here.
If you still use HtmlUnit and facing problems please open a new one.

[2022-03-26 12:55] #42 closed, assigned to nobody

[2022-03-26 12:56] #69 closed, assigned to nobody

[2022-03-26 13:00] rbri commented on #88
There is a method in WebClient to parse a page from a string (see https://htmlunit.sourceforge.io/faq.html#HowToParseHtmlString), You can read the resource into a string and then use this.

Hope that helps (even if the response is a bit late (sorry).

[2022-03-26 13:00] #88 closed, assigned to nobody

[2022-03-26 13:05] rbri commented on #93
Sorry @JaviRpo to be that late on this. I fear the page has undergone some changes over the time. Did a quick test and it looks like major parts of the page are generated by javascript - and parts of the js code is failing because of the not perfect js support in HtmlUnit.
Will close this because it is too old.

Sorry

[2022-03-26 13:05] #93 closed, assigned to nobody

[2022-03-26 13:10] rbri commented on #223
@thuri thanks for testing, from my point of view i have nothing changed in the processing of xmlhttp requests. will have a look at your finding - i really like to get this closed ;-)

[2022-03-26 14:39] RuralHunter opened #463 "Height of HtmlTable calculation is wrong"
This is the demonstration:
Test html:
[code]
Test code
[code]
The table height returned is the heights added up from all TDs. While the actual result should be the height of one TD.
I traced the code and think the problem is [here](https://github.com/HtmlUnit/htmlunit/blob/485ba1c80f90c6b44cd363f4d9f7882e8a1208f8/src/main/java/com/gargoylesoftware/htmlunit/javascript/host/css/ComputedCSSStyleDecla

[2022-03-26 15:39] skyhirider commented on #442
I've tested it on another site and its failing, thou differently (expected is 6, returned is 8)

[code]

[2022-03-26 18:31] rbri commented on #223
ok, think i found it - but it looks like spring needs something special here....

[2022-03-27 04:21] RuralHunter commented on #463
[One more place](https://github.com/HtmlUnit/htmlunit/blob/485ba1c80f90c6b44cd363f4d9f7882e8a1208f8/src/main/java/com/gargoylesoftware/htmlunit/javascript/host/css/ComputedCSSStyleDeclaration.java#L1379), to calculate the height of TR, HtmlTableDataCell also need to be handled specially by adding it to the children style list. So that the height of TR is calculated from the max height of its chidr

[2022-03-27 10:17] rbri commented on #223
Have created an Spring issue because i think it makes no sense to solve this in HtmlUnit only.
Hope we can agree on something here soon.

[2022-03-27 10:39] rbri commented on #442
@skyhirider do you see any chance to have this kind of test for simple pages - at best under our control.
This will make it much more easy for me to write a isolated test and fix it.

[2022-03-27 11:56] #417 closed, assigned to rbri

[2022-03-27 14:27] skyhirider commented on #442
Frankensteined this test with a previous one I posted for another issue way back, no external site dependency now, even if it is a bit messier :)

[code]

[2022-03-27 14:49] rbri commented on #442
Great, thanks this is a great starting point, i fear there are many holes in the current impl.

[2022-03-27 15:00] skyhirider commented on #442
Seems so, but its still a great library and the only way to run a driver purely in java. I didn't experience any major issues apart from the few cases that I have reported.

I wonder if you could re-use test cases from other driver libraries by swapping where they are ran and see how well HtmlUnit holds.

The HtmlUnit driver + browser is an adapter so I presume the port (interface) should have tes

[2022-03-27 15:46] rbri commented on #442
Hi @skyhirider,
another really interesting riddle!

Base on your code a made this simple HtmlPage

    <html>
    <body>
	<button id="testButton">Click me</button>
	<div id="logArea"></div>

	<script>
	const button = document.getElementById('testButton');
	const div = document.getElementById('logArea');
	button.addEventListener('click', e => {
		div.innerHTML += "click ";    });
		const targetNode

[2022-03-27 19:12] skyhirider commented on #442
Huh, interesting. And confusing. We could report it as a gecko driver bug, as I've tested htmlunit against the chrome driver and those produce the same result.

[code]

[2022-03-27 19:33] skyhirider commented on #442
I am also wondering if the original bug I reported was the same as the old test code throws a nullpointer. So the test cases may be different.

[2022-03-28 11:09] rbri commented on #442
Great

In fact that is the only way to do this project - 90% of all testcases can run with HtmlUnit (for every supported browser) and using the WebDriver to run exactly the same test against the real counterpart to validate the expected results. Every time a browser gets updated i have to rerun the test suite here to get an idea about changes.
On the other hand i have to write detailed single func

[2022-03-28 11:10] rbri commented on #442
Will try to report the second problem as selenium bug and then come back to the first one (NPE).

[2022-03-31 12:23] RuralHunter opened #471 "WebResponse.getContentAsStreamWithBomIfApplicable() overriding is missing in WebResponseWrapper"
This causes css cache loading error. In [CssStyleSheet](https://github.com/HtmlUnit/htmlunit/blob/0b584703da623b898c15e0c0ffeead6dffacb4c5/src/main/java/com/gargoylesoftware/htmlunit/css/CssStyleSheet.java#L276), if the response is from cache, then the response is a WebResponseWrapper(extended from WebResponseWrapper) instance. Since the method getContentAsStreamWithBomIfApplicable() is not overri

[2022-03-31 22:35] tntim96 opened #472 "Add support for Jasmine 4.0.1"
I've just tried upgrading `JSCover` to use Jasmine 4.0.1 and when running `HtmlUnitJSTest` I get:
[code]

That line of JavaScript in Jasmine 4.0.1 is the 3rd one below:
[code]

[2022-04-02 16:04] asdf913 opened #473 "package-info.class cause "org.sonarsource.scanner.maven:sonar-maven-plugin:3.2:sonar" failure since 2.59.0"
*org.sonarsource.scanner.maven:sonar-maven-plugin:3.2:sonar* raise below *ERROR* message.
[ERROR] Failed to execute goal org.sonarsource.scanner.maven:sonar-maven-plugin:3.2:sonar (default-cli) on project \*\*\*\*-\*\*\*\*\*\*\*-\*\*\*\*\*\*: Can not execute Findbugs: java.lang.AssertionError: Can't find ClassInfo for com\gargoylesoftware\htmlunit\package-info

![image](https://user-images.githubu

[2022-04-02 21:28] rbri commented on #473
Please switch to 2.60.0 this is (hopefully) already fixed.

[2022-04-03 02:57] asdf913 commented on #473
There are  package-info.class in htmlunit 2.60.0
![image](https://user-images.githubusercontent.com/2301325/161409297-73fb27d7-1701-4af2-b2c7-fed22d51f013.png)

[2022-04-03 06:47] rbri commented on #473
Strange - my guess was this is related to #457.

[2022-04-04 05:30] sowjanya143 commented on #459
Hi @rbri, Please let me know how to proceed with debugging, I would like to analyze and try to provide you a clear point of failure.

[2022-04-05 08:42] rbri commented on #471
Hi @RuralHunter ,
had a first look at your problem. Sounds clear so far but i like to build a test case for this also. So far i have problems simulating your case.
Do you have any hint for this. My problem is to find a case where the

    final Object fromCache = cache.getCachedObject(request);

does not detect the css as from cache but the repsonse itself is from the case.

[2022-04-05 09:36] RuralHunter commented on #471
ah yes, this happens when I was trying to implement a FileCache, which only caches responses but not the parsed css objects. Looks it won't trigger the problem with the builtin cache since the response is always cleaned before the css object gets cleaned.

[2022-04-05 10:38] rbri commented on #471
Ah ok will fix it soon

[2022-04-05 12:02] RuralHunter commented on #471
Great!

[2022-04-05 12:02] #471 closed, assigned to nobody

[2022-04-05 17:44] rbri commented on #473
From the Mavan PR https://github.com/apache/maven-compiler-plugin/pull/88

Can you please verify that the version 2.60.0 still causes problems with sonarsource.scanner - yes i know that the files are still available in 2.60.0 but they are now correct java files and should not harm.

[2022-04-06 06:16] asdf913 commented on #473
It is verified that **sonarsource.scanner** could run property for htmlunit 2.60.0.

[2022-04-06 06:42] rbri commented on #473
@asdf913 means i can close this?

[2022-04-06 07:02] asdf913 commented on #473
Yes

[2022-04-06 07:23] rbri commented on #473
Thanks for the feedback, enjoy using HtmlUnit

[2022-04-06 07:23] #473 closed, assigned to rbri

[2022-04-06 15:39] rbri commented on #459
There is some description here https://htmlunit.sourceforge.io/submittingJSBugs.html

In general the idea is:
* make sure you are able to modify the js code used by the page that creates the problem (e.g. by using a web proxy that can manipulate the responses)
* use the proxy for the real browser and for HtmlUnit
* add log or alert statements to the code and try to get to the point where HtmlUnit

[2022-04-06 17:26] rbri commented on #442
https://github.com/SeleniumHQ/selenium/issues/10520

[2022-04-07 06:01] rbri commented on #442
https://github.com/mozilla/geckodriver/issues/2002

[2022-04-07 19:29] rbri commented on #442
Ok, i found the reason for the NPE - looks like clicking the button changes the current page in HtmlUnitDriver and based on this the property are back to undefined.
Have to dig deeper to find the reason for this.

[2022-04-08 06:01] deligkarisk opened #475 "Incompatibility with bootstrap-table (Cannot modify readonly property: constructor)"
I have a page that is using [bootstrap-table  ](https://bootstrap-table.com/) and I am trying to test it with HtmlUnit (SpringBoot with Thymeleaf)

This is what I get when I try to run
`HtmlPage htmlPage = webClient.getPage("requestTopage");`

[code]

It seems to be similar to earlier problems, but I am not overly sure either (e.g. https://sourceforge.net/p/htmlunit/bugs/1974/)

[2022-04-08 08:49] RuralHunter opened #476 "Uint8Array.subarray problem"
The result of subarray of another subarray is wrong. Test code:
[code]
In htmlunit, the output is:
[code]
The correct result or the result from real browser is:
[code]

[2022-04-08 09:03] rbri commented on #476
Thanks will have a look

[2022-04-08 15:19] rbri commented on #476
Thanks @RuralHunter, this is clearly a Rhino issue, will fix this over the weekend.
Great finding -seems to be there since the first impl in 2014 :-)

[2022-04-09 06:27] RuralHunter commented on #476
thanks for the quick fix as always!

[2022-04-09 06:27] #476 closed, assigned to nobody

[2022-04-09 06:44] rbri commented on #476
Will inform you if a new snapshot containing the fix is available

[2022-04-15 01:42] RuralHunter opened #477 "Chunked response handling is not supported"
I met a web site using long xhr connection, handling xhr.onreadystatechange event(LOADING) with chunked response from server side. In htmlunit, currently the xhr sending operation only returns when all the response content has been received. This makes the xhr.onreadystatechange event hanlding process on the site broken.

[2022-04-15 18:55] randyl opened #478 "mouseOver() on jQuery UI autocomplete menu"
I have a jQuery UI autocomplete widget where I type a few characters to produce a menu of suggestions. I'm trying to test that a suggestion is highlighted when mousing over it. However, the test fails because it never sees the highlighting class appear, even though the class does appear in the browser. I've made a test case using a demo from jQuery UI's website:

[code]

When I run this code, it f

[2022-04-19 22:05] cbartolome opened #479 "Can't type into an HtmlTimeInput?"
I'm using a `sendKeys()` call in Selenium to type a time into an HTML Time input, but `HtmlTimeInput` doesn't override `doType()`, so the incoming keystrokes are ignored. (Additionally, `HtmlTimeInput` is missing from a few blocks of `instanceof` checks that decide whether to fire an `input` JS event, but first things first.)

[2022-04-20 08:48] rbri commented on #449
made a hack to work around this

https://github.com/HtmlUnit/htmlunit-rhino-fork/commit/691fb57806a74a512142e8897fb4a6a440440a2d

[2022-04-20 08:50] rbri commented on #449
see com.gargoylesoftware.htmlunit.javascript.JavaScriptEngine2Test.constInOfLoop() for a test case

[2022-04-21 15:49] randyl commented on #478
Something strange I just noticed: when the first suggestion is moused over, HtmlUnit doesn't see the `ui-state-active` class. But if you then mouse over the second suggestion, HtmlUnit will see that class. If the first suggestion is moused over again, HtmlUnit will also see that class. So just the first mouseOver doesn't work for some reason.

Here's a sample program that shows this behavior:
[cod

[2022-04-22 01:39] sengsational opened #480 "ScriptException: identifier is a reserved word: class"
This exception is being thrown and I think it might be why I'm unable to progress through testing.

    Exception class=[net.sourceforge.htmlunit.corejs.javascript.EvaluatorException]
    com.gargoylesoftware.htmlunit.ScriptException: identifier is a reserved word: class (https://member.bcbsnc.com/blueconnect/web/js/chunk-vendors.2f859219.js#3)
        at com.gargoylesoftware.htmlunit.javascript.J

[2022-04-24 15:32] sengsational commented on #480
I have recreated the error in IntelliJ with htmlunit built from source, but it appears that the problem is in either `net.sourceforge.htmlunit.cyberneko` or `net.sourceforge.htmlunit.corejs.javascript` (the build has those as jars).

The exception is thrown by this line: https://github.com/HtmlUnit/htmlunit/blob/a7d65d735168f923c636476245b149f7d1eeb444/src/main/java/com/gargoylesoftware/htmlunit/j

[2022-04-27 11:52] RuralHunter commented on #238
I found the problem is because constructor is defined as read only [here in rhino](https://github.com/mozilla/rhino/blob/49fa79350ea14df784fc08f07d3f44c9f3801f34/src/org/mozilla/javascript/FunctionObject.java#L300). Not sure if it is correct or not.

[2022-04-28 06:24] RuralHunter opened #482 "com.gargoylesoftware.htmlunit.ScriptException: Window is not a function"
test code:
[code]
Array.from.call fails with the exception as the title. The same script runs fine in browser.

[2022-04-28 07:16] RuralHunter commented on #482
It seems throwing ScriptRuntime.typeError instead of Context.reportRuntimeError in window.constructor() fixes the problem.

[2022-04-28 08:47] rbri commented on #482
My fix is a bit more general - again some leftover from IE6 i guess.
Lets see if the CI is happy with this - and if yes i will make a new snapshot.

[2022-04-28 09:37] rbri commented on #482
CI is happy - next snapshot is out - many thanks

[2022-04-28 09:37] #482 closed, assigned to rbri

[2022-04-28 11:04] RuralHunter commented on #482
great, thanks.

[2022-04-30 15:55] sengsational commented on #411
I was trying to work on this, but I'm at a loss as to how configure the build such that I can step into `net.sourceforge.htmlunit.corejs` classes.  This isn't the right place to ask, but maybe a pointer here to where to ask about specifics associated with build configuration which would use source for core js instead of the "jar".

[2022-04-30 18:12] sengsational commented on #480
Looking in `htmlunit-rhino-fork`, I found the error that's thrown under **class decorators** in `htmlunit-rhino-fork/docs/compat/engines.html`.  If I'm reading this right, it's saying that mozilla/rhino does not support javascript class decorators.

The following is given as an example:

    class A {
      @nonconf
      get B() {}
    }
    function  nonconf(target, name, descriptor) {
      des

[2022-04-30 18:41] rbri commented on #480
Will try to have a look....

[2022-05-04 09:18] comschmid commented on #411
@sengsational This depends on your development environment. For example, with Eclipse you can set the Java Source Attachement to the referenced library (htmlunit-core-js-2.61.1.jar in this case). Then set a break point in your code, run it and step into the code (F5).

@rbri I tried to find a problematic URL by writing after each URL request its current CPU consumption. Unfortunately there is not

[2022-05-09 14:02] jeffcjohnson commented on #480
Was just coming to write a ticket for this.  If it helps, here's a one-liner to reproduce:

[code]

[2022-05-10 07:16] qurikuduo commented on #406
U should check your program's log to ensure where the problem is. May be u were baned by the website.

[2022-05-10 07:23] #406 closed, assigned to nobody

[2022-05-11 14:58] grantwforsythe commented on #310
I started getting this exception after updating from version `2.34`. Below is an example of the request:
[code]
The exception is being thrown intermittently as I am signing in and out of multiple accounts. The first time making the request **always** fails.

[2022-05-11 16:31] rbri commented on #310
@grantwforsythe do you have a page for me to test this?
Can you please post your whole stack trace.

[2022-05-13 01:12] RuralHunter opened #483 "CSSException: Invalid selector: *:-moz-placeholder-shown"
I'm getting the exception when calling HTMLElement.getOffsetHeight()
[code]